<!-- *** VENTANA DE REGISTRO DE MULTIPLES PLANIFICACIONES *** -->
<div style="padding-top: 20px;" *ngIf="asignar">
    <app-horarios-multiples [seleccionados]="seleccionados">
    </app-horarios-multiples>
</div>

<!-- *** VENTANA DE REGISTRO INDIVDUAL DE PLANIFICACION *** -->
<div style="padding-top: 20px;" *ngIf="ventana_horario">
    <app-registo-empleado-horario [data_horario]="data_horario">
    </app-registo-empleado-horario>
</div>

<!-- *** VENTANA DE BUSQUEDA DE PLANIFICACIONES  *** -->
<div style="padding-top: 20px;" *ngIf="ventana_busqueda">
    <app-buscar-planificacion [resultados]="resultados">
    </app-buscar-planificacion>
</div>

<!-- ************** PANTALLA ELIMINAR REGISTROS ************************* -->
<div class="container" style="padding-top: 20px;" *ngIf="eliminar_plan">
    <app-eliminar-individual [datosEliminar]="eliminar_horarios"></app-eliminar-individual>
</div>

<!-- ************** PANTALLA DE REGISTRO DE HORARIO ROTATIVO ************************* -->
<div style="padding-top: 20px;" *ngIf="registrar_rotativo">
    <app-registro-plan-horario [datoEmpleado]="rotativo"></app-registro-plan-horario>
</div>

<!-- ************** PANTALLA DE REGISTRO DE HORARIO ROTATIVO ************************* -->
<div style="padding-top: 20px;" *ngIf="plan_rotativo">
    <app-planificacion-multiple [datosSeleccionados]="data_horario"></app-planificacion-multiple>
</div>

<!-- ************** PANTALLA DE CARGA DE PLANIFICACION HORARIA ************************* -->
<div style="padding-top: 20px;" *ngIf="cargar_plantilla">
    <app-cargar-plantilla-planificacion [datosSeleccionados]="data_cargar"></app-cargar-plantilla-planificacion>
</div>

<!--  *********************** PANTALLA DETALLE DE HORARIOS ********************************* -->
<app-ver-horario-detalle *ngIf="ver_horario" [idHorario]="horario_id" [pagina]="pagina"></app-ver-horario-detalle>

<div style="padding-top: 20px;" *ngIf="seleccionar">
    <div id="titulo">PLANIFICACIÓN HORARIA</div>
    <mat-card class="example-card mat-elevation-z9">
        <mat-card-content>
            <div id="resultados">
                <span>CRÍTERIOS DE BÚSQUEDA</span>
            </div>
            <br>
            <form>
                <mat-radio-group class="d-flex flex-wrap justify-content-center" [formControl]="seleccion">
                    <mat-radio-button class="example-radio-button" *ngFor="let c of check" [value]="c.opcion"
                        (change)="BuscarPorTipo($event)">
                        <label id="textoradiobtn">{{c.valor}}</label>
                    </mat-radio-button>
                </mat-radio-group>
            </form>
            <!--  ***********************  FORM PARA REGIMEN LABORAL  **************************  -->
            <form *ngIf="_booleanOptions.bool_reg">
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Sucursal</mat-label>
                                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_suc.value, 6)"
                                    [formControl]="nombre_suc" type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-icon matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de sucursales por nombre.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Régimen Laboral</mat-label>
                                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_reg.value, 7)"
                                    [formControl]="nombre_reg" type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-icon matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de régimen laboral por nombre.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
            <!--  *********************************  FORM PARA CARGOS  ****************************  -->
            <form *ngIf="_booleanOptions.bool_cargo">
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Sucursal</mat-label>
                                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_suc.value, 6)"
                                    [formControl]="nombre_suc" type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-icon matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de sucursales por nombre.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Cargo</mat-label>
                                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_carg.value, 1)"
                                    [formControl]="nombre_carg" type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-icon matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de cargos por su descripción.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
            <!--  *************************  FORM PARA DEPARTAMENTOS  **************************  -->
            <form *ngIf="_booleanOptions.bool_dep">
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Sucursal</mat-label>
                                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_suc.value, 6)"
                                    [formControl]="nombre_suc" type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-icon matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de sucursales por nombre.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Departamento</mat-label>
                                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_dep.value, 2)"
                                    [formControl]="nombre_dep" type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-icon matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de departamentos por nombre.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
            <!--  **************************  FORM PARA EMPLEADOS  ***************************  -->
            <form *ngIf="_booleanOptions.bool_emp">
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Sucursal</mat-label>
                                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_suc.value, 6)"
                                    [formControl]="nombre_suc" type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-icon matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de sucursales por nombre.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Nombres</mat-label>
                                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_emp.value, 5)"
                                    [formControl]="nombre_emp" type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-icon matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de datos de empleado por nombre.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Código</mat-label>
                                <input matInput placeholder="Buscar" (input)="Filtrar(codigo.value, 3)"
                                    [formControl]="codigo" (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de datos de empleado por código.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Cédula</mat-label>
                                <input matInput placeholder="Buscar" maxlength="10" (input)="Filtrar(cedula.value, 4)"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    [formControl]="cedula" type="text" (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de datos de empleado por cédula de identificación.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>

            <div *ngIf="activar_boton" class="d-flex flex-wrap justify-content-center" style="padding-top: 15px;">
                <button id="btn-raised" class="btn btn-sm" (click)="GuardarRegistros(0, 'e')" *ngIf="getEliminarPlanificaciones()">
                    Eliminar
                </button>
                <button id="btn-raised" class="btn btn-sm" (click)="GuardarRegistros(0, 'b')" *ngIf="getBuscarPlanificaciones()">
                    Buscar Planificación
                </button>
                <button id="btn-raised" class="btn btn-sm" (click)="GuardarRegistros(0, 'p')" *ngIf="getPlanificacionFija()">
                    Planificación Fija
                </button>
                <button id="btn-raised" class="btn btn-sm" (click)="GuardarRegistros(0, 'm')" *ngIf="getPlanificacionMultiple()">
                    Planificación Múltiple
                </button>
                <button id="btn-raised" class="btn btn-sm" (click)="VerCargarTimbres()" *ngIf="getAsignarTimbres()">
                    Asignar timbres
                </button>
                <button id="btn-raised" class="btn btn-sm" (click)="GuardarRegistros(0, 'c')" *ngIf="getCargarPlantilla()">
                    Cargar plantilla
                </button>
                <button id="btn-raised" class="btn btn-sm" (click)="LimpiarFormulario()">Cancelar</button>
            </div>

            <hr *ngIf="activar_cargar">

            <div id="titulo" *ngIf="activar_cargar">
                <span>
                    CARGAR TIMBRES
                </span>
                <mat-icon class="float-right" id="cerrar" (click)="CerrarCargarTimbres()">highlight_off</mat-icon>
            </div>
            <mat-card class="example-card mat-elevation-z8" *ngIf="activar_cargar">
                <div class="d-flex flex-wrap justify-content-center" style="padding-top: 5px;">
                    <!-- FORMULARIO COMPLETO -->
                    <form [formGroup]="timbre">
                        <mat-card-content>
                            <div class="container" style="text-align: center;">
                                <div class="nota" style="text-align: justify;">
                                    <span>
                                        NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para
                                        activar el botón Cargar.
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="row">
                                            <div class="col-md d-flex flex-wrap justify-content-start">
                                                <mat-form-field id="campos">
                                                    <mat-label>Fecha desde</mat-label>
                                                    <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa"
                                                        [formControl]="fechaInicioF" min="1950-01-31" max="2050-01-31"
                                                        required>
                                                    <mat-datepicker-toggle matSuffix [for]="picker" id="i-cursor"
                                                        matTooltipPosition="right"
                                                        matTooltip="Seleccionar la fecha dando click en el ícono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker touchUi #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md d-flex flex-wrap justify-content-start">
                                                <mat-form-field id="campos">
                                                    <mat-label>Fecha hasta</mat-label>
                                                    <input matInput [matDatepicker]="picker2" placeholder="dd/mm/aaaa"
                                                        [formControl]="fechaFinalF" required>
                                                    <mat-datepicker-toggle matSuffix [for]="picker2" id="i-cursor"
                                                        matTooltipPosition="right"
                                                        matTooltip="Seleccionar la fecha dando click en el ícono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker touchUi #picker2></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap justify-content-center">
                                <button id="btn-raised" class="btn btn-sm" (click)="GuardarRegistros(0, 't')"
                                    [disabled]="!timbre.valid">
                                    Cargar
                                </button>
                            </div>
                        </mat-card-content>
                    </form>
                </div>
            </mat-card>

            <hr>

            <!--  ****************************  TABLA PARA REGIMEN  ****************************  -->
            <div *ngIf="_booleanOptions.bool_reg && mostrarTablas" class="mat-elevation-z8" style="background: white;">
                <div class="d-flex bd-highlight" id="resultados">
                    <span class="w-100 bd-highlight">
                        RESULTADO RÉGIMEN LABORAL
                    </span>
                    <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                        (click)="MostrarLista()">Mostrar lista</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th>
                                    <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                        matTooltipPosition="right"
                                        matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                        (click)="HabilitarSeleccion()">
                                        library_add_check
                                    </mat-icon>
                                    <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterToggleReg() : null"
                                        [checked]="selectionReg.hasValue() && isAllSelectedReg()"
                                        [indeterminate]="selectionReg.hasValue() && !isAllSelectedReg()"
                                        [aria-label]="checkboxLabelReg()">
                                    </mat-checkbox>
                                </th>
                                <th scope="col">Sucursal</th>
                                <th scope="col">Régimen Laboral</th>
                                <th scope="col">Planificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let r of regimen | sucNombre: filtroNombreSuc | emplNombre: filtroNombreReg | paginate:tamanio_pagina_reg:numero_pagina_reg">
                                <td>
                                    <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionReg.toggle(r) : null"
                                        [checked]="selectionReg.isSelected(r)" [aria-label]="checkboxLabelReg(r)">
                                    </mat-checkbox>
                                </td>
                                <td>{{r.sucursal}}</td>
                                <td>{{r.nombre}}</td>
                                <td>
                                    <i (click)="GuardarRegistros(r, 'p')" id="plan" *ngIf="auto_individual && getPlanificacionFija()"
                                        class="fa fa-calendar" matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de asignación de planificación fija.">
                                        <p>Fija</p>
                                    </i>
                                    <i (click)="GuardarRegistros(r, 'm')" id="multiple_" *ngIf="auto_individual && getPlanificacionMultiple()"
                                        class="fa fa-files-o" matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de asignación de planificación múltiple.">
                                        <p>Multiple</p>
                                    </i>
                                    <i (click)="GuardarRegistros(r, 'b')" id="busca" *ngIf="auto_individual && getBuscarPlanificaciones()"
                                        class="fa fa-search" matSuffix matTooltipPosition="right"
                                        matTooltip="Búsqueda de planificaciones asignadas.">
                                        <p>Buscar</p>
                                    </i>
                                    <i (click)="GuardarRegistros(r, 'e')" id="elimina_" *ngIf="auto_individual && getEliminarPlanificaciones()"
                                        class="far fa-trash-alt" matSuffix matTooltipPosition="right"
                                        matTooltip="Eliminar planificaciones asignadas.">
                                        <p>Eliminar</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="regimen.length" [pageSize]="tamanio_pagina_reg"
                    [pageSizeOptions]="pageSizeOptions_reg" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
                <br>
            </div>

            <!--  ***************************  TABLA PARA CARGOS  ***************************  -->
            <div *ngIf="_booleanOptions.bool_cargo && mostrarTablas" class="mat-elevation-z8"
                style="background: white;">
                <div class="d-flex bd-highlight" id="resultados">
                    <span class="w-100 bd-highlight">
                        RESULTADO CARGOS
                    </span>
                    <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                        (click)="MostrarLista()">Mostrar lista</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th>
                                    <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                        matTooltipPosition="right"
                                        matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                        (click)="HabilitarSeleccion()">
                                        library_add_check
                                    </mat-icon>
                                    <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterToggleCarg() : null"
                                        [checked]="selectionCarg.hasValue() && isAllSelectedCarg()"
                                        [indeterminate]="selectionCarg.hasValue() && !isAllSelectedCarg()"
                                        [aria-label]="checkboxLabelCarg()">
                                    </mat-checkbox>
                                </th>
                                <th scope="col">Sucursal</th>
                                <th scope="col">Cargo</th>
                                <th scope="col">Planificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let c of cargos | sucNombre: filtroNombreSuc | emplNombre: filtroNombreCarg | paginate:tamanio_pagina_car:numero_pagina_car">
                                <td>
                                    <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionCarg.toggle(c) : null"
                                        [checked]="selectionCarg.isSelected(c)" [aria-label]="checkboxLabelCarg(c)">
                                    </mat-checkbox>
                                </td>
                                <td>{{c.sucursal}}</td>
                                <td>{{c.nombre}}</td>
                                <td>
                                    <i (click)="GuardarRegistros(c, 'p')" id="plan" *ngIf="auto_individual && getPlanificacionFija()"
                                        class="fa fa-calendar" matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de asignación de planificación fija.">
                                        <p>Fija</p>
                                    </i>
                                    <i (click)="GuardarRegistros(c, 'm')" id="multiple_" *ngIf="auto_individual && getPlanificacionMultiple()"
                                        class="fa fa-files-o" matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de asignación de planificación múltiple.">
                                        <p>Multiple</p>
                                    </i>
                                    <i (click)="GuardarRegistros(c, 'b')" id="busca" *ngIf="auto_individual && getBuscarPlanificaciones()"
                                        class="fa fa-search" matSuffix matTooltipPosition="right"
                                        matTooltip="Búsqueda de planificaciones asignadas.">
                                        <p>Buscar</p>
                                    </i>
                                    <i (click)="GuardarRegistros(c, 'e')" id="elimina_" *ngIf="auto_individual && getEliminarPlanificaciones()"
                                        class="far fa-trash-alt" matSuffix matTooltipPosition="right"
                                        matTooltip="Eliminar planificaciones asignadas.">
                                        <p>Eliminar</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="cargos.length" [pageSize]="tamanio_pagina_car"
                    [pageSizeOptions]="pageSizeOptions_car" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
                <br>
            </div>

            <!--  **************************  TABLA PARA DEPARTAMENTOS  *****************************  -->
            <div *ngIf="_booleanOptions.bool_dep && mostrarTablas" class="mat-elevation-z8" style="background: white;">
                <div class="d-flex bd-highlight" id="resultados">
                    <span class="w-100 bd-highlight">
                        RESULTADO DEPARTAMENTOS
                    </span>
                    <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                        (click)="MostrarLista()">Mostrar lista</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th>
                                    <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                        matTooltipPosition="right"
                                        matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                        (click)="HabilitarSeleccion()">
                                        library_add_check
                                    </mat-icon>
                                    <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterToggleDep() : null"
                                        [checked]="selectionDep.hasValue() && isAllSelectedDep()"
                                        [indeterminate]="selectionDep.hasValue() && !isAllSelectedDep()"
                                        [aria-label]="checkboxLabelDep()">
                                    </mat-checkbox>
                                </th>
                                <th scope="col">Sucursal</th>
                                <th scope="col">Departamento</th>
                                <th scope="col">Planificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let d of departamentos | sucNombre: filtroNombreSuc | departamento: filtroNombreDep | paginate:tamanio_pagina_dep:numero_pagina_dep">
                                <td>
                                    <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionDep.toggle(d) : null"
                                        [checked]="selectionDep.isSelected(d)" [aria-label]="checkboxLabelDep(d)">
                                    </mat-checkbox>
                                </td>
                                <td>{{d.sucursal}}</td>
                                <td>{{d.departamento}}</td>
                                <td>
                                    <i (click)="GuardarRegistros(d, 'p')" id="plan" *ngIf="auto_individual && getPlanificacionFija()"
                                        class="fa fa-calendar" matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de asignación de planificación fija.">
                                        <p>Fija</p>
                                    </i>
                                    <i (click)="GuardarRegistros(d, 'm')" id="multiple_" *ngIf="auto_individual && getPlanificacionMultiple()"
                                        class="fa fa-files-o" matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de asignación de planificación múltiple.">
                                        <p>Multiple</p>
                                    </i>
                                    <i (click)="GuardarRegistros(d, 'b')" id="busca" *ngIf="auto_individual && getBuscarPlanificaciones()"
                                        class="fa fa-search" matSuffix matTooltipPosition="right"
                                        matTooltip="Búsqueda de planificaciones asignadas.">
                                        <p>Buscar</p>
                                    </i>
                                    <i (click)="GuardarRegistros(d, 'e')" id="elimina_" *ngIf="auto_individual && getEliminarPlanificaciones()"
                                        class="far fa-trash-alt" matSuffix matTooltipPosition="right"
                                        matTooltip="Eliminar planificaciones asignadas.">
                                        <p>Eliminar</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="departamentos.length" [pageSize]="tamanio_pagina_dep"
                    [pageSizeOptions]="pageSizeOptions_dep" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
                <br>
            </div>

            <!--  **************************  TABLA PARA EMPLEADOS  *****************************  -->
            <div *ngIf="_booleanOptions.bool_emp && mostrarTablas" class="mat-elevation-z8" style="background: white;">
                <div class="d-flex bd-highlight" id="resultados">
                    <span class="w-100 bd-highlight">
                        RESULTADO USUARIOS
                    </span>
                    <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                        (click)="MostrarLista()">Mostrar lista</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th>
                                    <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                        matTooltipPosition="right"
                                        matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                        (click)="HabilitarSeleccion()">
                                        library_add_check
                                    </mat-icon>
                                    <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterToggleEmp() : null"
                                        [checked]="selectionEmp.hasValue() && isAllSelectedEmp()"
                                        [indeterminate]="selectionEmp.hasValue() && !isAllSelectedEmp()"
                                        [aria-label]="checkboxLabelEmp()">
                                    </mat-checkbox>
                                </th>
                                <th scope="col">Sucursal</th>
                                <th scope="col">Cédula</th>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Planificaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let e of empleados | sucNombre: filtroNombreSuc | emplCodigo: filtroCodigo | emplCedula: filtroCedula | nombreCompleto: filtroNombreEmp | paginate:tamanio_pagina_emp:numero_pagina_emp">
                                <td>
                                    <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionEmp.toggle(e) : null"
                                        [checked]="selectionEmp.isSelected(e)" [aria-label]="checkboxLabelEmp(e)">
                                    </mat-checkbox>
                                </td>
                                <td>{{e.sucursal}}</td>
                                <td>{{e.cedula}}</td>
                                <td>{{e.codigo}}</td>
                                <td>{{e.apellido}} {{e.nombre}}</td>
                                <td>
                                    <i (click)="PlanificarIndividual(e, 'p')" id="plan" *ngIf="auto_individual && getPlanificacionFija()"
                                        class="fa fa-calendar" matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de asignación de planificación fija.">
                                        <p>Fija</p>
                                    </i>
                                    <i (click)="AbrirMultipleIndividual(e)" id="multiple_" *ngIf="auto_individual && getPlanificacionMultiple()"
                                        class="fa fa-files-o" matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de asignación de planificación múltiple.">
                                        <p>Múltiple</p>
                                    </i>
                                    <i (click)="PlanificarIndividual(e, 'b')" id="busca" *ngIf="auto_individual && getBuscarPlanificaciones()"
                                        class="fa fa-search" matSuffix matTooltipPosition="right"
                                        matTooltip="Búsqueda de planificaciones asignadas.">
                                        <p>Buscar</p>
                                    </i>
                                    <i (click)="EliminarHorarios([e])" id="elimina_" *ngIf="auto_individual && getEliminarPlanificaciones()"
                                        class="far fa-trash-alt" matSuffix matTooltipPosition="right"
                                        matTooltip="Eliminar planificaciones asignadas.">
                                        <p>Eliminar</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="empleados.length" [pageSize]="tamanio_pagina_emp"
                    [pageSizeOptions]="pageSizeOptions_emp" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
                <br>
            </div>
        </mat-card-content>
    </mat-card>
</div>