mat-form-field {
    padding: 10px 15px 0px 15px;
}

table {
    width: 100%;
    font-size: 12px;
}

tr {
    text-align: center;
}

th {
    text-align: center;
    vertical-align: middle !important;
}

td {
    padding-top: 10px;
    text-align: center;
}

p {
    font-size: x-small;
}

mat-icon {
    cursor: pointer;
    width: 1.625rem;
}

#codigoColoresTabla {
    width: auto;
    font-size: 12px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#coloresTitulo {
    background-color: #e9ecef;
}


.ver {
    color: indianred;
}

.verde {
    background-color: #55EE44;
}

.colores {
    width: 2.5rem;
    min-width: 1rem;
}

.rojo {
    background-color: #EE4444;
}

.azul {
    background-color: #4499ee;
}

.amarillo {
    background-color: #eee344;
}

.naranja {
    background-color: #e68a2e;
}

#busqueda {
    margin-top: 10px;
}

#detalle {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
}

#detalle .t_horarios,
.coloresItem,
.colores {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

#detalle {
    border-spacing: 0;
}

#detalle th,
#detalle td {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#detalle tbody tr {
    background-color: #fbfbfb;
}

#detalle tbody tr:nth-child(2n) {
    background-color: #e6f3ff;
}

.timbre {
    background-color: #dadeec !important;
}

mat-form-field.input-tables {
    background: transparent;
    font-size: 12px;
    text-align: center;
    outline: none;
    fill: none;
    height: 80px;
    padding-left: 1px;
}

.col_n {
    min-width: 50px !important;
    text-align: center;
}

.col_codigo {
    min-width: 75px !important;
    text-align: center;
}

.colum_1 {
    min-width: 120px !important;
    text-align: center;
}

#detalle th,
#detalle td {
    padding-left: 2px;
    padding-right: 2px;
    border-left: none;
    border-right: none;
}

#detalle td:not(.sticky-4)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid #ccc;
}

#detalle .sticky {
    position: sticky;
    left: 0px;
    z-index: 2;
}

#detalle .sticky-2 {
    position: sticky;
    left: 50px;
    z-index: 2;
}

#detalle .sticky-3 {
    position: sticky;
    left: 125px;
    z-index: 2;
}

#detalle .sticky-4 {
    position: sticky;
    left: 245px;
    z-index: 2;
}

#detalle tbody tr:nth-child(even) td.sticky,
#detalle tbody tr:nth-child(even) td.sticky-2,
#detalle tbody tr:nth-child(even) td.sticky-3,
#detalle tbody tr:nth-child(even) td.sticky-4 {
    background-color: #e6f3ff;
}

#detalle tbody tr:nth-child(odd) td.sticky,
#detalle tbody tr:nth-child(odd) td.sticky-2,
#detalle tbody tr:nth-child(odd) td.sticky-3,
#detalle tbody tr:nth-child(odd) td.sticky-4 {
    background-color: #fbfbfb;
}
