.progress {
    margin: 250px auto auto auto;
    opacity: 1
}
  

.pantalla-progress {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #acacace7;
    opacity: 0.8;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
mat-progress-spinner {
    background: transparent;
    z-index: 100;
}
