<br>
<div class="mat-elevation-z8" style="background: white;">
    <div id="titulo" class="row w-100 m-auto align-items-center">
        <div class="col-6 col-md-2 mb-2 mb-md-0 order-2 order-md-1">
            <button class="btn btn-outline-light btn-sm" style="float: left;" (click)="VerRoles()">
                Atras
            </button>
        </div>
        <div class="col-12 col-md-8 mb-2 mb-md-0 order-1 order-md-2 Tabla_titulo">
            <span class="w-100 bd-highlight">
                FUNCIONES QUE TIENE EL ROL {{nombreRol}}
            </span>
        </div>
        <div class="col-6 col-md-2 mb-2 mb-md-0 order-2 order-md-3">
            <button *ngIf="id_rol != 1 && getVerFuncionesEliminar()" (click)="ConfirmarDelete()" style="float: right;"
                class="btn btn-outline-light btn-sm">
                Eliminar
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr style="text-align: left;">
                    <th>
                        <mat-icon *ngIf="activar_seleccion === true && id_rol != 1" class="flex-shrink-1 bd-highlight"
                            matSuffix matTooltipPosition="right" matTooltip="Dar clic para activar selección múltiple."
                            id="SelectCheck" (click)="HabilitarSeleccion()">
                            library_add_check
                        </mat-icon>
                        <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterTogglePag() : null"
                            [checked]="selectionPaginas.hasValue() && isAllSelectedPag()"
                            [indeterminate]="selectionPaginas.hasValue() && !isAllSelectedPag()"
                            [aria-label]="checkboxLabelPag()">
                        </mat-checkbox>
                    </th>
                    <th scope="col" style="text-align: center;">Funciones</th>
                    <th scope="col" style="text-align: center;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <mat-form-field class="input-tables funcion" style="float: left;">
                            <input matInput placeholder="Buscar" [formControl]="funcion" type="text"
                                (keypress)="IngresarSoloLetras($event)">
                        </mat-form-field>
                    </td>
                    <td></td>
                </tr>
                <tr *ngFor="let p of paginas | roles: funcion.value | paginate:tamanio_pagina:numero_pagina "
                    style="text-align: left;">
                    <td>
                        <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                            (change)="$event ? selectionPaginas.toggle(p) : null"
                            [checked]="selectionPaginas.isSelected(p)" [aria-label]="checkboxLabelPag(p)">
                        </mat-checkbox>
                    </td>
                    <td style="text-align: left;">{{p.pagina}}</td>
                    <td style="text-align: left;">{{MetodoParaMostrarAccion(p.id_accion)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <mat-paginator id="pagina" [length]="paginas.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
        (page)="ManejarPagina($event)" showFirstLastButtons>
    </mat-paginator>
    <div *ngIf="getDescargarReportes()">
        <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 10px;">
            <i (click)="GenerarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Roles en formato PDF.">
                <p>PDF</p>
            </i>
            <i (click)="generarExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Roles en formato EXCEL.">
                <p>XLSL</p>
            </i>
            <i (click)="ExportToCSV()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Roles en formato CSV.">
                <p>CSV</p>
            </i>
            <i (click)="ExportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Roles en formato XML.">
                <p>XML</p>
            </i>
        </div>
        <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: -1%; color: rgb(158, 154, 154);">
            <p> Funciones asignadas al rol. </p>
        </div>
    </div>
    <br>
</div>
<br>
<mat-accordion>
    <mat-expansion-panel *ngIf="id_rol != 1" (opened)="expansion = true" (closed)="expansion = false"
        style="margin-top: 15px; margin-bottom: 25px;">
        <mat-expansion-panel-header style="background: rgb(52, 65, 84); font-size: 14px; color: white;">
            <div class="row w-100 m-auto text-center">
                <mat-panel-title class="panel-title" style="color: white;">
                    <span class="m-2">FUNCIONES DE LA APLICACIÓN WEB</span>
                </mat-panel-title>
            </div>
        </mat-expansion-panel-header>
        <div class="nota">
            <span>
                Seleccionar las funciones o acciones que puede realizar el rol {{nombreRol}} dentro del sistema.
            </span>
        </div>
        <form>
            <div class="container">
                <div class="row w-100">
                    <div class="col-12 col-md-sm">
                        <!--  ************  TABLA DE MENU  ****************  -->
                        <div class="d-flex flex-wrap justify-content-start">
                            <div class="modal-body" style="padding-top: 15px;">
                                <div class="container-fluid">
                                    <input class="form-check-input" type="checkbox" id="seleccionar"
                                        [(ngModel)]="isChecked" (change)="SeleccionarTodas(isChecked)"
                                        [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label todos_links" for="inlineCheckbox1"
                                        style="font-size: 12px; color: blue; font-weight: bold;">
                                        Todos los links
                                    </label>
                                    <div class="row" style="text-align: center; padding-top: 5px;">
                                        <div class="col-12 col-md-6 col-lg-6"
                                            style="text-align:left; padding-bottom: 5px;"
                                            *ngFor="let n of nombresMenu; index as i" id="verticalLine">
                                            <div style="padding-top: 10px;">
                                                <input class="form-check-input" type="checkbox"
                                                    name="paginasSeleccionadas" id="paginasSeleccionadas{{i}}"
                                                    (change)="SeleccionarIndividual($event, n)"
                                                    style="text-align: center; margin-left: 5px;">
                                                <label style="margin-left: 25px; font-size: 11px;"
                                                    class="form-check-label" for="inlineCheckbox1">
                                                    {{n.nombre}}
                                                </label>
                                            </div>
                                            <!--  ***************  ACCIONES DE LAS PAGINAS  **************  -->
                                            <div class="d-flex flex-wrap justify-content-start">
                                                <div class="modal-body" style="margin-left: 60px; padding-top: 10px;">

                                                    <div class="container-fluid">
                                                        <div class="row" style="text-align: left; padding-top: 10px;"
                                                            *ngFor="let pagina of nombresAccionesPorPagina[n.id]; index as j">

                                                            <!-- Mostrar "Todas las acciones" solo si hay mas de una accion en esta pagina -->
                                                            <ng-container *ngIf="pagina.length > 1">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="seleccionarAccion{{n.id}}_{{j}}"
                                                                    (change)="SeleccionarTodasAcciones($event, n.id)">
                                                                <label class="form-check-label"
                                                                    for="seleccionarAccion{{n.id}}_{{j}}"
                                                                    style="margin-left: 1px; font-size: 12px; color: green; font-weight: bold; padding-bottom: 4px;">
                                                                    Todas las acciones
                                                                </label>
                                                            </ng-container>

                                                            <div class="col-12 col-md-6 col-lg-6"
                                                                style="text-align:left; padding-bottom: 10px;"
                                                                *ngFor="let accion of pagina; index as i">
                                                                <input class="form-check-input" type="checkbox"
                                                                    name="accionesSeleccionadasPorPagina"
                                                                    id="{{n.id}}accionesSeleccionadasPorPagina{{i}}"
                                                                    (change)="SeleccionarIndividualAccion($event, n.id, accion, j)">
                                                                <label style="margin-left: 10px; font-size: 11px;"
                                                                    class="form-check-label"
                                                                    for="{{n.id}}accionesSeleccionadasPorPagina{{i}}">
                                                                    {{accion.accion}}
                                                                </label>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <mat-action-row>
            <div class="container" style="text-align: center;">
                <button id="btn-raised" class="btn btn-sm" (click)="InsertarPaginasRol()" value="Guardar"
                    *ngIf="getVerFuncionesGuardar()">
                    Guardar
                </button>
            </div>
        </mat-action-row>


    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="id_rol != 1 && ver_modulo === true" (opened)="expansion = true"
        (closed)="expansion = false" style="margin-top: 15px; margin-bottom: 25px;">
        <mat-expansion-panel-header style="background: rgb(52, 65, 84); font-size: 14px; color: white;">
            <div class="row w-100 m-auto text-center">
                <mat-panel-title class="panel-title" style="color: white;">
                    <span class="m-2">MÓDULOS DE LA APLICACIÓN WEB</span>
                </mat-panel-title>
            </div>
        </mat-expansion-panel-header>
        <div class="nota">
            <span>
                Seleccionar las funciones o acciones que puede realizar el rol {{nombreRol}} dentro del sistema.
            </span>
        </div>
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <!-- TABLA DE MENU MODULOS -->
                        <div class="d-flex flex-wrap justify-content-start">
                            <div class="modal-body" style="margin-left: 60px; padding-top: 15px;">
                                <div class="container-fluid" *ngFor="let modulo of nombreModulos; index as j">
                                    <div class="row" *ngIf="diccionarioFuncionesActivas[modulo]">
                                        <input class="form-check-input" type="checkbox" id="seleccionarmodulo{{modulo}}"
                                            (change)="SeleccionarTodasModulos($event, modulo)">
                                        <label class="form-check-label" for="inlineCheckbox1"
                                            style="margin-left: 10px; font-size: 12px; color: blue; font-weight: bold;">
                                            Todos los links de {{modulo}}
                                        </label>
                                        <div class="col-12 col-md-6 col-lg-6"
                                            style="text-align:left; padding-bottom: 5px;"
                                            *ngFor="let n of paginasModulos[modulo]; index as i" id="verticalLine">
                                            <div style="padding-top: 10px;">
                                                <input class="form-check-input" type="checkbox"
                                                    name="paginasSeleccionadasModulos"
                                                    id="paginasSeleccionadasModulos{{i}}{{modulo}}"
                                                    (change)="SeleccionarIndividualModulos($event, n,modulo )"
                                                    style="text-align: center; margin-left: 10px;">
                                                <label style="margin-left: 30px; font-size: 11px;"
                                                    class="form-check-label" for="inlineCheckbox1">
                                                    {{n.nombre}}
                                                    <!--  **************  ACCIONES DE LAS PAGINAS  ***************  -->
                                                </label>
                                            </div>
                                            <div class="d-flex flex-wrap justify-content-start">
                                                <div class="modal-body" style="margin-left: 60px; padding-top: 10px;">

                                                    <div class="container-fluid">
                                                        <div class="row" style="text-align: left; padding-top: 5px;"
                                                            *ngFor="let pagina of nombresAccionesPorPagina[n.id]; index as j">

                                                            <!-- MOSTRAR "TODAS LAS ACCIONES" SOLO SI HAY MAS DE UNA ACCION -->
                                                            <ng-container *ngIf="pagina.length > 1">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="seleccionarAccion{{n.id}}_{{j}}"
                                                                    (change)="SeleccionarTodasAcciones($event, n.id)">
                                                                <label class="form-check-label"
                                                                    for="seleccionarAccion{{n.id}}_{{j}}"
                                                                    style="margin-left: 1px; font-size: 12px; color: green; font-weight: bold; padding-bottom: 4px;">
                                                                    Todas las acciones
                                                                </label>
                                                            </ng-container>

                                                            <div class="col-12 col-md-6 col-lg-6"
                                                                style="text-align:left; padding-bottom: 10px;"
                                                                *ngFor="let accion of pagina; index as i">
                                                                <input class="form-check-input" type="checkbox"
                                                                    name="accionesSeleccionadasPorPagina"
                                                                    id="{{n.id}}accionesSeleccionadasPorPagina{{accion.id}}"
                                                                    (change)="SeleccionarIndividualAccion($event, n.id, accion, j)">
                                                                <label class="form-check-label"
                                                                    style="margin-left: 10px; font-size: 11px;"
                                                                    for="{{n.id}}accionesSeleccionadasPorPagina{{i}}">
                                                                    {{accion.accion}}
                                                                </label>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <mat-action-row>
            <div class="container" style="text-align: center;">
                <button id="btn-raised" class="btn btn-sm" (click)="InsertarPaginaModulosRol()" value="Guardar">
                    Guardar
                </button>
            </div>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>