<div class="container" style="text-align: center; padding-top: 20px; padding-bottom: 5px;">
    <div id="titulo">
        <span>
            REGISTRAR TIMBRE
        </span>
        <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana()" matSuffix matTooltipPosition="right"
            matTooltip="Cerrar ventana.">
            highlight_off
        </mat-icon>
    </div>

    <div *ngIf="!ver_informacion">
        <div class="container d-flex flex-wrap justify-content-center" style="padding-top: 8px;">
            <span>{{f | date: 'fullDate' : undefined : 'es-EC'}}</span>
        </div>
        <div class="container d-flex flex-wrap justify-content-center">
            <span><b>{{ currentTime }}</b></span>
        </div>

        <div class="container">
            <div class="nota" style="text-align: center;">
                <span>Seleccione una opción para registrar</span>
            </div>
            <div class="row" style="padding-top: 20px;">
                <div class="col-md">
                    <div class="d-flex flex-wrap justify-content-center">
                        <button mat-raised-button id="botonTimbreInicio" (click)="AlmacenarDatos(1)">
                            Inicio Jornada Laboral
                        </button>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center">
                        <button mat-raised-button id="botonTimbreInicio" (click)="AlmacenarDatos(3)">
                            Inicio Alimentación
                        </button>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center">
                        <button mat-raised-button id="botonTimbreInicio" (click)="AlmacenarDatos(5)">
                            Inicio Permiso
                        </button>
                    </div>
                </div>
                <div class="col-md">
                    <div class="d-flex flex-wrap justify-content-center">
                        <button mat-raised-button id="botonTimbreFin" (click)="AlmacenarDatos(2)">
                            Fin Jornada Laboral
                        </button>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center">
                        <button mat-raised-button id="botonTimbreFin" (click)="AlmacenarDatos(4)">
                            Fin Alimentación
                        </button>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center">
                        <button mat-raised-button id="botonTimbreFin" (click)="AlmacenarDatos(6)">
                            Fin Permiso
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <div class="d-flex flex-wrap justify-content-center">
                        <button mat-raised-button id="botonTimbreAbierto" (click)="AlmacenarDatos(7)">
                            Timbre Especial
                        </button>
                    </div>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
    </div>
    <!--  ******************  INFORMACION DEL TIMBRE  ********************  -->
    <div class="row" *ngIf="ver_informacion">
        <div class="col-md" style="text-align: left;">
            <span id="fuente" class="card-span">
                <label><i id="ver" class="fa fa-calendar"></i>
                    {{fecha_hora}}
                </label>
            </span>

            <span id="fuente" class="card-span">
                <label><i id="ver" class="fa fa-hand-o-right"></i>
                    Tipo timbre: {{ver}}
                </label>
                {{asistencia}}
            </span>

            <span id="fuente" class="card-span">
                <label><i id="ver" class="fa fa-map-marker"></i>
                    Ubicación:
                </label>
                {{ubicacion}}
            </span>

            <span id="fuente" class="card-span">
                <label><i id="ver" class="fa fa-location-arrow"></i>
                    Longitud:
                </label>
                {{longitud}}
            </span>

            <span id="fuente" class="card-span">
                <label><i id="ver" class="fa fa-location-arrow"></i>
                    Latitud:
                </label>
                {{latitud}}
            </span>
        </div>
        <!--  ******************  USO DE LA CAMARA  ********************  -->
        <div class="col-md">
            <div *ngIf="ver_camara" class="camara">
                <div class="webcam-container" *ngIf="!imagenCamara">
                    <webcam [height]="300" [width]="300" [trigger]="triggerObservable" [videoOptions]="videoOptions"
                        (imageCapture)="handleImage($event)">
                    </webcam>
                </div>
                <div class="button-container">
                    <button mat-mini-fab *ngIf="!imagenCamara" (click)="triggerSnapshot()">
                        <mat-icon>photo_camera</mat-icon>
                    </button>
                    <button class="elegir-button" *ngIf="!imagenCamara && camara_.length > 1"
                        (click)="SeleccionarCamara()">
                        <mat-icon>loop</mat-icon>
                    </button>
                </div>
                <div *ngIf="imagenCamara" class="circular-image-container">
                    <img [src]="imagenCamara" />
                </div>
                <div class="button-container">
                    <button class="gray-button" *ngIf="imagenCamara" (click)="CerrarCamara()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="ver_informacion">
        <div class="col-8">
            <form [formGroup]="formulario">
                <div style="text-align: center;">
                    <div class="d-flex flex-wrap justify-content-start">
                        <mat-form-field>
                            <mat-label>Observación</mat-label>
                            <textarea matInput #message maxlength="150" placeholder="Ingresar una descripción."
                                [formControl]="observacionF">
                            </textarea>
                            <mat-hint align="start" id="letras">
                                <strong>Ingresar hasta 150 caracteres</strong>
                            </mat-hint>
                            <mat-hint align="end" id="letras">{{message.value.length}} / 150</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4" class="col-4 d-flex justify-content-center">
            <button *ngIf="imagenCamara" mat-raised-button id="botonTimbre" (click)="GuardarImagen(formulario.value)">
                ENVIAR TIMBRE
            </button>
            <button *ngIf="!ver_camara" mat-raised-button id="botonTimbre" (click)="GuardarImagen(formulario.value)">
                ENVIAR TIMBRE
            </button>
        </div>
    </div>
</div>