:host ::ng-deep .mat-expansion-indicator::after {
    color: white;
}

.circulo {
    font-size: 15px;
    margin-left: 15px;
}

table {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
}