<div class="text-center mt-4 mb-2">
    <strong class="fs-8 text-secondary">
        {{ permiteHoras
        ? 'Horas seleccionadas por día de la semana'
        : 'Número de días (por día de la semana) en el periodo seleccionado' }}
    </strong>

</div>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-sm text-center align-middle" style="width: 100%;">
                <thead class="table-secondary">
                    <tr>
                        <th class="col-total-compacta">Lunes</th>
                        <th class="col-total-compacta">Martes</th>
                        <th class="col-total-compacta">Miércoles</th>
                        <th class="col-total-compacta">Jueves</th>
                        <th class="col-total-compacta">Viernes</th>
                        <th class="col-total-compacta">Sábado</th>
                        <th class="col-total-compacta">Domingo</th>
                        <th class="col-total-compacta">
                            {{ permiteHoras ? 'Horas totales' : 'Días totales' }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-total-compacta"
                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'L' }">
                            {{ permiteHoras ? '' : conteoDiasSemana.L }}
                        </td>
                        <td class="col-total-compacta"
                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'M' }">
                            {{ permiteHoras ? '' : conteoDiasSemana.M }}
                        </td>
                        <td class="col-total-compacta"
                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'X' }">
                            {{ permiteHoras ? '' : conteoDiasSemana.X }}
                        </td>
                        <td class="col-total-compacta"
                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'J' }">
                            {{ permiteHoras ? '' : conteoDiasSemana.J }}
                        </td>
                        <td class="col-total-compacta"
                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'V' }">
                            {{ permiteHoras ? '' : conteoDiasSemana.V }}
                        </td>
                        <td class="col-total-compacta"
                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'S' }">
                            {{ permiteHoras ? '' : conteoDiasSemana.S }}
                        </td>
                        <td class="col-total-compacta"
                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'D' }">
                            {{ permiteHoras ? '' : conteoDiasSemana.D }}
                        </td>
                        <td class="col-total-compacta text-bold">
                            {{ permiteHoras ? horasTotales + ' horas' : diasTotales }}
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
