<div id="titulo">
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        NIVELES DE AUTORIZACIÓN 
    </span>
    <button (click)=" AbrirVentanaRegistrarNivelDep()" class="btn btn-outline-light btn-sm" 
        style="float: right; margin-right: 10px; margin-top: -5px;">Añadir</button>
</div>

<div class="container" style="padding: 10px; text-align: center; margin-top: 5px; margin-bottom: 10px;">
    <div style="background: white; border: solid 1px #a9b3b7;">
        <div id="resultados">DEPARTAMENTO {{datos.nombre}}
            
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Nive Jerárquico</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let departamento of departamentos">
                        <td>{{departamento.nivel}}</td>
                        <td>{{departamento.dep_nivel_nombre}}</td>
                        <td class="d-flex justify-content-center">
                            <i (click)="AbrirVentanaVerListdoNivel(departamento)" class="fas fa-eye" matSuffix matTooltipPosition="right"
                                matTooltip="Visualiza los datos generales de este registro.">
                                <p>Ver</p>
                            </i>
                            <i (click)="ConfirmarDelete(departamento)" class="far fa-trash-alt" id="t-eliminar"
                                matSuffix matTooltipPosition="right" matTooltip="Eliminar este registro.">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>