<div id="titulo">
    <span>CRITERIOS DE BÚSQUEDA</span>
</div>
<mat-card class="example-card mat-elevation-z9">
    <form>
        <mat-radio-group class="d-flex flex-wrap justify-content-center" [formControl]="seleccion">
            <mat-radio-button class="example-radio-button" *ngFor="let c of check" [value]="c.opcion"
                (change)="BuscarPorTipo($event)">
                <label>{{c.valor}}</label>
            </mat-radio-button>
        </mat-radio-group>
    </form>
    <!--  **************************  FORM PARA SUCURSALES  ******************************  -->
    <form *ngIf="_booleanOptions.bool_suc">
        <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field>
                <mat-label>Sucursal</mat-label>
                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_suc.value, 1)" [formControl]="nombre_suc"
                    type="text" (keypress)="IngresarSoloLetras($event)">
                <mat-error *ngIf="nombre_suc.invalid">Indispensable ingresar dos letras
                </mat-error>
                <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de sucursales por nombre.">
                    help_outline
                </mat-icon>
            </mat-form-field>
        </div>
    </form>
    <!--  ***********************  FORM PARA REGIMEN LABORAL  **************************  -->
    <form *ngIf="_booleanOptions.bool_reg">
        <div class="row">
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Sucursal</mat-label>
                        <input matInput placeholder="Buscar" (input)="Filtrar(nombre_suc.value, 1)"
                            [formControl]="nombre_suc" type="text" (keypress)="IngresarSoloLetras($event)">
                        <mat-error *ngIf="nombre_suc.invalid">Indispensable ingresar dos letras
                        </mat-error>
                        <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de sucursales por nombre.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Régimen Laboral</mat-label>
                        <input matInput placeholder="Buscar" (input)="Filtrar(nombre_reg.value, 2)"
                            [formControl]="nombre_reg" type="text" (keypress)="IngresarSoloLetras($event)">
                        <mat-icon matSuffix matTooltipPosition="right"
                            matTooltip="Búsqueda de régimen laboral por nombre.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
    <!--  *********************************  FORM PARA CARGOS  ****************************  -->
    <form *ngIf="_booleanOptions.bool_cargo">
        <div class="row">
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Sucursal</mat-label>
                        <input matInput placeholder="Buscar" (input)="Filtrar(nombre_suc.value, 1)"
                            [formControl]="nombre_suc" type="text" (keypress)="IngresarSoloLetras($event)">
                        <mat-error *ngIf="nombre_suc.invalid">Indispensable ingresar dos letras
                        </mat-error>
                        <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de sucursales por nombre.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Cargo</mat-label>
                        <input matInput placeholder="Buscar" (input)="Filtrar(nombre_cargo.value, 3)"
                            [formControl]="nombre_cargo" type="text" (keypress)="IngresarSoloLetras($event)">
                        <mat-error *ngIf="nombre_cargo.invalid">Indispensable ingresar dos letras
                        </mat-error>
                        <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de cargos por nombre.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
    <!--  *************************  FORM PARA DEPARTAMENTOS  **************************  -->
    <form *ngIf="_booleanOptions.bool_dep">
        <div class="row">
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Sucursal</mat-label>
                        <input matInput placeholder="Buscar" (input)="Filtrar(nombre_suc.value, 1)"
                            [formControl]="nombre_suc" type="text" (keypress)="IngresarSoloLetras($event)">
                        <mat-error *ngIf="nombre_suc.invalid">Indispensable ingresar dos letras
                        </mat-error>
                        <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de sucursales por nombre.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Departamento</mat-label>
                        <input matInput placeholder="Buscar" (input)="Filtrar(nombre_dep.value, 4)"
                            [formControl]="nombre_dep" type="text" (keypress)="IngresarSoloLetras($event)">
                        <mat-error *ngIf="nombre_dep.invalid">Indispensable ingresar dos letras
                        </mat-error>
                        <mat-icon matSuffix matTooltipPosition="right"
                            matTooltip="Búsqueda de departamentos por nombre.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
    <!--  **************************  FORM PARA EMPLEADOS  ***************************  -->
    <form *ngIf="_booleanOptions.bool_emp">
        <div class="row">
        <!-- Primera fila -->
        <div class="col-md">
            <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field>
                <mat-label>Sucursal</mat-label>
                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_suc.value, 1)"
                [formControl]="nombre_suc" type="text" (keypress)="IngresarSoloLetras($event)">
                <mat-icon matSuffix matTooltipPosition="right"
                matTooltip="Búsqueda de sucursales por nombre.">help_outline</mat-icon>
            </mat-form-field>
            </div>
        </div>
    
        <div class="col-md">
            <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_emp.value, 7)"
                [formControl]="nombre_emp" type="text" (keypress)="IngresarSoloLetras($event)">
                <mat-error *ngIf="nombre_emp.invalid">Indispensable ingresar dos letras</mat-error>
                <mat-icon matSuffix matTooltipPosition="right"
                matTooltip="Búsqueda de datos de empleado por nombre.">help_outline</mat-icon>
            </mat-form-field>
            </div>
        </div>
    
        <div class="col-md">
            <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field>
                <mat-label>Código</mat-label>
                <input matInput placeholder="Buscar" (input)="Filtrar(codigo.value, 5)"
                [formControl]="codigo">
                <mat-icon matSuffix matTooltipPosition="right"
                matTooltip="Búsqueda de datos de empleado por código.">help_outline</mat-icon>
            </mat-form-field>
            </div>
        </div>
        </div>
    
        <!-- Segunda fila -->
        <div class="row">
        <div class="col-md">
            <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field>
                <mat-label>Identificación</mat-label>
                <input matInput placeholder="Buscar" maxlength="10" (input)="Filtrar(cedula.value, 6)"
                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                [formControl]="cedula" type="tel" (keypress)="IngresarSoloNumeros($event)">
                <mat-error *ngIf="cedula.invalid">Indispensable ingresar dos valores</mat-error>
                <mat-icon matSuffix matTooltipPosition="right"
                matTooltip="Búsqueda de datos de empleado por número de identificación.">help_outline</mat-icon>
            </mat-form-field>
            </div>
        </div>
    
        <div class="col-md">
            <div class="d-flex flex-wrap justify-content-center">
                <mat-form-field>
                    <mat-label>Rol</mat-label>
                    <input type="text"
                           matInput
                           placeholder="Buscar"
                           aria-label="Rol"
                           [formControl]="nombre_rol"
                           [matAutocomplete]="autoRol"
                           (keypress)="IngresarSoloLetras($event)">  
                    <mat-autocomplete #autoRol="matAutocomplete">
                      <mat-option *ngFor="let rol of filteredRoles | async" [value]="rol.nombre">
                        {{ rol.nombre }}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de roles.">
                      help_outline
                    </mat-icon>
                </mat-form-field>
            </div>
        </div>
        </div>
    </form>
    <!--  *************************  FORM PARA TABULADO  *****************************  -->
    <form *ngIf="_booleanOptions.bool_tab">
        <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field>
                <mat-label>Código</mat-label>
                <input matInput placeholder="Buscar" (input)="Filtrar(codigo.value, 8)" [formControl]="codigo"
                    >
                <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de datos de empleado por código.">
                    help_outline
                </mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Identificación</mat-label>
                <input matInput placeholder="Buscar" maxlength="10" (input)="Filtrar(cedula.value, 9)"
                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    [formControl]="cedula" type="tel" (keypress)="IngresarSoloNumeros($event)">
                <mat-error *ngIf="cedula.invalid">Indispensable ingresar dos valores
                </mat-error>
                <mat-icon matSuffix matTooltipPosition="right"
                    matTooltip="Búsqueda de datos de empleado por número de identificación.">
                    help_outline
                </mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_emp.value, 10)" [formControl]="nombre_emp"
                    type="text" (keypress)="IngresarSoloLetras($event)">
                <mat-error *ngIf="nombre_emp.invalid">Indispensable ingresar dos letras
                </mat-error>
                <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de datos de empleado por nombre.">
                    help_outline
                </mat-icon>
            </mat-form-field>
        </div>
    </form>
    <!--  ***********************************  FORM PARA INCOMPLETOS  **********************************  -->
    <form *ngIf="_booleanOptions.bool_inc">
        <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field>
                <mat-label>Código</mat-label>
                <input matInput placeholder="Buscar" (input)="Filtrar(codigo.value, 11)" [formControl]="codigo"
                    >
                <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de datos de empleado por código.">
                    help_outline
                </mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Identificación</mat-label>
                <input matInput placeholder="Buscar" maxlength="10" (input)="Filtrar(cedula.value, 12)"
                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    [formControl]="cedula" type="tel" (keypress)="IngresarSoloNumeros($event)">
                <mat-error *ngIf="cedula.invalid">Indispensable ingresar dos valores
                </mat-error>
                <mat-icon matSuffix matTooltipPosition="right"
                    matTooltip="Búsqueda de datos de empleado por número de identificación.">
                    help_outline
                </mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Buscar" (input)="Filtrar(nombre_emp.value, 13)" [formControl]="nombre_emp"
                    type="text" (keypress)="IngresarSoloLetras($event)">
                <mat-error *ngIf="nombre_emp.invalid">Indispensable ingresar dos letras
                </mat-error>
                <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de datos de empleado por nombre.">
                    help_outline
                </mat-icon>
            </mat-form-field>
        </div>
    </form>
    <div class="d-flex justify-content-around" style="margin-bottom: 10px;">
        <button id="btn-raised" class="btn btn-sm" type="submit" id="boton" (click)="limpiarCampos()">Cancelar</button>
    </div>
</mat-card>