.btn {
    margin-left: 20px;
    background-color: rgb(80, 87, 97);
    color: white;
}

td {
    padding-top: 10px;
    text-align: center;
}

table {
    width: 100%;
    font-size: 14px;
}

#boton {
    background-color: rgb(80, 87, 97);
    color: white;
    margin-top: 10px;
}

mat-form-field {
    padding: 10px 15px 0px 15px;
}

#SelectCheck {
    cursor: pointer;
    margin-left: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    /* Tarjetas en columna */
    gap: 16px;
    /* Espacio entre tarjetas */
    align-items: center;
    /* Centrar tarjetas horizontalmente */
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Ancho completo */
    /* Ancho máximo */
    padding: 16px;
}

.card-content {
    display: flex;
    flex-direction: row;
    /* Contenido en dos columnas */
    align-items: center;
}

.checkbox-column {
    margin-right: 16px;
    /* Espacio entre checkbox y contenido */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-column {
    flex: 1;
    /* Ocupa el resto del espacio */
}