
.btn {
    margin-left: 15px;

}

.inactivo {
    background-color: rgb(117, 123, 133);
    color: white;
}

.activo {
    background-color: rgb(42, 82, 151);
    color: white;
}

td {
    padding-top: 10px;
    text-align: center;
}

table {
    width: 100%;
    font-size: 12px;
}

#SelectCheck {
    cursor: pointer;
    margin-left: 10px;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

#plan {
    color: rgb(52, 65, 84);
    text-align: center;
    cursor: pointer;
}

p {
    font-size: x-small;
}

#resultados_dh {
    color: white;
    font-size: 16px;
    text-align: center;
    background: rgb(3, 50, 120);
    padding-top: 10px;
    padding-bottom: 6px;
}

#plan_dh {
    color: rgb(3, 50, 120);
    text-align: center;
    cursor: pointer;
}