.btn {
    margin-left: 15px;

}

.inactivo {
    background-color: rgb(117, 123, 133);
    color: white;
}

.activo {
    background-color: rgb(42, 82, 151);
    color: white;
}

td {
    padding-top: 10px;
    text-align: center;
}

table {
    width: 100%;
    font-size: 12px;
}

#SelectCheck {
    cursor: pointer;
    margin-left: 10px;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}

#plan {
    color: rgb(52, 65, 84);
    text-align: center;
    cursor: pointer;
}

p {
    font-size: x-small;
}

#resultados_dh {
    color: white;
    font-size: 16px;
    text-align: center;
    background: rgb(3, 50, 120);
    padding-top: 10px;
    padding-bottom: 6px;
}

#plan_dh {
    color: rgb(3, 50, 120);
    text-align: center;
    cursor: pointer;
}

.card-uno {
    height: 100px;
    background: linear-gradient(to right, rgb(8, 106, 235), rgb(2, 157, 177));
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card-uno:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.card-dos {
    height: 100px;
    background: linear-gradient(to right, rgb(46, 142, 46), rgb(51, 195, 85));
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s;
    margin-right: 5px;
}

.card-dos:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100%;
    width: 100%;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    border-radius: 2%;
    background-size: 100% auto;
}

.fuente {
    font-size: xx-small;
}