#detalle {
  width: 100%;
  font-size: 12px;
}

.t_horarios {
  padding: 3px;
  text-align: center;
  vertical-align: middle;
}

th {
  text-align: center;
  vertical-align: middle;
}

p {
  font-size: x-small;
}

mat-form-field.input-tables {
  background: transparent;
  font-size: 12px;
  text-align: center;
  outline: none;
  fill: none;
  height: 60px;
}

.codigo {
  width: 150px;
}

.nombre {
  width: 200px;
}
