#detalle {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
}

#detalle .t_horarios {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

#detalle {
    border-spacing: 0;
}

#detalle th,
#detalle td {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#detalle tbody tr {
    background-color: #fbfbfb;
}

#detalle tbody tr:nth-child(2n) {
    background-color: #e6f3ff;
}

p {
    font-size: x-small;
}