<div class="container" style="padding-top: 15px">
    <mat-card class="example-card mat-elevation-z8">
        <div id="titulo">
            <span>OPCIONES DE MARCACIÓN APLICACIÓN MÓVIL</span>
            <button class="btn btn-outline-light btn-sm" style="float: left; margin-left: 10px" (click)="Regresar()"
                matTooltip="Regresar">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
        <mat-card-content>
            <!--
            <div class="container" style="padding-bottom: 25px; text-align: center; margin-top: 0.5rem">
                <div class="table-responsive">
                    <table class="table table-hover table-sm" id="detalle">
                        <thead class="thead-light">
                            <tr style="text-align: center">
                                <th class="t_horarios" scope="col" rowspan="2">N°</th>
                                <th class="t_horarios" scope="col" rowspan="2">CÓDIGO</th>
                                <th class="t_horarios" scope="col" rowspan="2">EMPLEADO</th>
                                <th class="t_horarios" scope="col" rowspan="1" colspan="2">TIMBRE</th>
                                <th class="t_horarios" scope="col" rowspan="1" colspan="2" *ngIf="timbreDispositivo">
                                    DISPOSITIVO
                                </th>
                                <th class="t_horarios" scope="col" rowspan="2">RELOJ</th>
                                <th class="t_horarios" scope="col" rowspan="2">ACCIÓN</th>
                                <th class="t_horarios" scope="col" rowspan="2">OBSERVACION</th>
                                <th class="t_horarios" scope="col" rowspan="2">LONGITUD</th>
                                <th class="t_horarios" scope="col" rowspan="2">LATITUD</th>
                                <th class="t_horarios" scope="col" rowspan="2">MAPS</th>
                            </tr>
                            <tr style="text-align: center">
                                <th class="t_horarios" scope="col" rowspan="1">FECHA</th>
                                <th class="t_horarios" scope="col" rowspan="1">HORA</th>
                                <th class="t_horarios" scope="col" rowspan="1" *ngIf="timbreDispositivo">FECHA</th>
                                <th class="t_horarios" scope="col" rowspan="1" *ngIf="timbreDispositivo">HORA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let t of timbres | paginate : tamanio_pagina : numero_pagina">
                                <td class="t_horarios">{{ t.n }}</td>
                                <td class="t_horarios">{{ t.codigo }}</td>
                                <td class="t_horarios">{{ t.empleado }}</td>
                                <td class="t_horarios">{{ t.fechaTimbreServidor }}</td>
                                <td class="t_horarios">{{ t.horaTimbreServidor }}</td>
                                <td class="t_horarios" *ngIf="timbreDispositivo">{{ t.fechaTimbre }}</td>
                                <td class="t_horarios" *ngIf="timbreDispositivo">{{ t.horaTimbre }}</td>
                                <td class="t_horarios">{{ t.reloj }}</td>
                                <td class="t_horarios">{{ t.accion }}</td>
                                <td class="t_horarios">{{ t.observacion }}</td>
                                <td class="t_horarios">{{ t.longitud }}</td>
                                <td class="t_horarios">{{ t.latitud }}</td>
                                <td class="t_horarios">
                                    <mat-icon aria-hidden="false" id="accion" (click)="AbrirMapa(t.latitud, t.longitud)"
                                        matSuffix matTooltipPtosition="right"
                                        matTooltip="Direccionar al mapa con ubicación del timbre seleccionado."
                                        *ngIf="t.longitud && t.latitud">
                                        location_on
                                    </mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator #paginatorDetalle [length]="timbres.length" [pageSize]="tamanio_pagina"
                    [pageSizeOptions]="pageSizeOptions" (page)="ManejarPaginaDetalle($event)" showFirstLastButtons
                    aria-label="Seleccionar pagina">
                </mat-paginator>
            </div>
            <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 0.5rem">
                <i id="pdf" class="fas fa-file-pdf icon" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar reporte en formato PDF." (click)="GenerarPDF('download')">
                    <p>PDF</p>
                </i>
                <i id="excel" class="fas fa-file-excel icon" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar reporte en formato EXCEL." (click)="ExportarExcel()">
                    <p>XLSL</p>
                </i>
            </div>
            -->
        </mat-card-content>
    </mat-card>
</div>