<div class="container">
    <mat-card class="mat-elevation-z8">
        <div id="titulo" class="row w-100 m-auto">
            <div class="col-2 col-md-2 mb-2 mb-md-0"></div>
            <div class="col-8 col-md-8 mb-2 mb-md-0 Tabla_titulo">
                <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
                    REGISTRAR SOLICITUD DE VACACIÓN
                </span>
            </div>
            <div class="col-2 col-md-2 mb-2 mb-md-0">
                <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana()">highlight_off</mat-icon>
            </div>

        </div>

        <div class="container mt-3">
            <form>
                <div class="row g-3">
                    <div class="col-md-4">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Tipo de Vacación</mat-label>
                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                matTooltip="Seleccionar tipo de vacación a solicitar.">
                                beach_access
                            </mat-icon>
                            <mat-select [formControl]="vacacionSeleccionada">
                                <mat-option *ngFor="let v of tiposVacacion" [value]="v.id">
                                    {{ v.descripcion }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <ng-container *ngIf="!permiteHoras">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Fecha Inicio de Vacaciones</mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa"
                                    [formControl]="fechaInicio" required>
                                <mat-datepicker-toggle matSuffix [for]="picker" id="i-cursor"
                                    matTooltip="Indicar la fecha de inicio de las vacaciones que va a solicitar."
                                    matTooltipPosition="right"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Fecha Fin de Vacaciones</mat-label>
                                <input matInput [matDatepicker]="picker2" placeholder="dd/mm/aaaa"
                                    [formControl]="fechaFinal" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2" id="i-cursor"
                                    matTooltip="Indicar la fecha de finalización de las vacaciones que va a solicitar."
                                    matTooltipPosition="right">
                                </mat-datepicker-toggle>

                                <mat-datepicker touchUi #picker2></mat-datepicker>

                                <mat-error *ngIf="fechaFinal.hasError('fechaInvalida')">
                                    La fecha final debe ser posterior a la fecha de inicio.
                                </mat-error>
                                <mat-error *ngIf="fechaFinal.hasError('minDias')">
                                    El mínimo de días requeridos para este tipo de vacación es {{ getMinDias() }}.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="permiteHoras">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Hora Inicio de Vacaciones</mat-label>
                                <input matInput type="time" [formControl]="horaInicio" required
                                    (keypress)="IngresarSoloNumerosEnteros($event)">
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Hora Fin de Vacaciones</mat-label>
                                <input matInput type="time" [formControl]="horaFinal" required
                                    (keypress)="IngresarSoloNumerosEnteros($event)">
                                <mat-error *ngIf="horaFinal.hasError('horaInvalida')">
                                    La hora final debe ser posterior a la hora de inicio.
                                </mat-error>
                                <mat-error
                                    *ngIf="!horaFinal.hasError('horaInvalida') && horaFinal.hasError('minHoras')">
                                    El mínimo de horas requerido para este tipo de vacación es {{ getMinimoHoras()
                                    }}.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </div>

                <div *ngIf="vacacionSeleccionada.value !== null" class="mt-2">
                    <div *ngIf="incluirFeriadosSeleccionado; else notaDesactivado" class="nota"
                        style="text-align: justify">
                        <span>NOTA: Los días feriados serán contabilizados en los Días totales porque el parámetro está
                        </span>
                        <strong>activado</strong>.
                    </div>
                    <ng-template #notaDesactivado>
                        <div class="nota" style="text-align: justify;">
                            <span>NOTA: Los días feriados no serán contabilizados en los Días totales porque el
                                parámetro está </span>
                            <strong>desactivado</strong>.
                        </div>
                    </ng-template>
                </div>

                <div class="row align-items-center" style="min-height: 100px;">
                    <div class="col-md-4" *ngIf="permiteHoras">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Fecha de Vacación (por horas)</mat-label>
                            <input matInput [matDatepicker]="pickerFechaHoras" placeholder="dd/mm/aaaa"
                                [formControl]="fechaHoras" required>
                            <mat-datepicker-toggle matSuffix [for]="pickerFechaHoras" id="i-cursor"
                                matTooltip="Fecha en la que se tomarán las horas de vacación."
                                matTooltipPosition="right"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #pickerFechaHoras></mat-datepicker>
                            <mat-error *ngIf="fechaHoras.hasError('esFeriado')">
                                La fecha seleccionada es feriado y este tipo de vacación no lo permite.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="!permiteHoras">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Vacaciones: días Feriados</mat-label>
                            <input matInput [value]="diasFeriados" readonly>
                            <mat-icon matSuffix
                                matTooltip="Días de feriado en las fechas seleccionadas.">help_outline</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="permiteHoras">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Vacaciones: días Feriados</mat-label>
                            <input matInput [value]="diasFeriados" readonly>
                            <mat-icon matSuffix
                                matTooltip="Días de feriado en las fechas seleccionadas.">help_outline</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                matTooltip="Saldo de vacaciones del empleado.">
                                beach_access
                            </mat-icon>
                            <mat-label>Saldo de vacaciones:</mat-label>
                            <input matInput [value]="saldo" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <div class="row m-auto text-center">
                            <div class="col-12 m-auto">
                                <div class="separar">
                                    <form method="post" enctype="multipart/form-data">
                                        <input (click)="ReseteoArchivo($event)" (change)="fileChange($event)"
                                            type="file" [formControl]="archivoF" id="file">
                                        <label for="file" class="btn-2" (click)="LimpiarNombreArchivo()" matSuffix
                                            matTooltipPosition="right"
                                            matTooltip="Subir certificado o carnet de vacunación.">
                                            Subir documento
                                        </label>
                                    </form>
                                </div>
                            </div>
                            <div class="col-11 m-auto">
                                <div class="separar">
                                    <input type="text" readonly id="letras" placeholder="Ningún archivo seleccionado."
                                        class="form-control" style="width: 200px;" [formControl]="certificadoF">
                                    <i *ngIf="HabilitarBtn" class="far fa-trash-alt"
                                        style="color:red; margin-left: 5px;" id="i-cursor" (click)="RetirarArchivo()"
                                        matSuffix matTooltipPosition="right"
                                        matTooltip="Eliminar archivo seleccionado.">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-4 mb-2">
                    <strong class="fs-8 text-secondary">
                        {{ permiteHoras
                        ? 'Horas seleccionadas por día de la semana'
                        : 'Número de días (por día de la semana) en el periodo seleccionado' }}
                    </strong>

                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-sm text-center align-middle" style="width: 100%;">
                                <thead class="table-secondary">
                                    <tr>
                                        <th class="col-total-compacta">Lunes</th>
                                        <th class="col-total-compacta">Martes</th>
                                        <th class="col-total-compacta">Miércoles</th>
                                        <th class="col-total-compacta">Jueves</th>
                                        <th class="col-total-compacta">Viernes</th>
                                        <th class="col-total-compacta">Sábado</th>
                                        <th class="col-total-compacta">Domingo</th>
                                        <th class="col-total-compacta">
                                            {{ permiteHoras ? 'Horas totales' : 'Días totales' }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-total-compacta"
                                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'L' }">
                                            {{ permiteHoras ? '' : conteoDiasSemana.L }}
                                        </td>
                                        <td class="col-total-compacta"
                                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'M' }">
                                            {{ permiteHoras ? '' : conteoDiasSemana.M }}
                                        </td>
                                        <td class="col-total-compacta"
                                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'X' }">
                                            {{ permiteHoras ? '' : conteoDiasSemana.X }}
                                        </td>
                                        <td class="col-total-compacta"
                                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'J' }">
                                            {{ permiteHoras ? '' : conteoDiasSemana.J }}
                                        </td>
                                        <td class="col-total-compacta"
                                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'V' }">
                                            {{ permiteHoras ? '' : conteoDiasSemana.V }}
                                        </td>
                                        <td class="col-total-compacta"
                                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'S' }">
                                            {{ permiteHoras ? '' : conteoDiasSemana.S }}
                                        </td>
                                        <td class="col-total-compacta"
                                            [ngClass]="{ 'dia-seleccionado': permiteHoras && diaSemanaSeleccionado === 'D' }">
                                            {{ permiteHoras ? '' : conteoDiasSemana.D }}
                                        </td>
                                        <td class="col-total-compacta text-bold">
                                            {{ permiteHoras ? horasTotales + ' horas' : diasTotales }}
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </form>

            <div class="d-flex flex-wrap justify-content-center" style="padding-top: 20px; margin-bottom: 2%;">
                <button class="btn btn-sm btn-primary" [disabled]="
                    (!permiteHoras && (
                    !fechaInicio.value ||
                    !fechaFinal.value ||
                    fechaFinal.value < fechaInicio.value ||
                    fechaFinal.hasError('minDias')
                    )) ||
                    (permiteHoras && (
                    !horaInicio.value ||
                    !horaFinal.value ||
                    !fechaHoras.value ||
                    horaFinal.hasError('horaInvalida') ||
                    horaFinal.hasError('minHoras') ||
                    fechaHoras.hasError('esFeriado')
                    ))" (click)="verificarEmpleadosVacacion()">
                    Verificar
                </button>
                <button *ngIf="verificacionRealizada" class="btn btn-sm btn-success"
                    [disabled]="!hayAlMenosUnEmpleadoValido()" (click)="GuardarDatosSolicitud()">
                    Registrar solicitud
                </button>
            </div>
            <mat-accordion class="mt-4">
                <mat-expansion-panel>
                    <mat-expansion-panel-header style="background: rgb(58, 132, 242); font-size: 14px;">
                        <mat-panel-title style="color: white;">
                            <span style="margin-left: 15px;">INDICACIONES</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle" style="color: rgba(249, 9, 9, 1);"></i>
                                    </td>
                                    <td>
                                        El empleado no cuenta con saldo suficiente para realizar la solicitud de
                                        vacaciones.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle" style="color: rgba(33, 231, 19, 1);"></i>
                                    </td>
                                    <td>
                                        Datos validados y correctos se va a cargar en el sistema (ok).
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle" style="color: rgba(244, 150, 10, 1);"></i>
                                    </td>
                                    <td>
                                        El empleado no cuenta con un periodo de vacaciones registrado en el sistema.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle" style="color: rgba(33, 219, 229, 1);"></i>
                                    </td>
                                    <td>
                                        El empleado no cuenta con un periodo de vacaciones activo en este momento.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle" style="color: rgba(222, 162, 73, 1);"></i>
                                    </td>
                                    <td>
                                        Las fechas ingresadas están fuera del periodo activo del empleado.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle" style="color: rgba(174, 49, 242, 1);"></i>
                                    </td>
                                    <td>
                                        Las horas ingresadas superan las horas que equivalen a un día. Use un tipo de
                                        vacación por días.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div style="height: 24px;"></div>
            <div style="padding-bottom: 50px; text-align: center;"
                *ngIf="data && data.length > 0 && mostrarTablaVerificacion">
                <div class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="titulo">
                        <span class="w-100 bd-highlight">
                            RESULTADO DE LA VERIFICACIÓN
                        </span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th scope="col" style="width: 7%;">Item</th>
                                    <th scope="col" style="width: 23%;">Observación</th>
                                    <th scope="col" style="width: 20%;">Nombre</th>
                                    <th scope="col" style="width: 20%;">Apellido</th>
                                    <th scope="col" style="width: 18%;">Identificación</th>
                                    <th scope="col" style="width: 12%;">Código</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let v of data | paginate:tamanio_pagina:numero_pagina; let i = index">
                                    <td align="center">{{ i + 1 }}</td>
                                    <td class="td_ob">
                                        <div class="contenedorObservacion">
                                            <div class="circulo" [style.backgroundColor]="EstiloCelda(v.observacion)">
                                            </div>
                                            <span>{{ v.observacion }}</span>
                                        </div>
                                    </td>
                                    <td>{{ v.nombre }}</td>
                                    <td>{{ v.apellido }}</td>
                                    <td>{{ v.identificacion }}</td>
                                    <td>{{ v.codigo }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-2 text-center">
                            <div class="contenedorTotal"
                                matTooltip="Número de datos que se van a cargar en el sistema.">
                                <div id="t-editar" class="circulo circuloTotal"></div>
                                <div>{{usuariosCorrectos}}</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-10 text-center">
                            <mat-paginator id="pagina" [length]="data.length" [pageSize]="tamanio_pagina"
                                [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPaginaMulti($event)"
                                showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>