<div class="container" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div id="titulo" class="row w-100 m-auto">
            <div class="col-2 col-md-2 mb-2 mb-md-0"> 
            </div>
            <div class="col-8 col-md-8 mb-2 mb-md-0 Tabla_titulo">
                <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
                    REGISTRAR PEDIDO ACCIÓN DE PERSONAL
                </span>
            </div>
            <div class="col-2 col-md-2 mb-2 mb-md-0">
                <mat-icon class="float-right" id="cerrar" [routerLink]="['/listaPedidos/']">highlight_off</mat-icon>
            </div>
        </div>

        <div class="container nota" style="padding-top: 20px;">
            <span>
                NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                Guardar.
            </span>
        </div>

        <!-- ****************************** PRIMER FORMULARIO ******************************************* -->
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>
                    <mat-icon id="icono" matSuffix matTooltipPosition="right" matTooltip="Sección 1:">
                        settings
                    </mat-icon>
                </ng-template>

                <form [formGroup]="firstFormGroup">
                    <div class="row">
                        <div class="subtitulo">
                            <span>ACCIÓN DE PERSONAL</span>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="inputText">
                                    <mat-label class="letra">Número acción de personal</mat-label>
                                    <input matInput placeholder="HU-001" formControlName="identificacionForm" required>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Ingresar un identificador del registro de acción de personal.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="inputDate">
                                    <mat-label>Fecha elaboración</mat-label>
                                    <input matInput [matDatepicker]="pickerF" placeholder="dd/mm/aaaa"
                                        formControlName="fechaForm" min="1950-01-31" max="2050-01-31" required>
                                    <mat-datepicker-toggle matSuffix [for]="pickerF" id="i-cursor"
                                        matTooltipPosition="right"
                                        matTooltip="Fecha en la que se realiza el registro de ingreso de acción de personal.">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker touchUi #pickerF></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                            </div>
                        </div>

                    </div>

                    <div class="row" style="padding-top: 15px;">
                        <div class="subtitulo">
                            <span>DATOS DEL FUNCIONARIO</span>
                        </div>
                        <div class="col-md">
                            
                             <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label >Seleccionar el empleado</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idEmpleadoF"
                                        [matAutocomplete]="auto7" required>
                                    <mat-autocomplete #auto7="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroNombre | async"
                                            [value]="option.empleado">
                                            {{option.empleado.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Empleados registrados en el sistema.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>


                        </div>
                        <div class="col-12 col-md-5">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <mat-form-field class="inputDate">
                                            <mat-label>Rige desde</mat-label>
                                            <input matInput [matDatepicker]="pickerFechaDesde" placeholder="dd/mm/aaaa"
                                                formControlName="fechaRigeDeseForm" min="1950-01-31" max="2050-01-31" required>
                                            <mat-datepicker-toggle matSuffix [for]="pickerFechaDesde" id="i-cursor"
                                                matTooltipPosition="right"
                                                matTooltip="Fecha en la que inicio a trabajar.">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker touchUi #pickerFechaDesde></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <mat-form-field class="inputDate">
                                            <mat-label>Rige hasta</mat-label>
                                            <input matInput [matDatepicker]="pickerFechaHasta" placeholder="dd/mm/aaaa"
                                                formControlName="fechaRigeHastaForm" min="1950-01-31" max="2050-01-31" required>
                                            <mat-datepicker-toggle matSuffix [for]="pickerFechaHasta" id="i-cursor"
                                                matTooltipPosition="right"
                                                matTooltip="Fecha en la que inicio a trabajar.">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker touchUi #pickerFechaHasta></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md">
                            
                        </div>
                    </div>
                </form>
                <br>
                <div class="d-flex flex-wrap justify-content-end">
                    <button mat-raised-button matStepperNext id="btn-raised" class="float-right">Siguiente</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>
                    <mat-icon id="icono" matSuffix matTooltipPosition="right" matTooltip="Sección 2:">
                        settings
                    </mat-icon>
                </ng-template>
                <form [formGroup]="secondFormGroup">
                    <div class="row">
                        <div class="subtitulo">
                            <span>TIPO DE ACCION (Configuracion de tipo de accion, al seleccionar el tipo de accion OTRO se mostrara la informacion ingresada en el campo OTRO)</span>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field style="width: 50%;">
                                    <mat-label >Tipo de acción</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idTipoAccion"
                                        [matAutocomplete]="auto8" required>
                                    <mat-autocomplete #auto8="matAutocomplete" (optionSelected)="onTipoAccionSeleccionado($event)">
                                        <mat-option *ngFor="let option of filtroTipoAccion | async"
                                            [value]="option.nombre">
                                            {{option.nombre.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Lista de tipos de acción de personal registrados en el sistema.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label class="letra">Otro</mat-label>
                                    <input type="text" aria-label="Number" matInput formControlName="otroAccionForm"
                                        [matAutocomplete]="auto2">
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Ingrese otro accion.">
                                        help_outline
                                    </mat-icon> 
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field style="width: 85%;">
                                    <mat-label>En caso de requerir especificación:</mat-label>
                                    <textarea matInput maxlength="200" placeholder="Ej: Laboratorista" [formControl]="otroEspecificacion"></textarea>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Ingrese una explicación o detalle de otro.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <div class="declaracion-radio-group ml-3">
                                    <mat-label class="letra">Presentó la declaración jurada:</mat-label>
                                    <mat-radio-group [formControl]="declaracionJuradaF">
                                        <mat-radio-button [value]="true">
                                            SI
                                        </mat-radio-button>
                                        <mat-radio-button [value]="false">
                                            NO APLICA
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md">
                            <div class="subtitulo">
                                <span>MOTIVACIÓN (Se une la base legal del tipo de accion y la adicion)</span>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field style="width: 90%;">
                                    <mat-label>Adición a base legal:</mat-label>
                                    <textarea matInput maxlength="200" placeholder="Ej: Laboratorista" [formControl]="baseLegalForm" readonly></textarea>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Regresar a la lista de opciones existentes.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <div class="d-flex flex-wrap justify-content-between">
                    <button mat-raised-button matStepperPrevious id="btn-raised" class="float-left">Atrás</button>
                    <button mat-raised-button matStepperNext id="btn-raised" class="float-right">Siguiente</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
                <ng-template matStepLabel>
                    <mat-icon id="icono" matSuffix matTooltipPosition="right" matTooltip="Sección 3:">
                        settings
                    </mat-icon>
                </ng-template>
                <form [formGroup]="thirdFormGroup">
                    <div class="row">
                        <div class="subtitulo">
                            <span>SITUACION ACTUAL (Datos tomados desde la ficha del empleado)</span>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label class="letra">Partida individual</mat-label>
                                    <input class="numero" type="tel" matInput placeholder="13369689656312"
                                        formControlName="numPartidaIForm" (keypress)="IngresarSoloNumeros($event)">
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Ingresar número de partida individual.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label >Sucursal</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idSucursal"
                                        [matAutocomplete]="auto9" required>
                                    <mat-autocomplete #auto9="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroSucursal | async"
                                            [value]="option.nombre">
                                            {{option.nombre.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Lista de departamentos.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label >Unidad de gestión</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idDepa"
                                        [matAutocomplete]="auto10" required>
                                    <mat-autocomplete #auto10="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroDepartamentos | async"
                                            [value]="option.nombre">
                                            {{option.nombre.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Lista de departamentos.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="subtitulo">
                            <span>SITUACIÓN PROPUESTA</span>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label class="letra">Proceso propuesto</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="tipoProcesoF"
                                        [matAutocomplete]="auto12" required>
                                    <mat-autocomplete #auto12="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroProceso | async"
                                            [value]="option.nombre">
                                            {{option.nombre.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Seleccionar el proceso que se encuentra propuesto.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label >Sucursal</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idSucursalPropues"
                                        [matAutocomplete]="auto13" required>
                                    <mat-autocomplete #auto13="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroSucursalPropuesta | async"
                                            [value]="option.nombre">
                                            {{option.nombre.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Lista de departamentos.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md">
                           <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label >Unidad de gestión</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idDepaPropues"
                                        [matAutocomplete]="auto14" required>
                                    <mat-autocomplete #auto14="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroDepartamentosProuesta | async"
                                            [value]="option.nombre">
                                            {{option.nombre.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Lista de departamentos.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label class="letra">Unidad Administrativa propuesta</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idDepaAdminPropuesta"
                                        [matAutocomplete]="auto15" required>
                                    <mat-autocomplete #auto15="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroDeparAdministrativaProuesta | async"
                                            [value]="option.nombre">
                                            {{option.nombre.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Lista de departamentos.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label class="letra">Ciudad</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idCiudad"
                                        [matAutocomplete]="auto4" required>
                                    <mat-autocomplete #auto4="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroCiudad | async"
                                            [value]="option.descripcion">
                                            {{option.descripcion.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Ciudades registradas en el sistema.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md"></div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label>Grupo Ocupacional</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="grupoOcupacionalF"
                                        [matAutocomplete]="auto16" required>
                                    <mat-autocomplete #auto16="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroGrupoOcupacional | async"
                                            [value]="option.descripcion">
                                            {{option.descripcion.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Grupo ocupacional registrado en el sistema.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>

                            </div>  
                        </div>  
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label>Grado</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="gradoF"
                                        [matAutocomplete]="auto17" required>
                                    <mat-autocomplete #auto17="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroGrado | async"
                                            [value]="option.descripcion">
                                            {{option.descripcion.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Grados registrados en el sistema.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="col-md"></div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class=" w-75">
                                    <mat-label class="letra">Denominacion del puesto propuesto</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="tipoCargoF"
                                        [matAutocomplete]="auto18" required>
                                    <mat-autocomplete #auto18="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroCargos | async"
                                            [value]="option.cargo">
                                            {{option.cargo.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Seleccionar el puesto que se encuentra propuesto.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo">
                                    <mat-label>Remuneración propuesta</mat-label>
                                    <input matInput type="tel" [formControl]="sueldoF" style="text-align: right;"
                                        (keypress)="IngresarSoloNumeros($event)" value="0">
                                    <span matTextPrefix>$&nbsp;</span>
                                    <span matTextSuffix>.00</span>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Indicar cual es el salario propuesto.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="contenedor-completo w-100">
                                    <mat-label>Partida Presupuestaria Individual</mat-label>
                                    <textarea matInput #acta maxlength="200"
                                        placeholder="Ingresar número del acta final del concurso"
                                        formControlName="actaForm"></textarea>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Ingresar el número del acta final del consurso.">
                                        help_outline
                                    </mat-icon>
                                    <mat-hint align="start"><strong>Ingresar hasta 200 caracteres</strong></mat-hint>
                                    <mat-hint align="end">{{acta.value.length}} / 200</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </form>
                <br>
                <div class="d-flex flex-wrap justify-content-between">
                    <button mat-raised-button id="btn-raised" matStepperPrevious class="float-left">Atrás</button>
                    <button mat-raised-button id="btn-raised" matStepperNext class="float-right">Siguiente</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup">
                <ng-template matStepLabel>
                    <mat-icon id="icono" matSuffix matTooltipPosition="right" matTooltip="Sección 4:">
                        settings
                    </mat-icon>
                </ng-template>
                <form [formGroup]="fourthFormGroup">
                    <div class="subtitulo">
                        <span>RESPONSABLES DE APROBACIÓN</span>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="abrv">
                                    <input type="text" placeholder="ING." matInput [formControl]="abrevHF">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Director(a) o responsable de Talento Humano</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idEmpleadoRF"
                                        [matAutocomplete]="auto5" required>
                                    <mat-autocomplete #auto5="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroNombreR | async"
                                            [value]="option.empleado">
                                            {{option.empleado.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Colaboradores registrados en el sistema.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="abrv">
                                    <input type="text" placeholder="ING." matInput [formControl]="abrevHF">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Autoridad Nominadora o su delegado</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idEmpleadoRNF"
                                        [matAutocomplete]="auto5" required>
                                    <mat-autocomplete #auto5="matAutocomplete">
                                        <mat-option *ngFor="let option of filtroNombreR | async"
                                            [value]="option.empleado">
                                            {{option.empleado.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Colaboradores registrados en el sistema.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>      
                    </div>
                    <div class="subtitulo">
                        <span>RESPONSABLES DE FIRMAS</span>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="abrv">
                                    <input type="text" placeholder="ING." matInput [formControl]="abrevHF">
                                </mat-form-field>
                                <mat-form-field class="nombre">
                                    <mat-label>En caso de negativa de la recepción (testigo)</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idEmpleadoHF"
                                        [matAutocomplete]="auto2" required>
                                    <mat-autocomplete #auto2="matAutocomplete">
                                        <mat-option *ngFor="let th of filtroNombreH | async" [value]="th.empleado">
                                            {{th.empleado.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Colaboradores registrados en el sistema.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field>
                                    <mat-label>Fecha en caso de negativa</mat-label>
                                    <input matInput [matDatepicker]="picker4" placeholder="dd/mm/aaaa"
                                        formControlName="fechaReempForm">
                                    <mat-datepicker-toggle matSuffix [for]="picker4" id="i-cursor"
                                        matTooltipPosition="right"
                                        matTooltip="Ingresar la fecha. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker4></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                     <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="abrv">
                                    <input type="text" placeholder="ING." matInput [formControl]="abrevGF">
                                </mat-form-field>
                                <mat-form-field class="nombre">
                                    <mat-label>Responsable de Elaboración*</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idEmpleadoGF"
                                        [matAutocomplete]="auto3" required>
                                    <mat-autocomplete #auto3="matAutocomplete">
                                        <mat-option *ngFor="let g of filtroNombreG | async" [value]="g.empleado">
                                            {{g.empleado.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Colaboradores registrados en el sistema.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="abrv">
                                    <input type="text" placeholder="ING." matInput [formControl]="abrevGF">
                                </mat-form-field>
                                <mat-form-field class="nombre">
                                    <mat-label>Responsable de Revisión*</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idEmpleadoGF"
                                        [matAutocomplete]="auto3" required>
                                    <mat-autocomplete #auto3="matAutocomplete">
                                        <mat-option *ngFor="let g of filtroNombreG | async" [value]="g.empleado">
                                            {{g.empleado.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Colaboradores registrados en el sistema.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field> 
                            </div>
                        </div>    
                     </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field class="abrv">
                                    <input type="text" placeholder="ING." matInput [formControl]="abrevGF">
                                </mat-form-field>
                                <mat-form-field class="nombre">
                                    <mat-label>Responsable de Registro y Control*</mat-label>
                                    <input type="text" aria-label="Number" matInput [formControl]="idEmpleadoGF"
                                        [matAutocomplete]="auto3" required>
                                    <mat-autocomplete #auto3="matAutocomplete">
                                        <mat-option *ngFor="let g of filtroNombreG | async" [value]="g.empleado">
                                            {{g.empleado.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Colaboradores registrados en el sistema.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field> 
                        
                            </div>
                        </div>
                    </div>
                    
                </form>
                <br>
                <div class="d-flex flex-wrap justify-content-between">
                    <button mat-raised-button id="btn-raised" matStepperPrevious class="float-left">Atrás</button>
                </div>
            </mat-step>

        </mat-horizontal-stepper>
        <div style="text-align: center; margin-bottom: 3%;">
            <button id="btn-raised" class="btn btn-sm"
                (click)="InsertarAccionPersonal(firstFormGroup.value,secondFormGroup.value,thirdFormGroup.value,fourthFormGroup.value)"
                [disabled]="!firstFormGroup.valid || !secondFormGroup.valid || !thirdFormGroup.valid || !fourthFormGroup.valid"
                value="Guardar" *ngIf="getRegistrarPedidoAccionPersonal()">
                Guardar
            </button>
        </div>
    </mat-card>
</div>