<div class="container" style="padding-bottom: 15px; padding-top: 15px;">
    <div class="row">
        <div class="col-12 col-md-6">
            <div id="titulo">
                <span>TIPO VACUNAS</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="d-flex flex-wrap justify-content-center" style="margin-top: 1%; margin-bottom: 2%;">
                    <button *ngIf="!Datos_vacunas && getCrearTipoVacuna()" id="btn-raised" class="btn btn-sm"
                        (click)="AbrirVentanaRegistrarVacuna()">
                        Crear Vacunas
                    </button>
                    <button id="btn-raised" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                        Mostrar lista
                    </button>
                </div>
            </mat-card>

        </div>

        <!--  *******************************  REGISTRO MULTIPLE DE TIPO VACUNAS  ****************************** -->
        <div class="col-12 col-md-6">
            <div id="titulo"  class="row justify-content-center">
                <span>REGISTRO MÚLTIPLE</span>
            </div>
            <mat-card class="row justify-content-center">
                <div class="row m-auto">
                    <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;" *ngIf="getCargarPlantillaTipoVacuna()">
                        <form method="post" class="btn-2" enctype="multipart/form-data" style="margin: auto; display: flex; flex-direction: column; align-items: center;">
                            <input (change)="FileChange($event)" type="file" [formControl]="archivoForm" id="file"
                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            <label for="file" matSuffix matTooltipPosition="right" *ngIf="!mostrarbtnsubir"
                                style="height: 65px; padding-top: 25px"
                                matTooltip="Dar click para selecionar plantilla y cargar registros.">
                                Subir plantilla
                            </label>
                            <label for="file" matSuffix matTooltipPosition="right"
                                *ngIf="mostrarbtnsubir && messajeExcel != 'error'"
                                style="height: 65px; padding-top: 25px;"
                                matTooltip="Presionar para seleccionar Plantilla con nombre plantillaConfiguracionGeneral.">
                                Subir nueva plantilla
                            </label>
                        </form>
                    </div>
                    <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                        <div *ngIf="!Datos_vacunas" class="d-flex flex-wrap justify-content-center m-auto w-auto">
                            <a id="descargar" class="btn m-auto" matSuffix matTooltipPosition="right"
                                matTooltip="Dar click para ver o descargar el documento."
                                href="{{hipervinculo}}/plantillaD/documento/plantillaConfiguracionGeneral.xlsx">
                                <br>
                                Descargar plantilla usuarios
                            </a>
                        </div>
                        <div class="d-flex flex-wrap justify-content-center m-auto w-auto">
                            <button *ngIf="Datos_vacunas && messajeExcel != 'error'" id="descargar" class="btn m-auto"
                                (click)="ConfirmarRegistroMultiple()" matSuffix matTooltipPosition="right"
                                matTooltip="Guardar registro múltiple.">
                                Registrar
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="!Datos_vacunas">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="titulo" class="row w-100 m-auto">
            <div class="col-12 col-md-2 mb-2 mb-md-0 order-2 order-md-2">  
            </div>
            <div class="col-12 col-md-8 mb-2 mb-md-0 order-1 order-md-2 Tabla_titulo">
                <span>
                    RESULTADO DE BÚSQUEDA
                </span>
            </div>
            <div class="col-12 col-md-2 mb-2 mb-md-0 order-3 order-md-2">
                <button type="submit" class="btn btn-outline-light btn-sm btn_eliminar" style="margin-top: -3px;"
                    (click)="ConfirmarDeleteMultiple()">
                    Eliminar
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>
                            <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                matTooltipPosition="right" matTooltip="Dar clic para activar selección múltiple."
                                id="SelectCheck" (click)="HabilitarSeleccion()">
                                library_add_check
                            </mat-icon>
                            <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterTogglePag() : null"
                                [checked]="selectionVacuna.hasValue() && isAllSelectedPag()"
                                [indeterminate]="selectionVacuna.hasValue() && !isAllSelectedPag()"
                                [aria-label]="checkboxLabelPag()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Vacunas</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [formControl]="nombreF">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de tipo vacuna de acuerdo a la columna de la tabla.">
                                help_outline
                            </mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let v of vacunas| filtrosNombres: nombreF.value |  paginate:tamanio_pagina:numero_pagina">
                        <td>
                            <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                (change)="$event ? selectionVacuna.toggle(v) : null"
                                [checked]="selectionVacuna.isSelected(v)" [aria-label]="checkboxLabelPag(v)">
                            </mat-checkbox>
                        </td>
                        <td>{{v.nombre}}</td>
                        <td class="justify-content-center">
                            <i id="t-editar" (click)="AbrirEditar(v)" matSuffix matTooltipPosition="right"
                                matTooltip="Modificar datos de este registro" class="fas fa-edit" *ngIf="getEditarTipoVacuna()">
                                <p>Editar</p>
                            </i>
                            <i (click)="ConfirmarDelete(v)" class="far fa-trash-alt" id="t-eliminar" matSuffix
                                matTooltipPosition="right" matTooltip="Eliminar este registro." *ngIf="getEliminarTipoVacuna()">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="vacunas.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <!--  **********************  DESCARGAR REPORTES  ***********************  -->
        <div *ngIf="getDescargarReportesTipoVacuna()">
            <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 10px;">
                <i (click)="GenerarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix
                    matTooltipPosition="right" matTooltip="Descargar Lista de Vacunas en formato PDF.">
                    <p>PDF</p>
                </i>
                <i (click)="generarExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Vacunas en formato EXCEL.">
                    <p>XLSL</p>
                </i>
                <i (click)="ExportToCSV()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Vacunas en formato CSV.">
                    <p>CSV</p>
                </i>
                <i (click)="ExportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Vacunas en formato XML.">
                    <p>XML</p>
                </i>
            </div>
            <div class="d-flex justify-content-end"
                style="margin-right: 2%; margin-top: -1%; color: rgb(158, 154, 154);">
                <p> Reportes Tipo Vacunas</p>
            </div>
        </div>
    </div>
</div>

<!--  **********************************  INFORMACION DE LAS OBSERVACIONES DEL REGISTRO MULTIPLE ***************************************** -->
<div class="container" style="padding-top: 10px; margin-bottom: 25px;" *ngIf="Datos_vacunas && messajeExcel != 'error'">
    <app-definicion-plantilla>
    </app-definicion-plantilla>
</div>

<!------------------ TABLA DE DATOS DE LA CARGA MULTIPLE DE DISCAPACIDAD ------------------------------------------------->
<div class="container" style="padding-bottom: 10px; margin-bottom: 35px;"
    *ngIf="Datos_vacunas && messajeExcel != 'error'">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="titulo">REGISTRO MÚLTIPLE</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center; font-size: 13px;">
                        <th scope="col">Item</th>
                        <th scope="col">Observación</th>
                        <th scope="col">Vacunas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let va of Datos_vacunas | paginate:tamanio_paginaMul:numero_paginaMul; let i = index">
                        <td id="letras" style="font-size: 12px; padding-left: 3px; width: 50px;" align="center">
                            {{va.fila}}</td>
                        <td style="font-size: 12px;" class="td_ob">
                            <div style="width: 270px; margin: auto;">
                                <div id="t-editar" class="circulo"
                                    [style.background-color]="EstiloCelda(va.observacion)"></div>
                                {{va.observacion}}
                            </div>
                        </td>
                        <td [style.color]="EstiloTextoCelda(va.vacuna)" style="font-size: 12px;">
                            {{va.vacuna}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-2">
                <div class="contenedorTotal" matTooltip="Número de datos que se van a cargar en el sistema.">
                    <div id="t-editar" class="circulo circuloTotal"></div>
                    <div>{{vacunasCorrectas}}</div>
                  </div>
            </div>
            <div class="col-12 col-md-10">
                <mat-paginator [length]="Datos_vacunas.length" [pageSize]="tamanio_paginaMul"
                [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPaginaMulti($event)" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
