<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 15px;" [hidden]="verDetalle">
    <div id="titulo">
        <span>REPORTE DE PLANIFICACIÓN HORARIA</span>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5" style="padding-bottom: 10px;">
            <div id="resultados">
                <span>RANGO FECHAS CONSULTA</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="d-flex flex-wrap justify-content-center">
                                <mat-form-field>
                                    <mat-label>Mes inicio</mat-label>
                                    <input matInput [matDatepicker]="fec1" [formControl]="fechaInicialF"
                                        placeholder="MM/YYYY">
                                    <mat-datepicker-toggle matIconSuffix [for]="fec1"></mat-datepicker-toggle>
                                    <mat-datepicker #fec1 startView="year" (monthSelected)="FormatearFecha($event, fec1, 1)">
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex flex-wrap justify-content-center">
                                <mat-form-field>
                                    <mat-label>Mes final</mat-label>
                                    <input matInput [matDatepicker]="fec2" [formControl]="fechaFinalF"
                                        placeholder="MM/YYYY">
                                    <mat-datepicker-toggle matIconSuffix [for]="fec2"
                                        [disabled]="fecHorario"></mat-datepicker-toggle>
                                    <mat-datepicker #fec2 startView="year" (monthSelected)="FormatearFecha($event, fec2, 2)">
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-lg-7">
            <div id="resultados">
                <span>OPCIONES DE DESCARGA</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="d-flex flex-wrap justify-content-around" style="margin: 0px 10px 0px 10px;">
                    <button mat-icon-button (click)="ValidarReporte('ver')" matTooltipPosition="right"
                        matTooltip="Previsualizar reporte en el navegador.">
                        <mat-icon class="ver">visibility</mat-icon>
                    </button>
                    <button mat-icon-button (click)="ValidarReporte('open')" matTooltipPosition="right"
                        matTooltip="Previsualizar reporte en el navegador en fomato PDF.">
                        <mat-icon class="i-pdf">picture_as_pdf</mat-icon>
                    </button>
                    <button mat-icon-button (click)="ValidarReporte('excel')" matTooltipPosition="right"
                        matTooltip="Descargar reporte en formato EXCEL.">
                        <mat-icon class="fas fa-file-excel i-excel"></mat-icon>
                    </button>
                    <button mat-icon-button (click)="ValidarReporte('print')" matTooltipPosition="right"
                        matTooltip="Imprimir reporte en formato PDF.">
                        <mat-icon class="i-print">local_printshop</mat-icon>
                    </button>
                    <button mat-icon-button (click)="ValidarReporte('download')" matTooltipPosition="right"
                        matTooltip="Descargar reporte en formato PDF.">
                        <mat-icon class="i-download">cloud_download</mat-icon>
                    </button>
                </div>
                <div class="d-flex flex-wrap justify-content-around" style="margin: 0px 10px 0px 10px;">
                    <app-opcion-usuario (tipoUsuarioCambio)="ObtenerTipoUsuario($event)"></app-opcion-usuario>
                </div>
            </mat-card>
        </div>
        <app-criterios-busqueda [num_option]="5" [limpiar]="limpiar" id="busqueda"></app-criterios-busqueda>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;" [hidden]="verDetalle">

    <!-- TABLA PARA SUCURSALES -->
    <div *ngIf="bool.bool_suc" class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultados">
            <span class="w-100 bd-highlight">
                RESULTADO SUCURSALES
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleSuc() : null"
                                [checked]="selectionSuc.hasValue() && isAllSelectedSuc()"
                                [indeterminate]="selectionSuc.hasValue() && !isAllSelectedSuc()"
                                [aria-label]="checkboxLabelSuc()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let s of sucursales | emplNombre: filtroNombreSuc | paginate:tamanio_pagina_suc:numero_pagina_suc">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionSuc.toggle(s) : null" [checked]="selectionSuc.isSelected(s)"
                                [aria-label]="checkboxLabelSuc(s)">
                            </mat-checkbox>
                        </td>
                        <td>{{s.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina_suc"
            [pageSizeOptions]="pageSizeOptions_suc" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <br>
    </div>

    <!-- TABLA PARA REGIMEN -->
    <div *ngIf="bool.bool_reg" class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultados">
            <span class="w-100 bd-highlight">
                RESULTADO REGIMEN LABORAL
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleReg() : null"
                                [checked]="selectionReg.hasValue() && isAllSelectedReg()"
                                [indeterminate]="selectionReg.hasValue() && !isAllSelectedReg()"
                                [aria-label]="checkboxLabelReg()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let r of regimen | emplNombre: filtroNombreReg | paginate:tamanio_pagina_reg:numero_pagina_reg">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionReg.toggle(r) : null" [checked]="selectionReg.isSelected(r)"
                                [aria-label]="checkboxLabelReg(r)">
                            </mat-checkbox>
                        </td>
                        <td>{{r.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="regimen.length" [pageSize]="tamanio_pagina_reg"
            [pageSizeOptions]="pageSizeOptions_reg" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <br>
    </div>

    <!-- TABLA PARA CARGOS -->
    <div *ngIf="bool.bool_cargo" class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultados">
            <span class="w-100 bd-highlight">
                RESULTADO CARGOS
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleCar() : null"
                                [checked]="selectionCar.hasValue() && isAllSelectedCar()"
                                [indeterminate]="selectionCar.hasValue() && !isAllSelectedCar()"
                                [aria-label]="checkboxLabelCar()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let c of cargos | emplNombre: filtroNombreCar | paginate:tamanio_pagina_car:numero_pagina_car">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionCar.toggle(c) : null" [checked]="selectionCar.isSelected(c)"
                                [aria-label]="checkboxLabelCar(c)">
                            </mat-checkbox>
                        </td>
                        <td>{{c.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina_suc"
            [pageSizeOptions]="pageSizeOptions_suc" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <br>
    </div>

    <!-- TABLA PARA DEPARTAMENTOS -->
    <div *ngIf="bool.bool_dep" class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultados">
            <span class="w-100 bd-highlight">
                RESULTADO DEPARTAMENTOS
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleDep() : null"
                                [checked]="selectionDep.hasValue() && isAllSelectedDep()"
                                [indeterminate]="selectionDep.hasValue() && !isAllSelectedDep()"
                                [aria-label]="checkboxLabelDep()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let d of departamentos | emplNombre: filtroNombreDep | paginate:tamanio_pagina_dep:numero_pagina_dep">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionDep.toggle(d) : null" [checked]="selectionDep.isSelected(d)"
                                [aria-label]="checkboxLabelDep(d)">
                            </mat-checkbox>
                        </td>
                        <td>{{d.departamento}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="departamentos.length" [pageSize]="tamanio_pagina_dep"
            [pageSizeOptions]="pageSizeOptions_dep" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <br>
    </div>
    <!-- TABLA PARA EMPLEADOS -->
    <div *ngIf="bool.bool_emp" class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultados">
            <span class="w-100 bd-highlight">
                RESULTADO USUARIOS
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleEmp() : null"
                                [checked]="selectionEmp.hasValue() && isAllSelectedEmp()"
                                [indeterminate]="selectionEmp.hasValue() && !isAllSelectedEmp()"
                                [aria-label]="checkboxLabelEmp()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Codigo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let e of empleados | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombreEmp | paginate:tamanio_pagina_emp:numero_pagina_emp">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionEmp.toggle(e) : null" [checked]="selectionEmp.isSelected(e)"
                                [aria-label]="checkboxLabelEmp(e)">
                            </mat-checkbox>
                        </td>
                        <td>{{e.nombre}}</td>
                        <td>{{e.cedula}}</td>
                        <td>{{e.codigo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="empleados.length" [pageSize]="tamanio_pagina_emp"
            [pageSizeOptions]="pageSizeOptions_emp" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>

<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 15px;" [hidden]="!verDetalle">
        <div id="titulo" style="margin-bottom: 25px;">
            <span>DETALLES  - USUARIOS {{opcionBusqueda==1 ? 'ACTIVOS': 'INACTIVOS'}}</span>
            <button class="btn btn-outline-light btn-sm" style="float: left; margin-left: 10px" (click)="Regresar()"
            matTooltip="Regresar">
            <i class="fas fa-arrow-left"></i>
        </button>
        </div>
        <!-- *********************** TABLA DE DETALLES DE HORARIOS Y DEFINICIONES ******************************* -->
        <div class="container" id="horarios" *ngIf="ver_acciones">
            <div class="row">
                <div class="col-md">
                    <div class="mat-elevation-z8" style="background: white;">
                        <div class="d-flex bd-highlight" id="resultados">
                            <span class="w-100 bd-highlight">
                                HORARIOS
                            </span>
                        </div>
                        <div class="table-responsive" style="text-align: center;">
                            <table id="table_acciones" class="table table-hover table-sm" style="margin: 0 auto;">
                                <thead class="thead-light">
                                    <tr style="text-align: center;">
                                        <th scope="col" id="td_horarios">HORARIO</th>
                                        <th scope="col" id="td_horarios">ENTRADA (E)</th>
                                        <th scope="col" id="td_horarios">INICIO ALIMENTACIÓN (I/A)</th>
                                        <th scope="col" id="td_horarios">FIN ALIMENTACIÓN (F/A)</th>
                                        <th scope="col" id="td_horarios">SALIDA (S)</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="paginar">
                                    <tr
                                        *ngFor="let d of detalle_acciones | paginate:tamanio_pagina:numero_pagina">
                                        <td id="td_horarios">{{d.horario}}</td>
                                        <td id="td_horarios">{{d.entrada_}}</td>
                                        <td id="td_horarios">{{d.inicio_comida}}</td>
                                        <td id="td_horarios">{{d.fin_comida}}</td>
                                        <td id="td_horarios">{{d.salida_}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!paginar">
                                    <tr *ngFor="let d of detalle_acciones">
                                        <td id="td_horarios">{{d.horario}}</td>
                                        <td id="td_horarios">{{d.entrada_}}</td>
                                        <td id="td_horarios">{{d.inicio_comida}}</td>
                                        <td id="td_horarios">{{d.fin_comida}}</td>
                                        <td id="td_horarios">{{d.salida_}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <mat-paginator #paginatorDetalle [hidden]="!paginar" id="pagina" [length]="detalle_acciones.length"
                            [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
                            (page)="ManejarPaginaDetalle($event)" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
                <div class="col-md">
                    <div class="mat-elevation-z8" style="background: white;">
                        <div class="d-flex bd-highlight" id="resultados">
                            <span class="w-100 bd-highlight">
                                DEFINICIONES
                            </span>
                        </div>
                        <div class="table-responsive" style="text-align: center;">
                            <table id="table_acciones" class="table table-hover table-sm" style="margin: 0 auto;">
                                <thead class="thead-light">
                                    <tr style="text-align: center;">
                                        <th scope="col" id="td_horarios">NOMENCLATURA</th>
                                        <th scope="col" id="td_horarios">DESCRIPCIÓN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let n of nomenclatura">
                                        <td id="td_horarios">{{n.nombre}}</td>
                                        <td id="td_horarios">{{n.descripcion}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- TABLA PARA EMPLEADOS -->
            <div class="mat-elevation-z8" style="background: white;">
                <div class="d-flex bd-highlight" id="resultados">
                    <span class="w-100 bd-highlight">
                        PLANIFICACIONES
                    </span>
                </div>
                <div class="table-responsive">
                    <table id="table_horario" class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th class="sticky colum_1" scope="col" id="td_horarios" rowspan="2">N°</th>
                                <th class="sticky colum_1" scope="col" id="td_horarios" rowspan="2">CÓDIGO</th>
                                <th class="sticky-2 colum_1" scope="col" id="td_horarios" rowspan="2">EMPLEADO</th>
                                <th class="sticky-3 colum_2" scope="col" id="td_horarios" rowspan="2">AÑO</th>
                                <th class="sticky-4 colum_2" scope="col" id="td_horarios" rowspan="2">MES</th>
                                <th scope="col" id="td_horarios" colspan="31">DÍAS DEL MES</th>
                            </tr>
                            <tr style="text-align: center;">
                                <th scope="col" id="td_horarios">01</th>
                                <th scope="col" id="td_horarios">02</th>
                                <th scope="col" id="td_horarios">03</th>
                                <th scope="col" id="td_horarios">04</th>
                                <th scope="col" id="td_horarios">05</th>
                                <th scope="col" id="td_horarios">06</th>
                                <th scope="col" id="td_horarios">07</th>
                                <th scope="col" id="td_horarios">08</th>
                                <th scope="col" id="td_horarios">09</th>
                                <th scope="col" id="td_horarios">10</th>
                                <th scope="col" id="td_horarios">11</th>
                                <th scope="col" id="td_horarios">12</th>
                                <th scope="col" id="td_horarios">13</th>
                                <th scope="col" id="td_horarios">14</th>
                                <th scope="col" id="td_horarios">15</th>
                                <th scope="col" id="td_horarios">16</th>
                                <th scope="col" id="td_horarios">17</th>
                                <th scope="col" id="td_horarios">18</th>
                                <th scope="col" id="td_horarios">19</th>
                                <th scope="col" id="td_horarios">20</th>
                                <th scope="col" id="td_horarios">21</th>
                                <th scope="col" id="td_horarios">22</th>
                                <th scope="col" id="td_horarios">23</th>
                                <th scope="col" id="td_horarios">24</th>
                                <th scope="col" id="td_horarios">25</th>
                                <th scope="col" id="td_horarios">26</th>
                                <th scope="col" id="td_horarios">27</th>
                                <th scope="col" id="td_horarios">28</th>
                                <th scope="col" id="td_horarios">29</th>
                                <th scope="col" id="td_horarios">30</th>
                                <th scope="col" id="td_horarios">31</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of horarios | paginate : tamanio_pagina_res : numero_pagina_res">
                                <td class="sticky colum_1" id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(e.color)}">
                                {{e.n}}
                                </td>
                                <td class="sticky colum_1" id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(e.color)}">
                                {{e.codigo}}
                                </td>
                                <td class="sticky-2 colum_1" id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color)}">
                                    {{e.empleado}}
                                </td>
                                <td class="sticky-3 colum_2" id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color)}">
                                    {{e.anio}}
                                </td>
                                <td class="sticky-4 colum_2" id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color)}">
                                    {{e.mes}}
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 1 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia1.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 2 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia2.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 3 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia3.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 4 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia4.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 5 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia5.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 6 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia6.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 7 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia7.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 8 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia8.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 9 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia9.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 10 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia10.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 11 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia11.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 12 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia12.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 13 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia13.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 14 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia14.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 15 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia15.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 16 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia16.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 17 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia17.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 18 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia18.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 19 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia19.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 20 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia20.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 21 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia21.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 22 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia22.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 23 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia23.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 24 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia24.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 25 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia25.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 26 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia26.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 27 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia27.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 28 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia28.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 29 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia29.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 30 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia30.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                                <td id="td_horarios"
                                    [ngStyle]="{'background':CambiarColores(e.color), 'background-color':e.seleccionado === 31 ? '#9CF7B9' : '' }">
                                    <div *ngFor="let dia of e.dia31.split(','); let ultimo = last">
                                        {{ dia }}
                                        <br *ngIf="!ultimo">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator #paginatorResultado [length]="horarios.length" [pageSize]="tamanio_pagina_res"
                    [pageSizeOptions]="pageSizeOptions_res" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
                <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 0.5rem">
                    <i id="pdf" class="fas fa-file-pdf icon" matSuffix matTooltipPosition="right"
                        matTooltip="Descargar reporte en formato PDF." (click)="GenerarPDF('download')">
                        <p>PDF</p>
                    </i>
                    <i id="excel" class="fas fa-file-excel icon" matSuffix matTooltipPosition="right"
                        matTooltip="Descargar reporte en formato EXCEL." (click)="ExportarExcel()">
                        <p>XLSL</p>
                    </i>
                </div>
            </div>
</div>
