<ng-container>
    <div id="resultados" >
        <span cdkDrag cdkDragRootElement=".cdk-overlay-pane" id="mover">
            EDITAR REGISTRO {{tipoAccionPersonal}}
        </span>
    </div>
    <form [formGroup]="formulario">
    <mat-card-content>
        <div class="container" style="text-align: center;">
            <div class="nota" style="text-align: justify;">
                <span>
                    NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                    Guardar.
                </span>
            </div>
            <mat-form-field>
                <mat-label>Seleccionar el {{tipoAccionPersonal.toLocaleLowerCase()}}</mat-label>
                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                    matTooltip="'Seleccionar una opcion.">
                    help_outline
                </mat-icon>
                <mat-select [formControl]="idListaAcc" required>
                    <mat-option *ngFor="let lis of listadoAccion" [value]="lis.id">
                        <div *ngIf="lis.nombre != undefined">{{lis.nombre}}</div>
                        <div *ngIf="lis.nombre == undefined">{{lis.descripcion}}</div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Estado</mat-label>
                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                    matTooltip="Seleccionar el estado a actualizar.">
                    help_outline
                </mat-icon>
                <mat-select [formControl]="ValorEstado" required>
                    <mat-option *ngFor="let esta of estados" [value]="esta.value">
                        {{esta.item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card-content>
    <div style="text-align: center; margin-bottom: 2%;">
        <button mat-button id="btn-raised" class="btn btn-sm" (click)="Confirmar()"
            [disabled]="!formulario.valid" type="submit">
            Guardar
        </button>
        <button mat-button id="btn-raised" class="btn btn-sm" (click)="CerrarVentana()">
            Cancelar
        </button>
    </div>
    </form>
</ng-container>
  
