@media (max-width: 992px) {
    .home-inner {
        padding-top: 100px;
    }
}

mat-form-field {
    width: 90%;
}

img {
    width: 100%;
}

.pantalla {
    margin: auto;
}

.home-inner {
    padding: 45px 100px 15px 100px;
}

.btn {
    background-color: rgb(80, 87, 97);
    border-radius: 10px;
    color: white;
}

mat-card {
    width: 320px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    border-style: groove;
    border-radius: 25px;
    padding-bottom: 25px;
}

@media (max-width: 550px) {
    .home-inner {
        padding-top: 100px;
    }

    #home-section {
        background: url('../../../../../assets/imagenes/contrasena_mobil.png') no-repeat !important;
        min-height: 100vh;
        background-size: cover !important;
        background-attachment: scroll !important;
    }
}

@media (min-width: 551px) {
    #home-section {
        background: url('../../../../../assets/imagenes/apple.jpg') no-repeat;
        min-height: 100vh;
        background-size: cover;
        background-attachment: fixed;
    }
}

.dark-overlay {
    background-color: rgba(0, 0, 0, .6);
    min-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

button{
    width: 80%;
    margin: auto;
}
