<div id="titulo" class="row w-100 m-auto">
    <div class="col-2 col-md-2 mb-2 mb-md-0"></div>
    <div class="col-8 col-md-8 mb-2 mb-md-0 Tabla_titulo">
        <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
            REGISTRAR PERIODO VACACIONES
        </span>
    </div>
    <div class="col-2 col-md-2 mb-2 mb-md-0">
        <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana()">highlight_off</mat-icon>
    </div>
</div>
<div>
    <!-- FORMULARIO COMPLETO -->
    <form [formGroup]="PerVacacionesForm">
        <mat-card-content>
            <div class="container" style="text-align: center">
                <div class="nota" style="text-align: justify;">
                    <span>
                        NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                        Guardar.
                    </span>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field class="observar">
                                <mat-label>Observaciones</mat-label>
                                <input matInput placeholder="Ej:" [formControl]="observacionF" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Ingresar nombre del período de vacaciones">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label id="letras">Fecha desde</mat-label>
                                <input matInput [matDatepicker]="picker" (dateInput)="validarFecha($event)"
                                    placeholder="dd/mm/aaaa" [formControl]="fechaInicioF" required>
                                <mat-datepicker-toggle matSuffix [for]="picker" id="i-cursor" matTooltipPosition="right"
                                    matTooltip="Ingresar la fecha de inicio de período de vacaciones. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                                </mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label id="letras">Fecha hasta</mat-label>
                                <input matInput [matDatepicker]="picker2" placeholder="dd/mm/aaaa"
                                    [formControl]="fechaFinF">
                                <mat-datepicker-toggle matSuffix [for]="picker2" id="i-cursor"
                                    matTooltipPosition="right"
                                    matTooltip="Ingresar la fecha de finalización de período de vacaciones. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                                </mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label id="letras">Fecha carga</mat-label>
                                <input matInput [matDatepicker]="picker4" placeholder="dd/mm/aaaa"
                                    [formControl]="fechaCargaF" required>
                                <mat-datepicker-toggle matSuffix [for]="picker4" id="i-cursor"
                                    matTooltipPosition="right"
                                    matTooltip="Ingresar la fecha de inicio de período de vacaciones. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                                </mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker4></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label id="letras">Fecha última actualización</mat-label>
                                <input matInput [matDatepicker]="picker5" placeholder="dd/mm/aaaa"
                                    [formControl]="fechaActualizacionF" required>
                                <mat-datepicker-toggle matSuffix [for]="picker5" id="i-cursor"
                                    matTooltipPosition="right"
                                    matTooltip="Ingresar la fecha de inicio de período de vacaciones. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                                </mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker5></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label id="letras">Días de vacación</mat-label>
                                <input matInput placeholder="Días de incremento" [formControl]="diasVacacionF" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Número de días que se incrementán a los días de vacaciones que se le conceden al empleado al cumplir los años indicados de antiguedad">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label id="letras">Días usados de vacaciones</mat-label>
                                <input matInput placeholder="Días de incremento" [formControl]="diasUsadosVacacionF"
                                    required (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Número de días de vacaciones que tiene disponibles el empleado">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label id="letras">Días de vacación por antiguedad</mat-label>
                                <input matInput placeholder="Días de incremento" [formControl]="diaAntiguedadF" required
                                    (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Número de días que se incrementán a los días de vacaciones que se le conceden al empleado al cumplir los años indicados de antiguedad">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label id="letras">Días usados de antiguedad</mat-label>
                                <input matInput placeholder="Días de incremento" [formControl]="diasUsadosAntiguedadF"
                                    required (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Número de horas de vacaciones que tiene disponibles el empleado">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label id="letras">Dias de vacaciones perdidos</mat-label>
                                <input matInput placeholder="Días de incremento" [formControl]="diaPerdidoF" required
                                    (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Número de horas de vacaciones que tiene disponibles el empleado">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label id="letras">Fecha inicio pérdida</mat-label>
                                <input matInput [matDatepicker]="picker3" placeholder="dd/mm/aaaa"
                                    [formControl]="fechaPerdidaF">
                                <mat-datepicker-toggle matSuffix [for]="picker3" id="i-cursor"
                                    matTooltipPosition="right"
                                    matTooltip="Ingresar la fecha de inicio de período de vacaciones. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                                </mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </form>
    <div class="d-flex flex-wrap justify-content-center" style="padding-top: 20px; margin-bottom: 2%;">
        <button id="btn-raised" class="btn btn-sm" [disabled]="!PerVacacionesForm.valid"
            (click)="ValidarDatosPerVacacion(PerVacacionesForm.value)" value="Guardar">
            Guardar
        </button>
    </div>
</div>