mat-form-field {
  padding: 10px 15px 0px 15px;
}

table {
  width: 100%;
  font-size: 12px;
}

tr {
  text-align: center;
}

th {
  text-align: center;
  vertical-align: middle !important;
}

td {
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
}

p {
  font-size: x-small;
}

mat-icon {
  cursor: pointer;
  width: 1.625rem;
}

#codigoColoresTabla {
  width: auto;
  font-size: 12px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#coloresTitulo {
  background-color: #e9ecef;
}

.ver {
  color: indianred;
}

.colores {
  width: 2.5rem;
  min-width: 1rem;
}

.verde {
  background-color: #55EE44;
}

.rojo {
  background-color: #EE4444;
}

#busqueda {
  margin-top: 10px;
}

#detalle {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
}

#detalle .t_horarios,
.coloresItem,
.colores {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

#detalle {
  border-spacing: 0;
}

#detalle th,
#detalle td {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

#detalle tbody tr {
  background-color: #fbfbfb;
}

#detalle tbody tr:nth-child(2n) {
  background-color: #e6f3ff;
}

mat-form-field.input-tables {
    background: transparent;
    font-size: 12px;
    text-align: center;
    outline: none;
    fill: none;
    height: 80px;
    padding-left: 20px;
}