<br>
<mat-tab-group>

    <!-- PANTALLA CARGAR NIVELES DE DEPARTAMENTOS -->
     <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">file &nbsp;</mat-icon>
            <h6 id="items" (click)="LimpiarCampos()">Cargar Niveles Departamento</h6>
        </ng-template>
        <div class="container" style="padding-top: 15px;">
            <div class="row m-auto">
                <div class="col-md">
                    <div id="titulo">
                        <span>CARGAR PLANTILLAS</span>
                    </div>
                    <mat-card class="example-card mat-elevation-z9">
                        <div class="row">
                            <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="d-flex flex-wrap justify-content-around" style="text-align: center; justify-content: center;">
                                    <form method="post" class="btn-2" enctype="multipart/form-data">
                                        <input (change)="FileChange($event, 'niveles')" type="file" [formControl]="archivoForm" id="file"
                                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                        <label for="file" matSuffix matTooltipPosition="right" *ngIf="!mostrarbtnsubir"
                                            style="height: 65px; padding-top: 25px;"
                                            matTooltip="Dar click para selecionar plantilla y cargar registros.">
                                            Subir plantilla
                                        </label>
                                        <label for="file"  matSuffix matTooltipPosition="right"
                                            *ngIf="mostrarbtnsubir && messajeExcel != 'error'"
                                            style="height: 64px; padding-top: 25px;"
                                            matTooltip="Presionar para seleccionar Plantilla con nombre Feriados.">
                                            Subir nueva plantilla
                                        </label>
                                    </form>
                                </div>
                            </div>
                            <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                                <div *ngIf="DatosNivelesDep.length == 0" class="d-flex flex-wrap justify-content-around">
                                    <a id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                                        style="margin: 2% 0% 3% 0%;" matTooltip="Dar click para ver o descargar el documento."
                                        href="{{hipervinculo}}/plantillaD/documento/plantillaConfiguracionGeneral.xlsx">
                                        <br>
                                        Descargar plantilla usuarios
                                    </a>
                                </div>
                                <div *ngIf="DatosNivelesDep.length > 0" class="d-flex flex-wrap justify-content-around" style="text-align: center; justify-content: center;">
                                    <button id="descargar" class="btn btn-sm" (click)="ConfirmarRegistroMultiple()"
                                         matSuffix matTooltipPosition="right"
                                         matTooltip="Guardar registro multiple.">
                                        Registrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

        <!--  **********************************  INFORMACION DE LAS OBSERVACIONES DEL REGISTRO MULTIPLE ***************************************** -->
        <div class="container" style="padding-top: 10px; margin-bottom: 25px;">
            <app-definicion-plantilla>
            </app-definicion-plantilla>
        </div>

        <!------------------ TABLA DE DATOS DE LA CARGA MULTIPLE DE FERIADOS ------------------------------------------------->
        <div *ngIf="DatosNivelesDep.length > 0 " class="container" style="padding-bottom: 10px; margin-bottom: 35px;">
            <div class="mat-elevation-z8" style="background: white;">
                <div id="titulo">REGISTRO MULTIPLE</div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center; font-size: 13px;">
                                    <th scope="col">Item</th>
                                    <th scope="col">Observación</th>
                                    <th scope="col">SUCURSAL</th>
                                    <th scope="col">Departamento</th>
                                    <th scope="col">Nivel</th>
                                    <th scope="col">DEPARTAMENTO SUPERIOR</th>
                                    <th scope="col">SUCURSAL DEPARTAMENTO SUPERIOR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let nt of DatosNivelesDep | paginate:tamanio_paginaMul:numero_paginaMul; let i = index">
                                    <td id="letras" style="font-size: 12px; padding-left: 3px; width: 50px;" align="center">{{nt.fila}}</td>
                                    <td style="font-size: 12px;">
                                        <div style="width: 270px; margin: auto;">
                                            <div id="t-editar" class="circulo"
                                                [style.background-color]="stiloCelda(nt.observacion)"></div>
                                            {{nt.observacion}}
                                        </div>
                                    </td>
                                    <td style="font-size: 12px;">{{nt.sucursal}}</td>
                                    <td style="font-size: 12px;">{{nt.departamento}}</td>
                                    <td style="font-size: 12px;">{{nt.nivel}}</td>
                                    <td style="font-size: 12px;">{{nt.depa_superior}}</td>
                                    <td style="font-size: 12px;">{{nt.sucursal_depa_superior}}</td>
                                </tr>
                            </tbody>
                    </table>
                </div>
                <mat-paginator  [length]="DatosNivelesDep.length!" [pageSize]="tamanio_paginaMul"
                        [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPaginaMulti($event)"
                        showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
        
     </mat-tab>

    <!-- PANTALLA CARGAR CONTRATOS -->
    <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">file &nbsp;</mat-icon>
                <h6 id="items" (click)="LimpiarCampos()">Cargar Contratos</h6>
            </ng-template>
            <div class="container" style="padding-top: 15px;">
                <div class="row m-auto">
                    <div class="col-md">
                        <div id="titulo">
                            <span>CARGAR PLANTILLAS</span>
                        </div>
                        <mat-card class="example-card mat-elevation-z9">
                            <div class="row">
                                <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                                    <div class="d-flex flex-wrap justify-content-around" style="text-align: center; justify-content: center;">
                                        <form method="post" class="btn-2" enctype="multipart/form-data">
                                            <input (change)="FileChange($event, 'contratos')" type="file" [formControl]="archivoForm" id="file"
                                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                            <label for="file" matSuffix matTooltipPosition="right" *ngIf="!mostrarbtnsubir"
                                                style="height: 65px; padding-top: 25px;"
                                                matTooltip="Dar click para selecionar plantilla y cargar registros.">
                                                Subir plantilla
                                            </label>
                                            <label for="file"  matSuffix matTooltipPosition="right"
                                                *ngIf="mostrarbtnsubir && messajeExcel != 'error'"
                                                style="height: 64px; padding-top: 25px;"
                                                matTooltip="Presionar para seleccionar Plantilla con nombre Feriados.">
                                                Subir nueva plantilla
                                            </label>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                                    <div *ngIf="DatosContrato.length == 0" class="d-flex flex-wrap justify-content-around">
                                        <a id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                                            style="margin: 2% 0% 3% 0%;" matTooltip="Dar click para ver o descargar el documento."
                                            href="{{hipervinculo}}/plantillaD/documento/plantillaConfiguracionGeneral.xlsx">
                                            <br>
                                            Descargar plantilla usuarios
                                        </a>
                                    </div>
                                    <div *ngIf="DatosContrato.length > 0" class="d-flex flex-wrap justify-content-around" style="text-align: center; justify-content: center;">
                                        <button id="descargar" class="btn btn-sm" (click)="ConfirmarRegistroMultiple()"
                                             matSuffix matTooltipPosition="right"
                                             matTooltip="Guardar registro multiple.">
                                            Registrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            
            <!--  **********************************  INFORMACION DE LAS OBSERVACIONES DEL REGISTRO MULTIPLE ***************************************** -->
            <div class="container" style="padding-top: 10px; margin-bottom: 25px;">
                <app-definicion-plantilla>
                </app-definicion-plantilla>
            </div>
            
            <!------------------ TABLA DE DATOS DE LA CARGA MULTIPLE DE FERIADOS ------------------------------------------------->
            <div *ngIf="DatosContrato.length > 0 " class="container" style="padding-bottom: 10px; margin-bottom: 35px;">
                <div class="mat-elevation-z8" style="background: white;">
                    <div id="titulo">REGISTRO MULTIPLE</div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center; font-size: 13px;">
                                    <th scope="col">Item</th>
                                    <th scope="col">Observación</th>
                                    <th scope="col">Cédula</th>
                                    <th scope="col">Pais</th>
                                    <th scope="col">Regimen laboral</th>
                                    <th scope="col">Modalidad laboral</th>
                                    <th scope="col">Fecha desde</th>
                                    <th scope="col">Fecha hasta</th>
                                    <th scope="col">Control asistencias</th>
                                    <th scope="col">Control vacaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let contrato of DatosContrato | paginate:tamanio_paginaMul:numero_paginaMul; let i = index">
                                    <td id="letras" style="font-size: 12px; padding-left: 3px; width: 50px;" align="center">{{contrato.fila}}</td>
                                    <td style="font-size: 12px;">
                                        <div style="width: 270px; margin: auto;">
                                            <div id="t-editar" class="circulo"
                                                [style.background-color]="stiloCelda(contrato.observacion)"></div>
                                            {{contrato.observacion}}
                                        </div>
                                    </td>
                                    <td [style.color]="stiloTextoCelda(contrato.cedula)" style="font-size: 12px;">{{contrato.cedula}}</td>
                                    <td [style.color]="stiloTextoCelda(contrato.pais)" style="font-size: 12px;">{{contrato.pais}}</td>
                                    <td [style.color]="stiloTextoCelda(contrato.regimen_la)" style="font-size: 12px;">{{contrato.regimen_la}}</td>
                                    <td [style.color]="stiloTextoCelda(contrato.modalida_la)" style="font-size: 12px;">{{contrato.modalida_la}}</td>
                                    <td [style.color]="stiloTextoCelda(contrato.fecha_ingreso)" style="font-size: 12px;">{{contrato.fecha_inicio}}</td>
                                    <td [style.color]="stiloTextoCelda(contrato.fecha_salida)" style="font-size: 12px;">{{contrato.fecha_final}}</td>
                                    <td [style.color]="stiloTextoCelda(contrato.control_asis)" id="letras" style="font-size: 12px;">{{contrato.control_asis}}</td>
                                    <td [style.color]="stiloTextoCelda(contrato.control_vaca)" id="letras" style="font-size: 12px;">{{contrato.control_vaca}}</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator  [length]="DatosContrato.length!" [pageSize]="tamanio_paginaMul"
                        [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPaginaMulti($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
    </mat-tab>

    <!--  PANTALLA CARGAR CARGOS -->
    <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">file &nbsp;</mat-icon>
                <h6 id="items" (click)="LimpiarCampos()">Cargar Cargos</h6>
            </ng-template>
            <div class="container" style="padding-top: 15px;">
                <div class="row m-auto">
                    <div class="col-md">
                        <div id="titulo">
                            <span>CARGAR PLANTILLAS</span>
                        </div>
                        <mat-card class="example-card mat-elevation-z9">
                            <div class="row">
                                <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                                        <form method="post" class="btn-2" enctype="multipart/form-data">
                                            <input (change)="FileChangeCargo($event)" type="file" [formControl]="archivoForm" id="file"
                                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                            <label for="file" matSuffix matTooltipPosition="right" *ngIf="!mostrarbtnsubir"
                                                style="height: 65px; padding-top: 25px;"
                                                matTooltip="Dar click para selecionar plantilla y cargar registros.">
                                                Subir plantilla
                                            </label>
                                            <label for="file"  matSuffix matTooltipPosition="right"
                                                *ngIf="mostrarbtnsubir && messajeExcelCargos != 'error'"
                                                style="height: 65px; padding-top: 25px;"
                                                matTooltip="Presionar para seleccionar Plantilla con nombre Feriados.">
                                                Subir nueva plantilla
                                            </label>
                                        </form>
                                </div>
                                <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                                    <div *ngIf="DatosCargos.length == 0" class="d-flex flex-wrap justify-content-around">
                                        <a id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                                            style="margin: 2% 0% 3% 0%;" matTooltip="Dar click para ver o descargar el documento."
                                            href="{{hipervinculo}}/plantillaD/documento/plantillaConfiguracionGeneral.xlsx">
                                            <br>
                                            Descargar plantilla usuarios
                                        </a>
                                    </div>
                                    <div *ngIf="DatosCargos.length > 0" class="d-flex flex-wrap justify-content-around" style="text-align: center; justify-content: center;">
                                        <button id="descargar" class="btn btn-sm"
                                             matSuffix matTooltipPosition="right" (click)="ConfirmarRegistroMultipleCargos()"
                                             matTooltip="Guardar registro multiple.">
                                            Registrar
                                        </button>
                                    </div>
                                </div>                                 
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            
            <!--  **********************************  INFORMACION DE LAS OBSERVACIONES DEL REGISTRO MULTIPLE ***************************************** -->
            <div class="container" style="padding-top: 10px; margin-bottom: 25px;">
                <app-definicion-plantilla>
                </app-definicion-plantilla>
            </div>
            
            <!------------------ TABLA DE DATOS DE LA CARGA MULTIPLE DE CARGOS ------------------------------------------------->
            <div *ngIf="DatosCargos.length > 0" class="container" style="padding-bottom: 10px; margin-bottom: 35px;">
                <div class="mat-elevation-z8" style="background: white;">
                    <div id="titulo">REGISTRO MULTIPLE</div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center; font-size: 13px;">
                                    <th scope="col">Item</th>
                                    <th scope="col">Observación</th>
                                    <th scope="col">Cédula</th>
                                    <th scope="col">Departamento</th>
                                    <th scope="col">Fecha desde</th>
                                    <th scope="col">Fecha hasta</th>
                                    <th scope="col">Sucursal</th>
                                    <th scope="col">Sueldo</th>
                                    <th scope="col">Cargo</th>
                                    <th scope="col">Hora de trabajo</th>
                                    <th scope="col">Jefe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let cargo of DatosCargos | paginate:tamanio_paginaMulCargo:numero_paginaMulCargo; let i = index">
                                    <td id="letras" style="font-size: 12px; padding-left: 3px; width: 50px;" align="center">{{cargo.fila}}</td>
                                    <td style="font-size: 12px;">
                                        <div style="width: 270px; margin: auto;">
                                            <div id="t-editar" class="circulo"
                                                [style.background-color]="stiloCelda(cargo.observacion)"></div>
                                            {{cargo.observacion}}
                                        </div>
                                    </td>
                                    <td [style.color]="stiloTextoCelda(cargo.cedula)" style="font-size: 12px;">{{cargo.cedula}}</td>
                                    <td [style.color]="stiloTextoCelda(cargo.departamento)" style="font-size: 12px;">{{cargo.departamento}}</td>
                                    <td [style.color]="stiloTextoCelda(cargo.fecha_inicio)" style="font-size: 12px;">{{cargo.fecha_inicio}}</td>
                                    <td [style.color]="stiloTextoCelda(cargo.fecha_final)" style="font-size: 12px;">{{cargo.fecha_final}}</td>
                                    <td [style.color]="stiloTextoCelda(cargo.sucursal)" style="font-size: 12px;">{{cargo.sucursal}}</td>
                                    <td [style.color]="stiloTextoCelda(cargo.sueldo)" style="font-size: 12px;">{{cargo.sueldo}}</td>
                                    <td [style.color]="stiloTextoCelda(cargo.cargo)" id="letras" style="font-size: 12px;">{{cargo.cargo}}</td>
                                    <td [style.color]="stiloTextoCelda(cargo.hora_trabaja)" id="letras" style="font-size: 12px;">{{cargo.hora_trabaja}}</td>
                                    <td [style.color]="stiloTextoCelda(cargo.jefe)" style="font-size: 12px;">{{cargo.jefe}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator [length]="DatosCargos.length!" [pageSize]="tamanio_paginaMulCargo"
                        [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPaginaMulti($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
    </mat-tab>
</mat-tab-group>



