<div class="container" style="padding-top: 15px;">
    <div class="row">
        <div class="col-md">
            <div id="titulo">
                <span>CARGAR PLANTILLAS</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="row">
                    <div class="col-md" style="padding-top: 5px;">
                        <div class="d-flex flex-wrap justify-content-around" style="text-align: center; justify-content: center;">
                            <form method="post" class="btn-2" enctype="multipart/form-data" style="width: max-content;">
                                <input type="file" [formControl]="archivoForm" id="file"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                <label for="file" matSuffix matTooltipPosition="right"
                                    style="height: 65px; padding-top: 25px;"
                                    matTooltip="Dar click para selecionar plantilla y cargar registros.">
                                    Subir plantilla
                                </label>
                                <label for="file"  matSuffix matTooltipPosition="right"
                                    style="height: 64px; padding-top: 25px;"
                                    matTooltip="Presionar para seleccionar Plantilla con nombre Feriados.">
                                    Subir nueva plantilla
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-around">
                            <a id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                                style="margin: 2% 0% 3% 0%;" matTooltip="Dar click para ver o descargar el documento."
                                href="{{hipervinculo}}/plantillaD/documento/Feriados.xlsx">
                                <!--span class="material-icons">cloud_download</span-->
                                <br>
                                Descargar plantilla usuarios
                            </a>
                        </div>
                    </div>
                    <div class="col-md" style="padding-top: 5px; padding-bottom: 5px;" >
                        <div class="d-flex flex-wrap justify-content-around" style="text-align: center; justify-content: center;">
                            <button id="descargar" class="btn btn-sm"
                                 matSuffix matTooltipPosition="right"
                                 matTooltip="Guardar registro multiple.">
                                Registrar
                            </button>
                        </div>
                    </div>
                    
                </div>
            </mat-card>
        </div>
    </div>
</div>

<!--  **********************************  INFORMACION DE LAS OBSERVACIONES DEL REGISTRO MULTIPLE ***************************************** -->
<div class="container" style="padding-top: 10px; margin-bottom: 25px;">
    <app-definicion-plantilla>
    </app-definicion-plantilla>
</div>

<!------------------ TABLA DE DATOS DE LA CARGA MULTIPLE DE FERIADOS ------------------------------------------------->
<div class="container" style="padding-bottom: 10px; margin-bottom: 35px;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="titulo">REGISTRO MULTIPLE</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center; font-size: 13px;">
                        <th scope="col">Item</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha recuperación</th>
                        <th scope="col">Observación</th>
                    </tr>
                </thead>
                <tbody>
                    <!--tr
                        *ngFor="let f of DataFeriados | paginate:tamanio_paginaMul:numero_paginaMul; let i = index">
                        <td id="letras" style="font-size: 12px; padding-left: 3px; width: 50px;" align="center">{{f.fila}}</td>
                        <td [style.color]="stiloTextoCelda(f.fecha)" style="font-size: 12px;">{{f.fecha}}</td>
                        <td [style.color]="stiloTextoCelda(f.descripcion)" id="letras" style="font-size: 12px;">
                            {{f.descripcion}}</td>
                        <td style="font-size: 12px;">{{f.fec_recuperacion}}</td>
                        <td style="font-size: 12px;">
                            <div style="width: 270px; margin: auto;">
                                <div id="t-editar" class="circulo"
                                    [style.background-color]="stiloCelda(f.observacion)"></div>
                                {{f.observacion}}
                            </div>
                        </td>
                    </tr-->
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="10" [pageSize]="tamanio_paginaMul"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPaginaMulti($event)"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>

