<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <mat-card class="example-card mat-elevation-z8">
        <div id="titulo">
            <span>REGISTRAR REGIMEN LABORAL</span>
            <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana(1, 0)">highlight_off</mat-icon>
        </div>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <!-- ****************************** PRIMER FORMULARIO ******************************************* -->
            <mat-step [stepControl]="primerFormulario">
                <ng-template matStepLabel>
                    <mat-icon id="icono" matSuffix matTooltipPosition="right"
                        matTooltip="Sección 1: Configuración inicial">
                        settings
                    </mat-icon>
                </ng-template>
                <div class="subtitulo">
                    <span>Configuración inicial</span>
                </div>
                <div class="nota">
                    <span>
                        Por favor llenar todos los campos obligatorios (*) del formulario y dar click en Siguiente
                        para continuar.
                    </span>
                </div>
                <form [formGroup]="primerFormulario">
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field>
                                    <mat-label id="letras_4">Seleccionar país</mat-label>
                                    <input type="text" placeholder="Ingresar nombre" aria-label="Number" matInput
                                        [formControl]="nombrePaisF" [matAutocomplete]="auto" required>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filtro | async" [value]="option.nombre">
                                            {{option.nombre}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Seleccionar uno de los paises de la lista.">
                                        public
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field>
                                    <mat-label id="letras_4">Nombre</mat-label>
                                    <input matInput [formControl]="nombreF" required>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Ingresar un nuevo nombre de Régimen Laboral">
                                        article
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-center">
                                <mat-form-field id="periodo">
                                    <mat-label id="letras_2">Acreditar vacaciones</mat-label>
                                    <input matInput type="tel" [formControl]="mesesF" placeholder="Meses"
                                        (keypress)="IngresarSoloNumeros($event)" min="1" max="12" required
                                        (input)="validarMeses(1)" (click)="LimpiarCalcular()">
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Indicar el número de meses de duración del período laboral.">
                                        date_range
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-wrap justify-content-center">
                                <mat-form-field id="periodo">
                                    <mat-label id="letras_2">No. de Horas Estandar</mat-label>
                                    <input matInput type="time" [formControl]="horaEstandarF" required
                                        (keypress)="IngresarSoloNumeros($event)">
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Indicar el número de horas totales dentro de un día laboral.">
                                        access_time
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <label
                                    style="padding-top: 15px; padding-bottom: 5px; position: relative; left:10px; font-size: 14px;">
                                    Días por mes*:
                                </label>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start" style="position: relative; left: 15px;">
                                <mat-radio-group aria-label="Select an option" [formControl]="diasF" required>
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <mat-radio-button [value]="30" (click)="LimpiarCalcular()" matSuffix
                                            matTooltipPosition="right"
                                            matTooltip="Se consideran todos los meses de 30 días.">
                                            <label id="textoradiobtn">Meses comerciales (30)</label>
                                        </mat-radio-button>
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <mat-radio-button [value]="31" (click)="LimpiarCalcular()" matSuffix
                                            matTooltipPosition="right"
                                            matTooltip="Se considera que cada mes incluye todos sus días reales.">
                                            <label id="textoradiobtn">Meses calendario</label>
                                        </mat-radio-button>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                    <!--  METODOS QUE FUERON COLOCADOS PARA OTROS PAISES DIFERENTES A ECUADOR / VERIFICAR CON EL TIEMPO SU FUNCIONAMIENTO  -->
                    <div style="padding-top: 20px;" hidden>
                        <mat-divider></mat-divider>
                        <div class="subtitulo" style="padding-top: 10px; font-size: 12px;">
                            <span>Información adicional</span>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="d-flex flex-wrap justify-content-start">
                                    <label
                                        style="padding-top: 15px; padding-bottom: 5px; position: relative; left:10px; font-size: 14px;">
                                        Tiempo mínimo de servicio:
                                    </label>
                                    <mat-icon *ngIf="cancelar" id="cerrar" matSuffix matTooltipPosition="right"
                                        matTooltip="Cancelar registro."
                                        style="margin-top: 13px; position: relative; left:20px; height: max-content"
                                        (click)="CancelarLimite()">
                                        cancel
                                    </mat-icon>
                                </div>
                                <div class="d-flex flex-wrap justify-content-start"
                                    style="position: relative; left:30px;">
                                    <mat-radio-group aria-label="Select an option" [formControl]="servicioF">
                                        <div class="d-flex flex-wrap justify-content-around">
                                            <mat-radio-button value="meses" (change)="SelecionarLimite($event)"
                                                matSuffix matTooltipPosition="right"
                                                matTooltip="Indicar tiempo mínimo de servicios en meses.">
                                                <label id="textoradiobtn">Meses</label>
                                            </mat-radio-button>
                                            <mat-radio-button value="horas" (change)="SelecionarLimite($event)"
                                                matSuffix matTooltipPosition="right"
                                                matTooltip="Indicar tiempo mínimo de servicios en horas.">
                                                <label id="textoradiobtn">Horas</label>
                                            </mat-radio-button>
                                        </div>
                                    </mat-radio-group>
                                </div>
                                <div class="d-flex flex-wrap justify-content-start"
                                    style="position: relative; left:30px;">
                                    <div class="row">
                                        <div class="col-md" *ngIf="meses_">
                                            <mat-form-field id="campos">
                                                <mat-label id="letras_2">No. de Meses</mat-label>
                                                <input matInput type="tel" [formControl]="minimoMesF"
                                                    [required]="meses_" (keypress)="IngresarSoloNumeros($event)">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md" *ngIf="horas_">
                                            <mat-form-field id="campos">
                                                <mat-label id="letras_2">No. de Horas</mat-label>
                                                <input matInput type="tel" [formControl]="minimoHorasF"
                                                    [required]="horas_" (keypress)="IngresarSoloNumeros($event)">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="d-flex flex-wrap justify-content-start"
                                    style="position: relative; left:3px; width: 350px;">
                                    <mat-checkbox id="check" matSuffix matTooltipPosition="right"
                                        [formControl]="continuidadF"
                                        matTooltip="Indicar si se requiere control de continuidad laboral.">
                                        <label id="textoradiobtn">Requiere continuidad laboral</label>
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="d-flex flex-wrap justify-content-between float-right">
                    <button id="btn-raised" matStepperNext class="btn btn-sm float-right">
                        Siguiente
                    </button>
                </div>
            </mat-step>

            <!-- ********************************* SEGUNDO FORMULARIO ************************************* -->
            <mat-step [stepControl]="segundoFormulario">
                <ng-template matStepLabel>
                    <mat-icon id="icono" matSuffix matTooltipPosition="right"
                        matTooltip="Sección 2: Configurar vacaciones">
                        flight_takeoff
                    </mat-icon>
                </ng-template>
                <div class="subtitulo">
                    <span>Configurar vacaciones</span>
                </div>
                <div class="nota">
                    <span>
                        Por favor llenar todos los campos obligatorios (*) del formulario y dar click en Siguiente
                        para continuar.
                    </span>
                </div>
                <form [formGroup]="segundoFormulario">
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <div style="padding-bottom: 15px;">
                                    <label style="top:15px; position: relative; left:10px;">
                                        Días de Vacaciones:
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start">
                                <div class="row">
                                    <div class="col-md">
                                        <div class="d-flex flex-wrap justify-content-start">
                                            <mat-form-field id="campos">
                                                <mat-label id="letras_2">Días hábiles</mat-label>
                                                <input matInput type="tel" [formControl]="diasLaborablesF"
                                                    (keypress)="IngresarSoloNumeros($event)" [readonly]="escritura_dias"
                                                    required>
                                            </mat-form-field>
                                            <mat-form-field id="campos">
                                                <mat-label id="letras_2">Días libres</mat-label>
                                                <input matInput type="tel" [formControl]="diasLibresF"
                                                    (keypress)="IngresarSoloNumeros($event)" [readonly]="escritura_dias"
                                                    required>
                                            </mat-form-field>
                                        </div>
                                        <div class="d-flex flex-wrap justify-content-start">
                                            <mat-form-field id="campos">
                                                <mat-label id="letras_2">Días Calendario</mat-label>
                                                <input matInput type="tel" [formControl]="diasCalendarioF"
                                                    (keypress)="IngresarSoloNumeros($event)" [readonly]="escritura_dias"
                                                    required>
                                            </mat-form-field>

                                            <i id="validar" class="fa fa-check-square-o" matSuffix *ngIf="validar_dias"
                                                matTooltipPosition="right"
                                                (click)="ValidarVacaciones(segundoFormulario.value)"
                                                matTooltip="Validar días de vacaciones ingresados.">
                                                <p>Validar *</p>
                                            </i>

                                            <i id="correcto" class="fa fa-check-square-o" matSuffix
                                                *ngIf="correcto_dias" matTooltipPosition="right"
                                                (click)="EditarVacaciones()"
                                                matTooltip="Editar días de vacaciones ingresados.">
                                                <p>Validado</p>
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start" style="padding-bottom: 20px;">
                                <mat-checkbox id="check_" matSuffix matTooltipPosition="right" [formControl]="acumularF"
                                    style="position: relative; left:0px;" (change)="ActivarAcumular($event)"
                                    matTooltip="Activar acumulación de días de vacaciones.">
                                    <label id="textoradiobtn">Acumular vacaciones</label>
                                </mat-checkbox>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start" style="padding-bottom: 20px;">
                                <mat-form-field *ngIf="acumular" id="Maximo_dias">
                                    <mat-label id="letras_2">Máximo de días acumulables</mat-label>
                                    <input matInput type="tel" [formControl]="diasAcumulacionF"
                                        (keypress)="IngresarSoloNumeros($event)" [required]="acumular">
                                </mat-form-field>
                            </div>
                        </div>
                        <!--  LOGICA QUE SE COLOCARA EN LA PROGRAMACION DE VACACIONES  -->
                        <div class="col-md" *ngIf="nuevo_periodo">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-checkbox class="check" [formControl]="periodosF" (change)="ActivarPeriodos($event)"
                                    matSuffix matTooltipPosition="right"
                                    matTooltip="Registrar días de vacaciones en periodos.">
                                    Vacaciones por periodos
                                </mat-checkbox>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right" *ngIf="nuevo_periodo"
                                    style="position: relative; top:25px; right:10px; color:blue"
                                    (click)="RegistrarPeriodo()"
                                    matTooltip="Registrar hasta tres periodos de vacaciones.">
                                    add_box
                                </mat-icon>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field *ngIf="periodo_uno" id="Vacacion_periodo">
                                    <mat-label id="letras_4">1º Periodo</mat-label>
                                    <input matInput type="tel" [formControl]="periodoUnoF" [required]="periodo_uno"
                                        [readonly]="escritura_periodo" (keypress)="IngresarSoloNumeros($event)"
                                        (input)="VerificarPeriodos($event, 1)">
                                    <mat-icon id="cerrar" matSuffix matTooltipPosition="right" *ngIf="delete_uno"
                                        (click)="EliminarPeriodo(1)" matTooltip="Eliminar Registro.">
                                        cancel
                                    </mat-icon>
                                    <mat-hint align="start" id="error" *ngIf="mensaje1_">
                                        <strong>Dias de vacaciones deben ser mayores a 5.</strong>
                                    </mat-hint>
                                </mat-form-field>
                                <mat-form-field *ngIf="periodo_dos" id="Vacacion_periodo">
                                    <mat-label id="letras_4">2º Periodo</mat-label>
                                    <input matInput type="tel" [formControl]="periodoDosF" [required]="periodo_dos"
                                        [readonly]="escritura_periodo" (keypress)="IngresarSoloNumeros($event)"
                                        (input)="VerificarPeriodos($event, 2)">
                                    <mat-icon id="cerrar" matSuffix matTooltipPosition="right" *ngIf="delete_dos"
                                        (click)="EliminarPeriodo(2)" matTooltip="Eliminar Registro.">
                                        cancel
                                    </mat-icon>
                                    <mat-hint align="start" id="error" *ngIf="mensaje2_">
                                        <strong>Dias de vacaciones deben ser mayores a 5.</strong>
                                    </mat-hint>
                                </mat-form-field>
                                <mat-form-field *ngIf="periodo_tres" id="Vacacion_periodo">
                                    <mat-label id="letras_4">3º Periodo</mat-label>
                                    <input matInput type="tel" [formControl]="periodoTresF" [required]="periodo_tres"
                                        [readonly]="escritura_periodo" (keypress)="IngresarSoloNumeros($event)"
                                        (input)="VerificarPeriodos($event, 3)">
                                    <mat-icon id="cerrar" matSuffix matTooltipPosition="right" *ngIf="delete_tres"
                                        (click)="EliminarPeriodo(3)" matTooltip="Eliminar Registro.">
                                        cancel
                                    </mat-icon>
                                    <mat-hint align="start" id="error" *ngIf="mensaje3_">
                                        <strong>Dias de vacaciones deben ser mayores a 5.</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start" style="margin-top: 1%;">
                                <i id="validar" class="fa fa-check-square-o" matSuffix *ngIf="validar_periodo"
                                    matTooltipPosition="right" (click)="ValidarDiasPeriodo(segundoFormulario.value)"
                                    matTooltip="Validar días de vacaciones ingresados.">
                                    <p>Validar *</p>
                                </i>

                                <i id="correcto" class="fa fa-check-square-o" matSuffix *ngIf="correcto_periodo"
                                    matTooltipPosition="right" (click)="EditarPeriodo()"
                                    matTooltip="Editar días de vacaciones ingresados.">
                                    <p>Validado</p>
                                </i>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <button class="btn btn-sm" id="btn-raised" matStepperPrevious>
                        Atrás
                    </button>
                    <button id="btn-raised" matStepperNext class="btn btn-sm float-right" [disabled]="siguiente">
                        Siguiente
                    </button>
                </div>
            </mat-step>

            <!-- **************************** TERCER FORMULARIO ***************************** -->
            <mat-step [stepControl]="tercerFormulario">
                <ng-template matStepLabel>
                    <mat-icon id="icono" matSuffix matTooltipPosition="right"
                        matTooltip="Sección 3: Configurar antigüedad">
                        event_note
                    </mat-icon>
                </ng-template>
                <div class="subtitulo">
                    <span>Configurar Antigüedad</span>
                </div>
                <div class="nota">
                    <span>Llenar todos los campos obligatorios (*) del formulario y dar click en Guardar.</span>
                </div>

                <form [formGroup]="tercerFormulario">
                    <div class="row">
                        <div class="col-md" style="padding-bottom: 15px;">

                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-checkbox class="check" matSuffix matTooltipPosition="right"
                                    [formControl]="antiguedadActivaF" style="position: relative; left:10px;"
                                    (change)="ActivarAntiguedad($event, tercerFormulario.value)"
                                    matTooltip="Activar vacaciones por antiguedad laboral.">
                                    <label id="textoradiobtn">Antigüedad laboral</label>
                                </mat-checkbox>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start" *ngIf="antiguedad"
                                style="position: relative; left:40px;">
                                <mat-radio-group aria-label="Select an option" [formControl]="antiguedadF">
                                    <div class="d-flex flex-wrap justify-content-around">
                                        <mat-radio-button value="fija"
                                            (change)="SelecionarAntiguo($event, tercerFormulario.value)">
                                            <label id="textoradiobtn">Fija</label>
                                        </mat-radio-button>
                                        <mat-radio-button value="variable"
                                            (change)="SelecionarAntiguo($event, tercerFormulario.value)">
                                            <label id="textoradiobtn">Variable</label>
                                        </mat-radio-button>
                                    </div>
                                </mat-radio-group>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right" *ngIf="variable"
                                    style="position: relative; left:40px; color:blue;" (click)="ValidarAntiguedad()"
                                    matTooltip="Registrar antiguedad para vacaciones.">
                                    add_box
                                </mat-icon>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start">
                                <div class="row" *ngIf="fija">
                                    <div class="col-md">
                                        <div class="d-flex flex-wrap justify-content-start">
                                            <mat-form-field id="campos">
                                                <mat-label id="letras_1">Años antigüedad</mat-label>
                                                <input matInput type="tel" [formControl]="aniosAntiguedadF"
                                                    [required]="fija" (keypress)="IngresarSoloNumeros($event)">
                                            </mat-form-field>
                                            <mat-form-field id="campos">
                                                <mat-label id="letras_2">Días adicionales</mat-label>
                                                <input matInput type="tel" [formControl]="diasAdicionalesF"
                                                    [required]="fija" (keypress)="IngresarSoloNumeros($event)">
                                            </mat-form-field>
                                        </div>
                                        <div class="d-flex flex-wrap justify-content-start">
                                            <mat-form-field id="Vacacion_periodo">
                                                <mat-label id="letras_1">
                                                    Máximo de días adicionales antigüedad
                                                </mat-label>
                                                <input matInput type="tel" [formControl]="maximoAntiguedadF"
                                                    [required]="fija" (keypress)="IngresarSoloNumeros($event)">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start" *ngIf="variable">
                                <form [formGroup]="antiguedadFormu">
                                    <div formArrayName="rangosAntiguedad">
                                        <div *ngFor="let rango of rangosAntiguedad.controls; let i = index"
                                            [formGroupName]="i">

                                            <mat-form-field id="campos_antiguedad">
                                                <mat-label id="letras_2">Años desde</mat-label>
                                                <input matInput type="tel" formControlName="anio_desde" required
                                                    [readonly]="escritura_antiguo"
                                                    (keypress)="IngresarSoloNumeros($event)">
                                            </mat-form-field>

                                            <mat-form-field id="campos_antiguedad">
                                                <mat-label id="letras_2">Años hasta</mat-label>
                                                <input matInput type="tel" formControlName="anio_hasta" required
                                                    [readonly]="escritura_antiguo"
                                                    (keypress)="IngresarSoloNumeros($event)">
                                            </mat-form-field>

                                            <div class="d-flex flex-wrap justify-content-start">
                                                <mat-form-field id="campos_antiguedad">
                                                    <mat-label id="letras_2">Vacaciones</mat-label>
                                                    <input matInput type="tel" formControlName="dias_adicionales"
                                                        required [readonly]="escritura_antiguo"
                                                        (keypress)="IngresarSoloNumeros($event)">
                                                </mat-form-field>

                                                <mat-icon id="cerrar" style="font-size: 18px;" matSuffix
                                                    *ngIf="rangosAntiguedad.length > 1" matTooltipPosition="right"
                                                    matTooltip="Eliminar Registro." (click)="eliminarRango(i)">
                                                    cancel
                                                </mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start">
                                <i id="validar" class="fa fa-check-square-o" matSuffix *ngIf="validar_antiguo"
                                    matTooltipPosition="right" (click)="VerificarAntiguedad(tercerFormulario.value)"
                                    matTooltip="Validar días de vacaciones ingresados.">
                                    <p>Validar *</p>
                                </i>

                                <i id="correcto" class="fa fa-check-square-o" matSuffix *ngIf="correcto_antiguo"
                                    matTooltipPosition="right" (click)="EditarAntiguedad()"
                                    matTooltip="Editar años y días de vacaciones ingresados.">
                                    <p>Validado</p>
                                </i>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field id="campos_calculos">
                                    <mat-label id="letras_2">Meses período</mat-label>
                                    <input matInput type="tel" [formControl]="meses_calculoF"
                                        (keypress)="IngresarSoloNumeros($event)" min="1" max="12" required
                                        (input)="validarMeses(3)" (click)="LimpiarCalcular()">
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Indicar el número de meses considerados para el cálculo.">
                                        date_range
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-checkbox class="check" matSuffix matTooltipPosition="right"
                                    style="position: relative; left:10px;"
                                    (change)="ValidarRequerido($event, primerFormulario.value, segundoFormulario.value, tercerFormulario.value)"
                                    [formControl]="calculoF"
                                    matTooltip="Dar click para realizar cálculo y completar todos los datos.">
                                    <label id="textoradiobtn">Realizar cálculos *</label>
                                </mat-checkbox>
                                <mat-icon *ngIf="limpiar_calcular" id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Eliminar cálculos realizados."
                                    style="position: relative; left:5px; top: 25px; color: red;"
                                    (click)="LimpiarCalcular()">
                                    delete
                                </mat-icon>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <label style="padding-top: 10px; position: relative; left:10px;">
                                            Vacaciones ganadas por mes:
                                        </label>
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <mat-form-field id="periodo_calculo">
                                            <mat-label id="letras_3">Calendario:</mat-label>
                                            <input matInput [formControl]="diasMesCalendarioF" readonly>
                                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                                matTooltip="Días calendario de vacaciones ganados por mes.">
                                                event
                                            </mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <label style="padding-top: 10px; position: relative; left:10px;">
                                            Vacaciones ganadas por días:
                                        </label>
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <mat-form-field id="periodo_calculo">
                                            <mat-label id="letras_3">Calendario:</mat-label>
                                            <input matInput [formControl]="dias_CalendarioF" readonly>
                                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                                matTooltip="Dias calendario de vacaciones ganados por día.">
                                                event
                                            </mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <button id="btn-raised" matStepperPrevious class="btn btn-sm float-left">Atrás</button>
                        <button id="btn-raised" class="btn btn-sm float-right" (click)="VerificarRegistro(primerFormulario.value, segundoFormulario.value,
                            tercerFormulario.value)" [disabled]="activar_guardar">
                            Guardar
                        </button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>