<div class="container" style="padding-top: 15px">
  <mat-card class="example-card mat-elevation-z8">
    <div id="titulo">
      <span>DETALLES DE EMPLEADOS ACTIVOS</span>
      <button class="btn btn-outline-light btn-sm" style="float: left; margin-left: 10px" (click)="Regresar()"
        matTooltip="Regresar">
        <i class="fas fa-arrow-left"></i>
      </button>
    </div>
    <mat-card-content>
      <div class="container" style="padding-bottom: 25px; text-align: center; margin-top: 0.5rem">
        <div class="table-responsive">
          <table class="table table-hover table-sm" id="detalle">
            <thead class="thead-light">
              <tr style="text-align: center">
                <th class="t_horarios" scope="col" rowspan="2">N°</th>
                <th class="t_horarios" scope="col" rowspan="2">CÓDIGO</th>
                <th class="t_horarios" scope="col" rowspan="2">EMPLEADO</th>
                <th class="t_horarios" scope="col" rowspan="2">CÉDULA</th>
                <th class="t_horarios" scope="col" rowspan="2">RÉGIMEN</th>
                <th class="t_horarios" scope="col" rowspan="2">SUCURSAL</th>
                <th class="t_horarios" scope="col" rowspan="2">DEPARTAMENTO</th>
                <th class="t_horarios" scope="col" rowspan="2">CARGO</th>
                <th class="t_horarios" scope="col" colspan="2">CORREO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of arr_emp | paginate : tamanio_pagina : numero_pagina">
                <td class="t_horarios">{{ e.n }}</td>
                <td class="t_horarios">{{ e.codigo }}</td>
                <td class="t_horarios">{{ e.name_empleado.toUpperCase() }}</td>
                <td class="t_horarios">{{ e.cedula }}</td>
                <td class="t_horarios">{{ bool_car? e.regimen : e.regimen[0].name_regimen }}</td>
                <td class="t_horarios">{{ e.sucursal }}</td>
                <td class="t_horarios">{{ e.departamento }}</td>
                <td class="t_horarios">{{ e.cargo }}</td>
                <td class="t_horarios">{{ e.correo }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator [length]="arr_emp.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
          (page)="ManejarPagina($event)" showFirstLastButtons aria-label="Seleccionar pagina">
        </mat-paginator>
      </div>
      <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 0.5rem">
        <i id="pdf" class="fas fa-file-pdf icon" matSuffix matTooltipPosition="right"
          matTooltip="Descargar reporte en formato PDF." (click)="DescargarReporte('download')">
          <p>PDF</p>
        </i>
        <i id="excel" class="fas fa-file-excel icon" matSuffix matTooltipPosition="right"
          matTooltip="Descargar reporte en formato EXCEL." (click)="DescargarReporte('excel')">
          <p>XLSL</p>
        </i>
      </div>
    </mat-card-content>
  </mat-card>
</div>
