#items {
    font-size: 13px;
    margin-top: 8%;
    margin-bottom: 3%;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1px;
    word-wrap: break-word;
}

mat-tab-group {
    background: rgb(232, 232, 232);
    background: radial-gradient(circle, rgba(232, 232, 232, 0.8883928571428571) 0%, rgba(249, 249, 249, 1) 100%);
}