<div id="titulo" class="row w-100 m-auto">
    <div class="col-2 col-md-2 mb-2 mb-md-0"> 
        <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    </div>
    <div class="col-8 col-md-8 mb-2 mb-md-0 Tabla_titulo">
        <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
            TIPO DE VACUNA
        </span>
    </div>
    <div class="col-2 col-md-2 mb-2 mb-md-0">
        <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana()">highlight_off</mat-icon>
    </div>
</div>
<form [formGroup]="formulario">
    <div class="container">
        <div class="nota">
            <span>
                NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                Guardar.
            </span>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="SINOVAC" [formControl]="vacuna" required>
                <mat-icon matSuffix matTooltipPosition="right" matTooltip="Ingresar nombre de vacuna.">
                    medication
                </mat-icon>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="d-flex flex-wrap justify-content-center">
    <input type="submit" class="btn btn-sm" [disabled]="!formulario.valid" (click)="GuardarTipoVacuna(formulario.value)"
        value="Guardar">
</div>