<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 15px;">
    <div class="row">
        <div class="col-md">
            <div id="titulo">
                <span>TÍTULOS PROFESIONALES</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="d-flex flex-wrap justify-content-center" style="margin-top: 1%; margin-bottom: 2%;">
                    <button *ngIf="!DataTitulosProfesionales"
                        id="btn-raised"  class="btn btn-sm" (click)="AbrirVentanaRegistrarTitulo()">
                        Crear título profesional
                    </button>
                    <button *ngIf="DataTitulosProfesionales" id="btn-raised" class="btn btn-sm" (click)="registrarTitulos()" matSuffix 
                        matTooltipPosition="right" 
                        matTooltip="Guardar registro multiple.">
                        Registrar
                    </button>
                    <button id="btn-raised"  class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                        Mostrar lista
                    </button>
                </div>
            </mat-card>
        </div>

        <!------------------ Registro multiple de establecimientos ------------------------------------->
        <div class="col-md">
            <div id="titulo">
                <span>REGISTRO MULTIPLE</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="row">
                    <div class="col-md" style="padding-top: 8px; padding-bottom: 6px; padding-left: 10px;">
                        <div class="d-flex flex-wrap justify-content-around" style="padding-left: 12px;">
                            <form method="post" enctype="multipart/form-data" style="width: max-content;">
                                <input type="file" (change)="FileChange($event)" [formControl]="archivoForm"
                                    id="file"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                <label for="file" class="btn-2" matSuffix matTooltipPosition="right"
                                    *ngIf="!mostrarbtnsubir"
                                    style="height: 64px;"
                                    matTooltip="Presionar para seleccionar Plantilla con nombre Titulos_profesionales.">
                                    Subir plantilla
                                </label>
                                <label for="file" class="btn-2" matSuffix matTooltipPosition="right"
                                    *ngIf="mostrarbtnsubir"
                                    style="height: 64px;"
                                    matTooltip="Presionar para seleccionar Plantilla con nombre Titulos_profesionales.">
                                    Subir nuevamente la plantilla
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-around" >
                           
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<!------------------ LISTA DE TITULOS PROFESIONALES ------------------------------------------------->
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="!DataTitulosProfesionales">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resultados">RESULTADO DE BÚSQUEDA</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Nombre</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [formControl]="nombreF"
                                    [(ngModel)]="filtradoNombre" (keypress)="IngresarSoloLetras($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [formControl]="nivelF" [(ngModel)]="filtradoNivel"
                                    (keypress)="IngresarSoloLetras($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de títulos profesionales de acuerdo a cada columna de la tabla.">
                                help_outline</mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let t of verTitulos | filtrosNombres: filtradoNombre | fitroNivel: filtradoNivel | paginate:tamanio_pagina:numero_pagina">
                        <td>{{t.nombre}}</td>
                        <td>{{t.nivel}}</td>
                        <td class="d-flex justify-content-center">
                            <i class="fas fa-edit" (click)=AbrirVentanaEditarTitulo(t) matSuffix
                                matTooltipPosition="right" matTooltip="Editar los datos generales de este registro."
                                id="t-editar">
                                <p>Editar</p>
                            </i>
                            <i (click)="ConfirmarDelete(t)" class="far fa-trash-alt" id="t-eliminar" matSuffix
                                matTooltipPosition="right" matTooltip="Eliminar este registro.">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="verTitulos.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 10px;">
            <i (click)="GenerarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Títulos en formato PDF.">
                <p>PDF</p>
            </i>
            <i (click)="ExportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Títulos en formato EXCEL.">
                <p>XLSL</p>
            </i>
            <i (click)="ExportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Títulos en formato CSV.">
                <p>CSV</p>
            </i>
            <i (click)="ExportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Títulos en formato XML.">
                <p>XML</p>
            </i>
        </div>
        <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: -1%; color: rgb(158, 154, 154);">
            <p> Reporte de títulos profesionales. </p>
        </div>
    </div>
</div>

<!---------------------- TABLA DE DATOS DE LA CARGA MULTIPLE ----------------------------------->
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="DataTitulosProfesionales">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resultados">
            REGISTRO MULTIPLE
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm ">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Titulo</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Observación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of DataTitulosProfesionales">
                        <td [style.color]="stiloTextoCelda(data.titulo)">{{ data.titulo}}</td>
                        <td [style.color]="stiloTextoCelda(data.nivel)">{{ data.nivel}}</td>
                        <td>
                            <div style="width: 270px; margin: auto;">
                                <div id="t-editar" class="circulo"  [style.background-color]="stiloCelda(data.observacion)"></div>
                                {{ data.observacion}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="DataTitulosProfesionales.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>