<div class="container" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">

        <div id="titulo" class="row w-100 m-auto">
            <div class="col-7 col-md-3 mb-2 mb-md-0 mb-2 mb-md-0 order-2 order-md-2">
                <button id="btn-raised" class="btn btn-outline-light btn-sm" style="float: left; margin-left: 10px;"
                    (click)="VerListaPedidos()">
                    Listar acciones de personal
                </button>
            </div>
            <div class="col-12 col-md-6 mb-2 mb-md-0 mb-2 mb-md-0 order-1 order-md-2 Tabla_titulo">
                <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
                    DATOS GENERALES
                </span>
            </div>
            <div class="col-5 col-md-2 mb-2 mb-md-0 mb-2 mb-md-0 order-3 order-md-2">
                <button id="btn-raised" class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                    (click)="AbrirEditar(datosPedido[0]?.id)">
                    Editar
                </button>
            </div>
        </div>

        <mat-card-content>
            <div class="container" style="padding-top: 5px;">
                <div class="container" style="padding-top: 20px;">
                    <div class="row">
                        <div class="subtitulo">
                            <span>ACCIÓN DE PERSONAL</span>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Número acción de personal:</b>
                                {{datosPedido[0]?.numero_accion_personal}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Fecha pedido:</b>
                                {{datosPedido[0]?.fecha_elaboracion ? datosPedido[0]?.fecha_elaboracion : ""}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Empleado:</b>
                                {{datosPedido[0]?.nombres.toUpperCase()}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Rige desde:</b>
                                {{datosPedido[0]?.fecha_rige_desde ? datosPedido[0]?.fecha_rige_desde : ""}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Rige hasta:</b>
                                {{datosPedido[0]?.fecha_rige_hasta ? datosPedido[0]?.fecha_rige_hasta : ""}}
                            </label>
                        </div>
                    </div>
                    <hr style="width: 100%; margin: auto; margin-top: 10px; margin-bottom: 5px;">
                    <div class="row">
                        <div class="subtitulo">
                            <span>TIPO DE ACCIÓN</span>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Tipo de acción personal:</b>
                                {{datosPedido[0]?.accion_personal}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Detalle:</b>
                                {{datosPedido[0]?.descripcion}}
                            </label>
                        </div>
                    </div>
                    <div class="row" *ngIf="datosPedido[0]?.detalle_otro != '' && datosPedido[0]?.detalle_otro != null">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Otro:</b>
                                {{datosPedido[0]?.detalle_otro}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Especificación:</b>
                                {{datosPedido[0]?.especificacion}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Observación:</b>
                                {{datosPedido[0]?.observacion}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Decreto:</b>
                                {{datosPedido[0]?.adicion_base_legal}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label">
                                {{textoFijo}}
                            </label>
                        </div>
                    </div>
                    <hr style="width: 100%; margin: auto; margin-top: 10px; margin-bottom: 5px;">
                    <div class="row">
                        <div class="subtitulo">
                            <span>SITUACIÓN ACTUAL Y PROPUESTA</span>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Proceso actual:</b>
                                {{datosPedido[0]?.proceso_actual}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Proceso propuesto:</b>
                                {{datosPedido[0]?.proceso_propuesto}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Sucursal actual:</b>
                                {{datosPedido[0]?.sucursal_actual}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Sucursal propuesta:</b>
                                {{datosPedido[0]?.sucursal_propuesto}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Nivel de gestión actual:</b>
                                {{datosPedido[0]?.nivel_gestion_actual}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Nivel de gestión propuesto:</b>
                                {{datosPedido[0]?.nivel_gestion_propuesto}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Unidad administrativa actual:</b>
                                {{datosPedido[0]?.unidad_administrativa}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Unidad administrativa propuesta:</b>
                                {{datosPedido[0]?.unidad_administrativa_propuesta}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Lugar de trabajo:</b>
                                {{datosPedido[0]?.lugar_trabajo_actual}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Lugar de trabajo propuesto:</b>
                                {{datosPedido[0]?.lugar_trabajo_propuesto}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Denominación del puesto:</b>
                                {{datosPedido[0]?.cargo_actual}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Denominación del puesto propuesto:</b>
                                {{datosPedido[0]?.cargo_propuesto}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Grupo ocupacional actual:</b>
                                {{datosPedido[0]?.grupo_ocupacional_actual}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Grupo ocupacional propuesto:</b>
                                {{datosPedido[0]?.grupo_ocupacional_propuesto}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Grado actual:</b>
                                {{datosPedido[0]?.grado_actual}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Grado propuesto:</b>
                                {{datosPedido[0]?.grado_propuesto}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Remuneración mensual actual:</b>
                                {{datosPedido[0]?.remuneracion_actual | currency:'USD':'symbol':'1.2-2'}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Remuneración mensual propuesta:</b>
                                {{datosPedido[0]?.remuneracion_propuesta | currency:'USD':'symbol':'1.2-2'}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Partida actual:</b>
                                {{datosPedido[0]?.partida_individual_actual}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Partida propuesta:</b>
                                {{datosPedido[0]?.partida_individual_propuesta}}
                            </label>
                        </div>
                    </div>
                    <hr style="width: 100%; margin: auto; margin-top: 10px; margin-bottom: 5px;">
                    <div class="row">
                        <div class="subtitulo">
                            <span>POSESIÓN DEL PUESTO</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Empleado:</b>
                                {{datosPedido[0]?.nombres.toUpperCase()}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Cédula:</b>
                                {{datosPedido[0]?.cedula_empleado}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Lugar de trabajo:</b>
                                {{datosPedido[0]?.descripcion_lugar_posesion}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Fecha:</b>
                                {{datosPedido[0]?.fecha_posesion ? datosPedido[0]?.fecha_posesion : ""}}
                            </label>
                        </div>
                    </div>
                    <div class="row" *ngIf="datosPedido[0]?.numero_acta_final">
                        <div id="verticalLine" class="mt-3">
                            <label>** (EN CASO DE GANADOR DE CONCURSO DE MÉRITOS Y OPOSICIÓN)</label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Número de acta:</b>
                                {{datosPedido[0]?.numero_acta_final}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Fecha:</b>
                                {{datosPedido[0]?.fecha_acta_final ? datosPedido[0]?.fecha_acta_final : ""}}
                            </label>
                        </div>
                    </div>
                    <hr style="width: 100%; margin: auto; margin-top: 10px; margin-bottom: 5px;">
                    <div class="row">
                        <div class="subtitulo">
                            <span>RESPONSABLES DE APROBACIÓN</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <div class="col-sm col-form-label item-container">
                                <label class="item-start"><b>Director(a):
                                        {{datosPedido[0]?.abreviatura_director}}</b></label>
                                <label class="item-middle">&nbsp; {{datosPedido[0]?.empleado_director}}</label>
                            </div>
                            <div class="col-12" style="margin-top: -10px;">
                                <label class="item-start"><b>Cargo: </b>{{datosPedido[0]?.cargo_director}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <div class="col-sm col-form-label item-container">
                                <label class="item-start"><b>Autoridad: {{datosPedido[0]?.abreviatura_delegado}}</b></label>
                                <label class="item-middle">&nbsp; {{datosPedido[0]?.empleado_autoridad_delegado}}</label>
                            </div>
                             <div class="col-12" style="margin-top: -10px;">
                                <label class="item-start"><b>Cargo: </b>{{datosPedido[0]?.cargo_autoridad_delegado}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="verticalLine" class="mt-3">
                            <label><b>RESPONSABLES DE FIRMAS</b></label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <div class="col-sm col-form-label item-container">
                                <label class="item-start"><b>Aceptación:
                                        {{datosPedido[0]?.abreviatura_empleado}}</b></label>
                                <label class="item-middle">&nbsp; {{datosPedido[0]?.nombres.toUpperCase()}}</label>
                            </div>
                            <div class="col-12" style="margin-top: -10px;">
                                <label class="item-start"><b>Cargo: </b>{{datosPedido[0]?.cargo_actual}}</label>
                            </div>
                            <div class="col-12" style="margin-top: -10px;">
                                <label class="item-start"><b>Fecha: </b>{{datosPedido[0]?.fecha_elaboracion}}</label>
                            </div>
                        </div>
                        <div class="col-sm" id="verticalLine" *ngIf="datosPedido[0]?.empleado_testigo">
                            <div class="col-sm col-form-label item-container">
                                <label class="item-start"><b>Negativa:
                                        {{datosPedido[0]?.abreviatura_testigo}}</b></label>
                                <label class="item-middle">&nbsp;
                                    {{datosPedido[0]?.empleado_testigo.toUpperCase()}}</label>
                            </div>
                            <div class="col-12" style="margin-top: -10px;">
                                <label class="item-start"><b>Fecha: </b>{{datosPedido[0]?.fecha_testigo}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <div class="col-sm col-form-label item-container">
                                <label class="item-start"><b>Responsable elaboración:
                                        {{datosPedido[0]?.abreviatura_elaboracion}}</b></label>
                                <label class="item-middle">&nbsp; {{datosPedido[0]?.empleado_elaboracion}}</label>
                            </div>
                            <div class="col-12" style="margin-top: -10px;">
                                <label class="item-start"><b>Cargo: </b>{{datosPedido[0]?.tipo_cargo_elaboracion}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <div class="col-sm col-form-label item-container">
                                <label class="item-start"><b>Responsable control:
                                        {{datosPedido[0]?.abreviatura_control}}</b></label>
                                <label class="item-middle">&nbsp; {{datosPedido[0]?.empleado_control}}</label>
                            </div>
                            <div class="col-12" style="margin-top: -10px;">
                                <label class="item-start"><b>Cargo: </b>{{datosPedido[0]?.tipo_cargo_control}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <div class="col-sm col-form-label item-container">
                                <label class="item-start"><b>Responsable revisión:
                                        {{datosPedido[0]?.abreviatura_revision}}</b></label>
                                <label class="item-middle">&nbsp; {{datosPedido[0]?.empleado_revision}}</label>
                            </div>
                            <div class="col-12" style="margin-top: -10px;">
                                <label class="item-start"><b>Cargo: </b>{{datosPedido[0]?.tipo_cargo_revision}}</label>
                            </div>
                        </div>
                    </div>
                    <hr style="width: 100%; margin: auto; margin-top: 10px; margin-bottom: 5px;">
                    <div class="row">
                        <div class="subtitulo">
                            <span>**USO EXCLUSIVO PARA TALENTO HUMANO</span>
                        </div>
                    </div>
                    <div class="row" *ngIf="datosPedido[0]?.comunicacion_electronica">
                        <div class="col-sm" id="verticalLine">
                            <div class="col-sm col-form-label item-container">
                                <label style="font-size: small;">
                                    REGISTRO DE NOTIFICACIÓN AL SERVIDOR PÚBLICO DE LA ACCIÓN DE PERSONAL (primer inciso
                                    del art. 22 RGLOSEP, art. 101 COA art. 66 y 126 ERJAFE)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="datosPedido[0]?.comunicacion_electronica">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Comunicación electrónica:</b>
                                {{datosPedido[0]?.comunicacion_electronica ? 'SI' : 'NO'}}
                            </label>
                        </div>
                    </div>
                    <div class="row" *ngIf="datosPedido[0]?.comunicacion_electronica">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Fecha:</b>
                                {{datosPedido[0]?.fecha_comunicacion ? datosPedido[0]?.fecha_comunicacion : "" }}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Hora:</b>
                                {{datosPedido[0]?.hora_comunicacion ? datosPedido[0]?.hora_comunicacion : ""}}
                            </label>
                        </div>
                    </div>
                    <div class="row" *ngIf="datosPedido[0]?.comunicacion_electronica">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Medio:</b>
                                {{datosPedido[0]?.medio_comunicacion}}
                            </label>
                        </div>
                    </div>
                    <div class="row" *ngIf="datosPedido[0]?.comunicacion_electronica">
                        <div class="col-sm" id="verticalLine">
                            <div class="col-sm col-form-label item-container">
                                <label class="item-start"><b>Responsable revisión:
                                        {{datosPedido[0]?.abreviatura_comunicacion}}</b></label>
                                <label class="item-middle">&nbsp; {{datosPedido[0]?.empleado_comunicacion}}</label>
                            </div>
                            <div class="col-12" style="margin-top: -10px;">
                                <label class="item-start"><b>Cargo: </b>{{datosPedido[0]?.cargo_comunicacion}}</label>
                            </div>
                        </div>
                    </div>

                    <hr style="width: 100%; margin: auto; margin-top: 10px; margin-bottom: 5px;">
                    <div class="row mb-4">
                        <div class="col-sm" id="verticalLine">
                            <label class="col-sm col-form-label"><b>Creado junto con solicitud de vacaciones:</b>
                                {{datosPedido[0]?.id_vacacion != null ? 'SI - '+datosPedido[0].id_vacacion : 'NO'}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>