<!--  ********************  VER LISTA DE SUCURSALES  ************************  -->
<div *ngIf="ver_principal">
    <!--  ********************************* LISTA DE ESTABLECIMIENTOS  **********************************  -->
    <div class="container" style="padding-top: 20px; padding-bottom: 50px; text-align: center;">
        <div class="mat-elevation-z8" style="background: white;">
            <div id="resultados">LISTA DE SUCURSALES O ESTABLECIMIENTOS</div>
            <div class="table-responsive">
                <table class="table table-hover table-sm ">
                    <thead class="thead-light">
                        <tr style="text-align: center;">
                            <th scope="col">Ciudad</th>
                            <th scope="col">Sucursal</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <mat-form-field id="t-inputs">
                                    <input matInput placeholder="Buscar" placeholder="Buscar"
                                        (keypress)="IngresarSoloLetras($event)" [formControl]="buscarCiudad">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field id="t-inputs">
                                    <input matInput placeholder="Buscar" [formControl]="buscarNombre">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de datos de acuerdo a cada columna de la tabla.">
                                    help_outline
                                </mat-icon>
                            </td>
                        </tr>
                        <tr
                            *ngFor="let s of sucursales | filtroDescripcion: buscarCiudad.value | sucNombre: buscarNombre.value | paginate:tamanio_pagina:numero_pagina">
                            <td>{{s.descripcion}}</td>
                            <td>{{s.nombre}}</td>
                            <td class="justify-content-center">
                                <i matSuffix matTooltipPosition="right"
                                    matTooltip="Ingresar a pantalla de información de usuarios vinculados a este registro."
                                    class="fas fa-eye" id="t-ver" (click)="VerUsuarioAsignado(s)" *ngIf="getVerUsuariosEstablecimiento()">
                                    <p>Ver</p>
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina"
                [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>

<!--  **************  PANTALLA DE USUARIOS ASIGNADOS  *************************  -->
<div *ngIf="ver_informacion">
    <app-asignar-usuario [pagina_]="pagina" [data]="datos_sucursal"></app-asignar-usuario>
</div>