img {
    width: 75%;
}

mat-form-field {
    width: 250px;
}

mat-hint {
    width: max-content;
    font-size: 11px;
    margin: 0%;
    padding: 0%;
}

textarea {
    font-size: 13px;
}

.verde {
    font-size: 12px;
    color: rgb(23, 173, 9);
    cursor: pointer;
}

.btn_b {
    background-color: rgb(80, 87, 97);
    margin-left: 15px;
    width: 190px;
    color: white;
}

.caja1 {
    margin-bottom: 15px;
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
}

#fuente {
    font-size: x-small;
}