.btn {
    background-color: rgb(80, 87, 97);
    color: white;
}

p {
    font-size: x-small;
}

td {
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}

button {
    margin: 5px 10px 5px 10px;
}

#funtion {
    color: rgb(17, 4, 66);
    cursor: pointer;
}

table {
    width: 100%;
}

#items {
    font-size: 12px;
    margin-top: 8%;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    word-wrap: break-word;
    color: black;
    padding-left: 10px;
}

mat-tab-group {
    background: rgb(232, 232, 232);
    background: radial-gradient(circle, rgba(232, 232, 232, 0.8883928571428571) 0%, rgba(249, 249, 249, 1) 100%);
}

.thead{
    position:sticky;
}