<div id="resultados">

    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane" id="mover">
        CREAR CARPETA USUARIOS
    </span>
</div>
<mat-card-content>
    <div style="text-align: center;" >
        <p *ngIf="empleados.length > 1">Se crearan capetas para los usuarios seleccionados.<br>
            No se crearan capetas si ya existen.
        </p>
        <p *ngIf="empleados.length < 2">Se crearan capetas para el usuario seleccionado <br>
            No se crearan capetas si ya existen.
        </p>
        <p id="mensaje" *ngIf="empleados.length > 1">¿ESTÁ SEGURO DE QUIERE CREAR CARPETAS PARA ESTOS USUARIOS?</p>
        <p id="mensaje" *ngIf="empleados.length < 2">¿ESTÁ SEGURO DE QUIERE CREAR CARPETAS PARA ESTE USUARIO?</p>
    </div>


    <div *ngIf="empleados.length === 1" style="margin-top: 5%;">
        <ul *ngFor="let e of empleados">
            <li style="margin-top: -10px;">{{e.empleado}}</li>
        </ul>
    </div>

</mat-card-content>
<div style="text-align: center; margin-bottom: 3%;">
    <button mat-raised-button id="aceptar" color="primary" (click)="ConfirmarCrearCarpetaEmpleados()"
        cdkFocusInitial>Confirmar</button>&nbsp;&nbsp;
    <button mat-raised-button id="btn-raised" (click)="ventana.close(false)">Cancelar</button>
</div>
