table {
    width: 100%;
    font-size: 12px;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}

#detalle {
    font-size: 11px;
}

p {
    font-size: x-small;
}