<div class="container" style="padding-bottom: 10px; padding-top: 20px;">
    <div class="row">
        <div class="col-12 col-md-6">
            <div id="titulo">
                <span>NIVELES DE TÍTULOS PROFESIONALES</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="d-flex flex-wrap justify-content-center" style="margin-top: 1%; margin-bottom: 2%;">
                    <button *ngIf="!DataNivelesProfesionales && getCrearNivelTituloProfesional()" id="btn-raised" class="btn btn-sm"
                        (click)="AbrirVentanaNivelTitulo()">
                        Crear nivel título profesional
                    </button>
                    <button id="btn-raised" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                        Mostrar lista
                    </button>
                </div>
            </mat-card>
        </div>
        <!--  ********************************  REGISTRO MULTIPLE DE NIVELES  *******************************  -->
        <div class="col-12 col-md-6">
            <div id="titulo">
                <span>REGISTRO MULTIPLE</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="row m-auto" *ngIf="getPlantilla()">
                    <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                        <form method="post" class="btn-2" enctype="multipart/form-data">
                            <input type="file" (change)="FileChange($event)" [formControl]="archivoForm" id="file"
                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            <label for="file" matSuffix matTooltipPosition="right" *ngIf="!mostrarbtnsubir"
                                style="height: 65px; padding-top: 25px;"
                                matTooltip="Presionar para seleccionar Plantilla con nombre plantillaConfiguracionGeneral.">
                                Subir plantilla
                            </label>
                            <label for="file" matSuffix matTooltipPosition="right"
                                *ngIf="mostrarbtnsubir && messajeExcel != 'error'"
                                style="height: 65px; padding-top: 25px;"
                                matTooltip="Presionar para seleccionar Plantilla con nombre plantillaConfiguracionGeneral.">
                                Subir nueva plantilla
                            </label>
                        </form>
                    </div>
                    <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                        <div *ngIf="!DataNivelesProfesionales" class="d-flex flex-wrap justify-content-around"
                            style="text-align: center; justify-content: center;">
                            <a id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                                matTooltip="Dar click para ver o descargar el documento."
                                href="{{hipervinculo}}/plantillaD/documento/plantillaConfiguracionGeneral.xlsx">
                                <br>
                                Descargar plantilla
                            </a>
                        </div>
                        <div class="d-flex flex-wrap justify-content-center m-auto w-auto">
                            <button *ngIf="DataNivelesProfesionales && messajeExcel != 'error'" id="descargar"
                                class="btn btn-sm" (click)="ConfirmarRegistroMultiple()" matSuffix
                                matTooltipPosition="right" matTooltip="Guardar registro multiple.">
                                Registrar
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<!-- ********************************  LISTA DE NIVELES PROFESIONALES  *************************************** -->
<div class="container" style="padding-top: 15px; padding-bottom: 50px; text-align: center;"
    *ngIf="!DataNivelesProfesionales && (messajeExcel == 'error' || messajeExcel == '')">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="titulo" class="row w-100 m-auto">
            <div class="col-12 col-md-2 mb-2 mb-md-0 order-2 order-md-2">  
            </div>
            <div class="col-12 col-md-8 mb-2 mb-md-0 order-1 order-md-2 Tabla_titulo">
                <span>
                    RESULTADO DE BÚSQUEDA
                </span>
            </div>
            <div class="col-12 col-md-2 mb-2 mb-md-0 order-3 order-md-2">
                <button type="submit" class="btn btn-outline-light btn-sm btn_eliminar" style="margin-top: -3px;"
                    (click)="ConfirmarDeleteMultiple()">
                    Eliminar
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                matTooltipPosition="right" matTooltip="Dar clic para activar selección múltiple."
                                id="SelectCheck" (click)="HabilitarSeleccion()">
                                library_add_check
                            </mat-icon>
                            <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterTogglePag() : null"
                                [checked]="selectionNiveles.hasValue() && isAllSelectedPag()"
                                [indeterminate]="selectionNiveles.hasValue() && !isAllSelectedPag()"
                                [aria-label]="checkboxLabelPag()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [formControl]="nombreF"
                                    (keypress)="IngresarSoloLetras($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de un nivel de título profesional por su nombre.">
                                help_outline</mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let t of nivelTitulos | filtrosNombres: nombreF.value |  paginate:tamanio_pagina:numero_pagina">
                        <td>
                            <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                (change)="$event ? selectionNiveles.toggle(t) : null"
                                [checked]="selectionNiveles.isSelected(t)" [aria-label]="checkboxLabelPag(t)">
                            </mat-checkbox>
                        </td>
                        <td>{{t.nombre}}</td>
                        <td class="d-flex justify-content-center">
                            <i class="fas fa-edit" (click)=AbrirVentanaEditarTitulo(t) matSuffix
                                matTooltipPosition="right" matTooltip="Editar los datos generales de este registro." *ngIf="getEditarNivelTituloProfesional()">
                                <p>Editar</p>
                            </i>
                            <i class="far fa-trash-alt" (click)="ConfirmarDelete(t)" matSuffix
                                matTooltipPosition="right" matTooltip="Eliminar este registro." *ngIf="getEliminarNivelTituloProfesional()">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="nivelTitulos.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <!--  *********************  DESCARGA DE REPORTES  **************************  -->
        <div *ngIf="getDescargarReportes()">
            <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 10px;">
                <i (click)="GenerarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix
                    matTooltipPosition="right" matTooltip="Descargar Lista de Niveles de Títulos en formato PDF.">
                    <p>PDF</p>
                </i>
                <i (click)="ExportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Niveles de Títulos en formato EXCEL.">
                    <p>XLSL</p>
                </i>
                <i (click)="ExportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Niveles de Títulos en formato CSV.">
                    <p>CSV</p>
                </i>
                <i (click)="ExportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Niveles de Títulos en formato XML.">
                    <p>XML</p>
                </i>
            </div>
            <div class="d-flex justify-content-end"
                style="margin-right: 2%; margin-top: -1%; color: rgb(158, 154, 154);">
                <p> Reporte de niveles de títulos profesionales. </p>
            </div>
        </div>
    </div>
</div>

<!-- ***************************  INFORMACION DE LAS OBSERVACIONES DEL REGISTRO MULTIPLE  **************************** -->
<div class="container" style="padding-top: 10px; margin-bottom: 25px;"
    *ngIf="DataNivelesProfesionales && messajeExcel != 'error'">
    <app-definicion-plantilla>
    </app-definicion-plantilla>
</div>

<!-- ********************************  TABLA DE DATOS DE LA CARGA MULTIPLE  *************************************** -->
<div class="container" style="padding-bottom: 50px; text-align: center;"
    *ngIf="DataNivelesProfesionales && messajeExcel != 'error'">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resultados">
            REGISTRO MULTIPLE
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm ">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Item</th>
                        <th scope="col">Observación</th>
                        <th scope="col">Nivel</th>

                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of DataNivelesProfesionales | paginate:tamanio_paginaMul:numero_paginaMul; let i = index">
                        <td style="font-size: 12px; width: 50px;" align="center">{{data.fila}}</td>
                        <td style="font-size: 12px;">
                            <div style="width: 250px; margin: auto;">
                                <div id="t-editar" class="circulo"
                                    [style.background-color]="EstiloCelda(data.observacion)"></div>
                                {{ data.observacion}}
                            </div>
                        </td>
                        <td style="font-size: 12px;" [style.color]="EstiloTextoCelda(data.nombre)">{{ data.nombre}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div style="display: flex; align-items: center;">
          <div class="contenedorTotal" matTooltip="Número de datos que se van a cargar en el sistema.">
            <div id="t-editar" class="circulo circuloTotal"></div>
            <div>{{nivelesCorrectos}}</div>
          </div>
          <mat-paginator id="pagina" [length]="DataNivelesProfesionales.length" [pageSize]="tamanio_paginaMul"
                [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPaginaMulti($event)" showFirstLastButtons>
          </mat-paginator>
        </div>
    </div>
</div>
