mat-form-field {
    padding: 10px 15px 0px 15px;
}

table {
    width: 100%;
    font-size: 14px;
}

tr {
    text-align: center;
}

td {
    padding-top: 10px;
    text-align: center;
}

/* .table th,
.table td{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    min-width: 100px;
}

.table th:last-child,
.table td:last-child{
    border-right: 0;
}

.table tbody tr{
    background-color: #fbfbfb;
}

.table tbody tr:nth-child(2n) {
    background-color: #e6f3ff;
} */

p {
    font-size: x-small;
}

mat-icon {
    cursor: pointer;
}

.ver {
    color: indianred;
}

#busqueda {
    margin-top: 10px;
}

#detalle {
    width: 100%;
    font-size: 12px;
}

#accion {
    color: rgb(53, 95, 209);
    cursor: pointer;
}