<br>
<mat-tab-group>

    <!-- PANTALLA CARGAR NIVELES DE DEPARTAMENTOS -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" id="icono_pestaña">description</mat-icon>
            <h6 id="items" (click)="LimpiarCampos()">&nbsp; Asignar Procesos</h6>
        </ng-template>

        <div class="container" style="padding-bottom: 15px; padding-top: 10px;">
            <div class="row">
                <div class="col-md">
                    <div id="titulo">
                        <span>PROCESOS</span>
                    </div>
                    <mat-card class="example-card mat-elevation-z9">
                        <div class="d-flex flex-wrap justify-content-center" style="margin-top: 1%; margin-bottom: 2%;">
                            <button id="btn-raised" class="btn btn-sm"
                                (click)="PantallaRegistros('proceso', 'registros')">
                                Mostrar registros
                            </button>
                            <button id="btn-raised" class="btn btn-sm"
                                (click)="PantallaRegistros('proceso', 'interfaz')">
                                Registrar procesos
                            </button>
                            <button id="btn-raised" class="btn btn-sm"
                                (click)="PantallaRegistros('proceso', 'multiple')">
                                Registro multiple de proceso
                            </button>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 15px;" *ngIf="MostrarListaProcesos">
            <div class="mat-elevation-z8" style="background: white;" *ngIf="!listadoUsuariosProceso">
                <div id="resultados">LISTA DE SUCURSALES O ESTABLECIMIENTOS</div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm ">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th scope="col">Ciudad</th>
                                <th scope="col">Sucursal</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <mat-form-field id="t-inputs">
                                        <input matInput placeholder="Buscar" placeholder="Buscar"
                                            (keypress)="IngresarSoloLetras($event)" [formControl]="buscarCiudad">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field id="t-inputs">
                                        <input matInput placeholder="Buscar" [formControl]="buscarNombre">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                        matTooltip="Búsqueda de datos de acuerdo a cada columna de la tabla.">
                                        help_outline
                                    </mat-icon>
                                </td>
                            </tr>
                            <tr
                                *ngFor="let s of sucursales | filtroDescripcion: buscarCiudad.value | sucNombre: buscarNombre.value | paginate:tamanio_pagina:numero_pagina">
                                <td>{{s.descripcion}}</td>
                                <td>{{s.nombre}}</td>
                                <td class="justify-content-center">
                                    <i matSuffix matTooltipPosition="right"
                                        matTooltip="Ingresar a pantalla de información de usuarios vinculados a este registro."
                                        class="fas fa-eye" id="t-ver" (click)="VerUsuarioAsignado(s, 'procesos')">
                                        <p>Ver</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina"
                    [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
                </mat-paginator>
            </div>

            <div class="mat-elevation-z8" style="background: white;" *ngIf="listadoUsuariosProceso">
                <app-empleado-proceso [data]="dataList"></app-empleado-proceso>
            </div>
        </div>

        <div class="container" style="padding-top: 15px;" *ngIf="RegistroInterfazProcesos">
            <app-registro-interfaz-proceso></app-registro-interfaz-proceso>
        </div>

        <div class="container" style="padding-top: 15px;" *ngIf="RegistroMultipleProcesos">
            <app-registro-multiple-proceso></app-registro-multiple-proceso>
        </div>
    </mat-tab>

    <!-- PANTALLA CARGAR NIVELES DE DEPARTAMENTOS -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" id="icono_pestaña">description</mat-icon>
            <h6 id="items" (click)="LimpiarCampos()">&nbsp; Registrar Grado</h6>
        </ng-template>

        <div class="container" style="padding-bottom: 15px; padding-top: 10px;">
            <div class="row">
                <div class="col-md">
                    <div id="titulo">
                        <span>GRADOS</span>
                    </div>
                    <mat-card class="example-card mat-elevation-z9">
                        <div class="d-flex flex-wrap justify-content-center" style="margin-top: 1%; margin-bottom: 2%;">
                            <button id="btn-raised" class="btn btn-sm"
                                (click)="PantallaRegistros('grado', 'registros')">
                                Mostrar registros
                            </button>
                            <button id="btn-raised" class="btn btn-sm" (click)="PantallaRegistros('grado', 'interfaz')">
                                Registrar grados
                            </button>
                            <button id="btn-raised" class="btn btn-sm" (click)="PantallaRegistros('grado', 'multiple')">
                                Registro multiple de grados
                            </button>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 15px;" *ngIf="MostrarListaGrado">
            <div class="mat-elevation-z8" style="background: white;" *ngIf="!listadoUsuariosGrado">
                <div id="resultados">LISTA DE SUCURSALES O ESTABLECIMIENTOS</div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm ">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th scope="col">Ciudad</th>
                                <th scope="col">Sucursal</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <mat-form-field id="t-inputs">
                                        <input matInput placeholder="Buscar" placeholder="Buscar"
                                            (keypress)="IngresarSoloLetras($event)" [formControl]="buscarCiudad">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field id="t-inputs">
                                        <input matInput placeholder="Buscar" [formControl]="buscarNombre">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                        matTooltip="Búsqueda de datos de acuerdo a cada columna de la tabla.">
                                        help_outline
                                    </mat-icon>
                                </td>
                            </tr>
                            <tr
                                *ngFor="let s of sucursales | filtroDescripcion: buscarCiudad.value | sucNombre: buscarNombre.value | paginate:tamanio_pagina:numero_pagina">
                                <td>{{s.descripcion}}</td>
                                <td>{{s.nombre}}</td>
                                <td class="justify-content-center">
                                    <i matSuffix matTooltipPosition="right"
                                        matTooltip="Ingresar a pantalla de información de usuarios vinculados a este registro."
                                        class="fas fa-eye" id="t-ver" (click)="VerUsuarioAsignado(s, 'grado')">
                                        <p>Ver</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina"
                    [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
                </mat-paginator>
            </div>
            <div class="mat-elevation-z8" style="background: white;" *ngIf="listadoUsuariosGrado">
                <app-empleado-grado [data]="dataList"></app-empleado-grado>
            </div>
        </div>

        <div class="container" style="padding-top: 15px;" *ngIf="RegistroInterfazGrado">
            <app-registro-interfaz-grado></app-registro-interfaz-grado>
        </div>

        <div class="container" style="padding-top: 15px;" *ngIf="RegistroMultipleGrado">
            <app-registro-multiple-grado></app-registro-multiple-grado>
        </div>

    </mat-tab>


    <!-- PANTALLA CARGAR NIVELES DE DEPARTAMENTOS -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" id="icono_pestaña">description</mat-icon>
            <h6 id="items" (click)="LimpiarCampos()">&nbsp; Asignar Grupo Ocupacional</h6>
        </ng-template>

        <div class="container" style="padding-bottom: 15px; padding-top: 10px;">
            <div class="row">
                <div class="col-md">
                    <div id="titulo">
                        <span>GRUPO OCUPACIONAL</span>
                    </div>
                    <mat-card class="example-card mat-elevation-z9">
                        <div class="d-flex flex-wrap justify-content-center" style="margin-top: 1%; margin-bottom: 2%;">
                            <button id="btn-raised" class="btn btn-sm"
                                (click)="PantallaRegistros('grupo', 'registros')">
                                Mostrar registros
                            </button>
                            <button id="btn-raised" class="btn btn-sm" (click)="PantallaRegistros('grupo', 'interfaz')">
                                Registrar grupo ocupacional
                            </button>
                            <button id="btn-raised" class="btn btn-sm" (click)="PantallaRegistros('grupo', 'multiple')">
                                Registro multiple de grupo ocupacional
                            </button>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 15px;" *ngIf="MostrarListaGrupoOcupacional">
            <div class="mat-elevation-z8" style="background: white;" *ngIf="!listadoUsuariosGrupoOcupa">
                <div id="resultados">LISTA DE SUCURSALES O ESTABLECIMIENTOS</div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm ">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th scope="col">Ciudad</th>
                                <th scope="col">Sucursal</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <mat-form-field id="t-inputs">
                                        <input matInput placeholder="Buscar" placeholder="Buscar"
                                            (keypress)="IngresarSoloLetras($event)" [formControl]="buscarCiudad">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field id="t-inputs">
                                        <input matInput placeholder="Buscar" [formControl]="buscarNombre">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                        matTooltip="Búsqueda de datos de acuerdo a cada columna de la tabla.">
                                        help_outline
                                    </mat-icon>
                                </td>
                            </tr>
                            <tr
                                *ngFor="let s of sucursales | filtroDescripcion: buscarCiudad.value | sucNombre: buscarNombre.value | paginate:tamanio_pagina:numero_pagina">
                                <td>{{s.descripcion}}</td>
                                <td>{{s.nombre}}</td>
                                <td class="justify-content-center">
                                    <i matSuffix matTooltipPosition="right"
                                        matTooltip="Ingresar a pantalla de información de usuarios vinculados a este registro."
                                        class="fas fa-eye" id="t-ver" (click)="VerUsuarioAsignado(s, 'grupo')">
                                        <p>Ver</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina"
                    [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
                </mat-paginator>
            </div>
            <div class="mat-elevation-z8" style="background: white;" *ngIf="listadoUsuariosGrupoOcupa">
                <app-empleado-grupo [data]="dataList"></app-empleado-grupo>
            </div>
        </div>

        <div class="container" style="padding-top: 15px;" *ngIf="RegistroInterfazGrupoOcupacional">
            <app-registro-interfaz-grupo></app-registro-interfaz-grupo>
        </div>

        <div class="container" style="padding-top: 15px;" *ngIf="RegistroMultipleGrupoOcupacional">
           <app-registro-multiple-grupo></app-registro-multiple-grupo>
        </div>

    </mat-tab>

</mat-tab-group>