<!--  **********************  VER LISTA DE DEPARTAMENTOS POR SUCURSALES  **************************** -->
<div class="div" *ngIf="ver_sucursal">
    <div class="container" *ngFor="let s of datosSucursal" style="padding-top: 20px;">
        <mat-card class="example-card mat-elevation-z8">
            <div id="titulo">
                <button class="btn btn-outline-light btn-sm" style="float: left; margin-left: 10px;"
                    (click)="VerSucursales()">
                    Listar establecimientos
                </button>
                <span>{{s.nombre.toUpperCase()}}</span>
                <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                    (click)="EditarDatosSucursal(s)" *ngIf="getEditarSucursal()">
                    Editar
                </button>
            </div>
            <mat-card-content>
                <div class="container" style="padding-top: 20px;">
                    <div class="row">
                        <div class="col-md">
                            <div class="caja d-flex justify-content-start">
                                <label id="datosF">Empresa:</label>
                                <label>{{s.nomempresa}}</label>
                            </div>
                        </div>
                        <div class="col-md" id="verticalLine">
                            <div class="caja d-flex justify-content-start">
                                <label id="datosF">Ciudad:</label>
                                <label>{{s.descripcion}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container table-responsive" style="padding-bottom: 25px; padding-top: 10px;">
                    <div id="titulo">

                        <button class="btn btn-outline-light btn-sm" style="float: left; margin-left: 10px;"
                            (click)="AbrirVentanaRegistrarDepartamento()" *ngIf="getVerDepartamentoCrearDepartamento()">
                            Crear departamento
                        </button>
                        <span>LISTA DE DEPARTAMENTOS</span>


                        <button  class="btn btn-outline-light btn-sm"
                            style=" float: right; margin-right: 10px;" (click)="ConfirmarDeleteMultiple()" *ngIf="getVerDepartamentoEliminarDepartamento()">Eliminar
                            departamento</button>


                    </div>
                    <table class="mat-elevation-z8 table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">

                                <th>
                                    <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                        matTooltipPosition="right"
                                        matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                        (click)="HabilitarSeleccion()">
                                        library_add_check
                                    </mat-icon>
                                    <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterTogglePag() : null"
                                        [checked]="selectionDepartamentos.hasValue() && isAllSelectedPag()"
                                        [indeterminate]="selectionDepartamentos.hasValue() && !isAllSelectedPag()"
                                        [aria-label]="checkboxLabelPag()">
                                    </mat-checkbox>



                                </th>
                                <th scope="col">Departamento</th>
                                <th scope="col">Nivel</th>
                                <th scope="col">Departamento Superior</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr *ngFor="let d of datosDepartamentos | paginate:tamanio_pagina:numero_pagina">

                                <td>
                                    <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionDepartamentos.toggle(d) : null"
                                        [checked]="selectionDepartamentos.isSelected(d)"
                                        [aria-label]="checkboxLabelPag(d)">
                                    </mat-checkbox>
                                </td>
                                <td>{{d.nombre | titlecase}}</td>
                                <td>{{d.nivel}}</td>
                                <td>{{d.departamento_padre | titlecase}}
                                </td>
                                <td>
                                    <i class="fa fa-navicon" matSuffix matTooltipPosition="right" id="t-detalles"
                                        matTooltip="Registrar niveles de autorización." (click)="VerNiveles(d.id)" *ngIf="getVerDepartamentoVerNiveles()">
                                        <p>Niveles</p>
                                    </i>
                                    <i id="t-editar" (click)="AbrirVentanaEditarDepartamento(d)" matSuffix
                                        matTooltipPosition="right" matTooltip="Modificar datos de este registro."
                                        class="fas fa-edit" *ngIf="getVerDepartamentoEditarDepartamento()">
                                        <p>Editar</p>
                                    </i>
                                    <i class="far fa-trash-alt" (click)="ConfirmarDelete(d)" id="t-eliminar" matSuffix
                                        matTooltipPosition="right" matTooltip="Eliminar registro." *ngIf="getVerDepartamentoEliminarDepartamento()">
                                        <p>Eliminar</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <mat-paginator id="pagina" [length]="datosDepartamentos.length" [pageSize]="tamanio_pagina"
                        [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!--  **********************  DATOS DE NIVELES DE APROBACION  **************************** -->
<app-ver-departamento [id_departamento]="data_id" [pagina]="pagina" *ngIf="ver_nivel">
</app-ver-departamento>