<div class="row m-auto">
    <div class="col-md">
        <div id="titulo">
            <span>ASIGNAR PROCESOS</span>
        </div>
        <mat-card class="example-card mat-elevation-z9">
            <div class="row">
                <div class="col-12 col-md-auto m-auto w-auto"
                    style="padding-top: 5px; padding-bottom: 5px;">
                    <div class="d-flex flex-wrap justify-content-around"
                        style="text-align: center; justify-content: center;">
                        <form method="post" class="btn-2" enctype="multipart/form-data">
                            <input (change)="FileChange($event, 'niveles')" type="file"
                                [formControl]="archivoForm" id="file"
                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            <label for="file" matSuffix matTooltipPosition="right" *ngIf="!mostrarbtnsubir"
                                style="height: 65px; padding-top: 25px;"
                                matTooltip="Dar click para selecionar plantilla y cargar registros.">
                                Subir plantilla
                            </label>
                            <label for="file" matSuffix matTooltipPosition="right"
                                *ngIf="mostrarbtnsubir && messajeExcel != 'error'"
                                style="height: 64px; padding-top: 25px;"
                                matTooltip="Presionar para seleccionar Plantilla con nombre Feriados.">
                                Subir nueva plantilla
                            </label>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-auto m-auto w-auto"
                    style="padding-top: 5px; padding-bottom: 5px;">
                    <div *ngIf="!DatosProcesos" class="d-flex flex-wrap justify-content-around">
                        <a id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                            style="margin: 2% 0% 3% 0%;"
                            matTooltip="Dar click para ver o descargar el documento."
                            href="{{hipervinculo}}/plantillaD/documento/plantillaConfiguracionGeneral.xlsx">
                            <br>
                            Descargar plantilla usuarios
                        </a>
                    </div>
                    <div *ngIf="DatosProcesos" class="d-flex flex-wrap justify-content-around"
                        style="text-align: center; justify-content: center;">
                        <button id="descargar" class="btn btn-sm" (click)="ConfirmarRegistroMultiple()"
                            matSuffix matTooltipPosition="right" matTooltip="Guardar registro multiple.">
                            Registrar
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>

