<!--  **************************** LISTA DE FERIADOS *********************************  -->
<div *ngIf="ver_lista">
    <div class="container" style="padding-bottom: 10px; padding-top: 20px;">
        <div class="row">
            <div class="col-md">
                <div id="titulo">
                    <span>FERIADOS</span>
                </div>
                <mat-card class="example-card mat-elevation-z9">
                    <div class="d-flex flex-wrap justify-content-center" style="margin-top: 1%; margin-bottom: 2%;">
                        <button *ngIf="!DataFeriados" id="btn-raised" class="btn btn-sm"
                            (click)="AbrirVentanaRegistrarFeriado()">
                            Crear feriado
                        </button>
                        <button id="btn-raised" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                            matTooltipPosition="right"
                            matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                            Mostrar lista
                        </button>
                    </div>
                </mat-card>
            </div>
            <div class="col-md">
                <div id="titulo">
                    <span>REGISTRO MULTIPLE DE FERIADOS</span>
                </div>
                <mat-card class="example-card mat-elevation-z9">
                    <div class="row">
                        <div class="col-md" style="padding-top: 5px;">
                            <div class="d-flex flex-wrap justify-content-around" style="text-align: center; justify-content: center;">
                                <form method="post" enctype="multipart/form-data" style="width: max-content;">
                                    <input (change)="FileChange($event)" type="file" [formControl]="archivoForm"
                                        id="file"
                                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                    <label for="file" matSuffix matTooltipPosition="right"
                                        *ngIf="!mostrarbtnsubir" style="height: 64px;  padding-top: 25px;"
                                        matTooltip="Presionar para seleccionar Plantilla con nombre Feriados.">
                                        Subir plantilla
                                    </label>
                                    <label for="file" matSuffix matTooltipPosition="right"
                                        *ngIf="mostrarbtnsubir && messajeExcel != 'error'" style="height: 64px;  padding-top: 25px;"
                                        matTooltip="Presionar para seleccionar Plantilla con nombre Feriados.">
                                        Subir nueva plantilla
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-md" *ngIf="!DataFeriados" style="padding-top: 5px; padding-bottom: 5px;" >
                            <div class="d-flex flex-wrap justify-content-around" style="text-align: center; justify-content: center;">
                                <a id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                                    matTooltip="Dar click para ver o descargar el documento."
                                    href="{{hipervinculo}}/plantillaD/documento/Feriados.xlsx">
                                    <!--span class="material-icons">cloud_download</span-->
                                    <br>
                                    Descargar plantilla
                                </a>
                            </div>
                        </div>
                        <div class="col-md" *ngIf="mostrarbtnsubir" style="padding-top: 5px; padding-bottom: 5px;" >
                            <div class="d-flex flex-wrap justify-content-around" style="text-align: center; justify-content: center;">
                                <button *ngIf="DataFeriados && messajeExcel != 'error'" id="descargar" class="btn btn-sm"
                                    (click)="ConfirmarRegistroMultiple()" matSuffix matTooltipPosition="right"
                                     matTooltip="Guardar registro multiple.">
                                    Registrar
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <!--  **************************************  LISTA DE FERIADOS ***************************************** -->
    <div class="container" style="padding-top: 15px; padding-bottom: 50px; margin-bottom: 35px;" *ngIf="!DataFeriados">
        <div class="mat-elevation-z8" style="background: white;">
            <div id="titulo">LISTA DE FERIADOS</div>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr style="text-align: center;">
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Fecha recuperación</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <mat-form-field id="t-inputs">
                                    <input matInput placeholder="Buscar" [formControl]="descripcionF"
                                        [(ngModel)]="filtroDescripcion" (keypress)="IngresarSoloLetras($event)">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field id="t-inputs">
                                    <input matInput placeholder="yyyy-mm-dd" [formControl]="fechaF"
                                        [(ngModel)]="filtradoFecha">
                                </mat-form-field>
                            </td>
                            <td></td>
                            <td>
                                <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de feriados de acuerdo a cada columna de la tabla.">
                                    help_outline
                                </mat-icon>
                            </td>
                        </tr>
                        <tr
                            *ngFor="let f of feriados | filtroNombre: filtroDescripcion | filtroFecha: filtradoFecha | paginate:tamanio_pagina:numero_pagina ">
                            <td id="letras">{{f.descripcion}}</td>
                            <td style="font-size: 12px;">{{f.fecha_}}</td>
                            <td style="font-size: 12px;">{{f.fec_recuperacion_}}</td>
                            <td class="justify-content-center">
                                <i matSuffix matTooltipPosition="right"
                                    matTooltip="Ver datos generales de este feriado." class="fas fa-eye" id="t-ver"
                                    (click)="VerListaCiudades(f.id)">
                                    <p>Ver</p>
                                </i>
                                <i matSuffix matTooltipPosition="right"
                                    matTooltip="Asignar ciudad en la que rige este feriado." class="fas fa-city"
                                    id="t-detalles" (click)="VerAsignarCiudad(f.id)">
                                    <p>Ciudad</p>
                                </i>
                                <i matSuffix matTooltipPosition="right"
                                    matTooltip="Modificar datos generales de este feriado." class="fas fa-edit"
                                    (click)="AbrirVentanaEditarFeriado(f)" id="t-editar">
                                    <p>Editar</p>
                                </i>
                                <i matSuffix matTooltipPosition="right" matTooltip="Eliminar registro."
                                    class="far fa-trash-alt" (click)="ConfirmarDelete(f)" id="t-eliminar">
                                    <p>Eliminar</p>
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <mat-paginator id="pagina" [length]="feriados.length" [pageSize]="tamanio_pagina"
                [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
            </mat-paginator>
            <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 10px;">
                <i (click)="GenerarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix
                    matTooltipPosition="right" matTooltip="Descargar Lista de Feriados en formato PDF.">
                    <p>PDF</p>
                </i>
                <i (click)="ExportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Feriados en formato EXCEL.">
                    <p>XLSL</p>
                </i>
                <i (click)="ExportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Feriados en formato CSV.">
                    <p>CSV</p>
                </i>
                <i (click)="ExportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Feriados en formato XML.">
                    <p>XML</p>
                </i>
            </div>
            <div class="d-flex justify-content-end"
                style="margin-right: 2%; margin-top: -1%; color: rgb(158, 154, 154);">
                <p> Reporte de feriados. </p>
            </div>
        </div>
    </div>

    <!--  **********************************  INFORMACION DE LAS OBSERVACIONES DEL REGISTRO MULTIPLE ***************************************** -->
    <div class="container" style="padding-top: 10px; margin-bottom: 25px;" *ngIf="DataFeriados && messajeExcel != 'error'">
        <app-definicion-plantilla>
        </app-definicion-plantilla>
    </div>
    
    <!------------------ TABLA DE DATOS DE LA CARGA MULTIPLE DE FERIADOS ------------------------------------------------->
    <div class="container" style="padding-bottom: 10px; margin-bottom: 35px;" *ngIf="DataFeriados && messajeExcel != 'error'">
        <div class="mat-elevation-z8" style="background: white;">
            <div id="titulo">REGISTRO MULTIPLE</div>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr style="text-align: center; font-size: 13px;">
                            <th scope="col">Item</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha recuperación</th>
                            <th scope="col">Observación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let f of DataFeriados | paginate:tamanio_paginaMul:numero_paginaMul; let i = index">
                            <td id="letras" style="font-size: 12px; padding-left: 3px; width: 50px;" align="center">{{f.fila}}</td>
                            <td [style.color]="stiloTextoCelda(f.fecha)" style="font-size: 12px;">{{f.fecha}}</td>
                            <td [style.color]="stiloTextoCelda(f.descripcion)" id="letras" style="font-size: 12px;">
                                {{f.descripcion}}</td>
                            <td style="font-size: 12px;">{{f.fec_recuperacion}}</td>
                            <td style="font-size: 12px;">
                                <div style="width: 270px; margin: auto;">
                                    <div id="t-editar" class="circulo"
                                        [style.background-color]="stiloCelda(f.observacion)"></div>
                                    {{f.observacion}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <mat-paginator [length]="DataFeriados.length" [pageSize]="tamanio_paginaMul"
                [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPaginaMulti($event)"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>

    <!------------------ TABLA DE DATOS DE LA CARGA MULTIPLE DE FERIADOS_CIUDADES ------------------------------------------------->
    <div class="container" style="padding-bottom: 10px; margin-bottom: 35px;" *ngIf="DataFeriados && messajeExcel != 'error'">
        <div class="mat-elevation-z8" style="background: white;">
            <div id="titulo">REGISTRO MULTIPLE</div>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr style="text-align: center; font-size: 13px;">
                            <th scope="col">Item</th>
                            <th scope="col">Provincia</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Fereiado</th>
                            <th scope="col">Observación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let fc of DataFerieados_ciudades | paginate:tamanio_paginaMul2: numero_paginaMul2; let i = index">
                            <td id="letras" style="font-size: 12px; padding-left: 3px; width: 50px;" align="center">{{fc.fila}}</td>
                            <td [style.color]="stiloTextoCelda(fc.provincia)" style="font-size: 12px;">{{fc.provincia}}</td>
                            <td [style.color]="stiloTextoCelda(fc.ciudad)" id="letras" style="font-size: 12px;"> {{fc.ciudad}}</td>
                            <td [style.color]="stiloTextoCelda(fc.feriado)" id="letras" style="font-size: 12px;"> {{fc.feriado}}</td>
                            <td style="font-size: 12px;">
                                <div style="width: 270px; margin: auto;">
                                    <div id="t-editar" class="circulo"
                                        [style.background-color]="stiloCelda(fc.observacion)"></div>
                                    {{fc.observacion}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <mat-paginator [length]="DataFerieados_ciudades.length" [pageSize]="tamanio_paginaMul2"
                [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPaginaMulti($event)"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>

<!--  **************************** PANTALLA DE ASIGNAR CIUDADES A FERIADOS *********************************  -->
<app-asignar-ciudad *ngIf="ver_asignar" [pagina]="pagina" [id_feriado]="feriado_id"></app-asignar-ciudad>

<!--  **************************** PANTALLA LISTA DE CIUDADES *********************************  -->
<app-listar-ciudad-feriados *ngIf="ver_ciudades" [pagina_]="pagina" [idFeriado]="feriado_id">
</app-listar-ciudad-feriados>

<!--  **************************** PANTALLA REGISTRAR CIUDADES *********************************  -->
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 20px;">
    <app-registrar-feriados *ngIf="ver_registrar"></app-registrar-feriados>
</div>
