p {
    font-size: x-small;
}

.btn {
    background-color: rgb(80, 87, 97);
    margin: 5px 10px 5px 10px;
    color: white;
}

table {
    width: 100%;
    font-size: 14px;
}

td {
    vertical-align: middle;
}

/*Estilo para ajustar el texto del titulo de las tablas*/
@media (max-width: 530px) {
    .Tabla_titulo{
        font-size: smaller;
    }

    mat-card-content{
        padding: 0px;

        .container{
            margin: 0%;
            width: 100%;
        }
    }
}