<!--  *********************  VER INFORMACION GENERAL DE EMPRESA  *************************  -->
<div *ngIf="ver_informacion" style="padding-bottom: 20px;">
    <div class="container" *ngFor="let e of datosEmpresa" style="padding-top: 15px;">
        <mat-card class="example-card mat-elevation-z8">
            <div id="titulo">
                <span>{{e.nombre.toUpperCase()}}</span>
            </div>
            <div>
                <div class="container" style="padding-top: 15px;">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6" style="text-align: center;" *ngIf="getEditarInformacionGeneral()">
                            <!--  ************************* LOGO DE EMPRESA ******************************** -->
                            <figure class="logo-container">

                                <div *ngIf="imagen_default; else logoEmpresa">
                                    <img src="../../../../../assets/imagenes/photo.png" alt="Logo predeterminado"
                                        class="logo-img" />
                                </div>

                                <ng-template #logoEmpresa>
                                    <div class="d-flex flex-wrap justify-content-center">
                                        <img src="{{logo}}" alt="Logo de la empresa" class="logo-img" />
                                    </div>
                                </ng-template>

                                <button type="button" (click)="EditarLogo()" matTooltip="Editar logo de la empresa."
                                    matTooltipPosition="right" matTooltipClass="tooltip"
                                    aria-label="Editar logo de la empresa" class="btn-logo-editar">
                                    <mat-icon class="icon-logo">add_a_photo</mat-icon>
                                </button>

                            </figure>

                        </div>
                        <div class="col-3"></div>
                    </div>
                    <div class="row">
                        <!--  ************************* INFORMACION EMPRESA ******************************** -->
                        <div class="col" id="verticalLine">
                            <div class="d-flex justify-content-around ">
                                <label id="datosF">INFORMACIÓN GENERAL</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">RUC:</label>
                                <label>{{e.ruc}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Dirección:</label>
                                <label>{{e.direccion}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Teléfono:</label>
                                <label>{{e.telefono}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">E-mail:</label>
                                <label>{{e.correo_empresa}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Representante:</label>
                                <label>{{e.representante}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Tipo de empresa:</label>
                                <label>{{e.tipo_empresa}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Establecimientos:</label>
                                <label>{{e.establecimiento}}</label>
                            </div>
                            <div *ngIf="e.numero_partida != null && e.numero_partida != ''"
                                class="caja1 d-flex justify-content-start">
                                <label id="datosF">Número partida presupuestaria:</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="num">{{e.numero_partida}}</label>
                            </div>
                            <div style="text-align: right;">
                                <i id="editarF" (click)="EditarDatosEmpresa()" matSuffix matTooltipPosition="right"
                                    matTooltip="Modificar datos de este registro." class="fas fa-edit"
                                    *ngIf="getEditarInformacionGeneral()">
                                    <p>Editar</p>
                                </i>
                            </div>
                        </div>
                        <br>
                        <!--  ******************** INFORMACION AUTORIZACION SOLICITUDES ********************* -->
                        <div class="col" id="verticalLine">
                            <div class="d-flex justify-content-around text-center">
                                <label id="datosF">AUTORIZACIÓN SOLICITUDES</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start" *ngIf="!conCambios">
                                <label id="datosF">Hasta:</label>
                                <label>{{e.dias_cambio}} días antes de la fecha de solicitud.</label>
                            </div>
                            <div class="d-flex justify-content-around text-center" *ngIf="!cambiosTodos">
                                <label>Las solicitudes se autorizaran sin restricciones.</label>
                            </div>
                            <div class="d-flex justify-content-around text-center" *ngIf="!sinCambios">
                                <label>Las solicitudes se autorizaran sin restricciones.</label>
                            </div>
                            <br>
                            <!--  ************************* NIVELES DE SEGURIDAD ******************************** -->
                            <div class="d-flex justify-content-around text-center">
                                <label id="datosF">NIVEL DE SEGURIDAD</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Seguridad:</label>
                                <label *ngIf="e.seguridad_ninguna === true">Ninguna</label>
                                <label *ngIf="e.seguridad_frase === true">Usar una frase</label>
                                <label *ngIf="e.seguridad_contrasena === true">Usar contraseña</label>
                            </div>
                            <div class="d-flex justify-content-around text-center">
                                <button id="btn-raised" class="btn btn-sm" (click)="AbrirVentanaSeguridad(e)"
                                    *ngIf="getConfigurarNivelSeguridad()">
                                    Configurar seguridad
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!--  ********************** CONFIGURAR COLORES DE EMPRESA ************************ -->
                        <div class="col-md" id="verticalLine">
                            <div class="d-flex justify-content-around text-center">
                                <label id="datosF">COLORES EMPRESA</label>
                            </div>
                            <div class="row" style="padding-bottom: 15px;">
                                <div class="col-md">
                                    <div class="caja2 d-flex justify-content-start">
                                        <label id="datosF">Color principal:</label>
                                    </div>
                                    <div class="caja2 d-flex justify-content-center">
                                        <input type="color" value="{{p_color}}" [formControl]="principal" matSuffix
                                            matTooltip="Seleccionar color principal.">
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="caja2 d-flex justify-content-start">
                                        <label id="datosF">Color secundario:</label>
                                    </div>
                                    <div class="caja2 d-flex justify-content-center">
                                        <input type="color" value="{{s_color}}" [formControl]="secundario" matSuffix
                                            matTooltip="Seleccionar color secundario.">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around text-center">
                                <button id="btn-raised" class="btn btn-sm" (click)="GenerarPdf('open')"
                                    *ngIf="getConfigurarReportes()">Visualizar</button>
                                <button id="btn-raised" class="btn btn-sm" (click)="CambiarColores()"
                                    *ngIf="getConfigurarReportes()">Guardar</button>
                            </div>
                        </div>
                        <br>
                        <!--  ************************* REGISTRAR MARCA DE AGUA ***************************** -->
                        <div class="col-md" id="verticalLine">
                            <div class="d-flex justify-content-around text-center">
                                <label id="datosF">REPORTES</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Marca de agua:</label>
                                <label *ngIf="e.marca_agua === ''">Ninguna</label>
                                <label *ngIf="e.marca_agua != ''">{{e.marca_agua}}</label>
                            </div>
                            <div class="d-flex justify-content-around text-center">
                                <button id="btn-raised" class="btn btn-sm" (click)="AbrirVentanaReportes(e, 'frase')"
                                    *ngIf="getConfigurarReportes()">
                                    Configurar frase
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!--  ************************* TABLA LISTA DE ESTABLECIMIENTOS ******************************** -->
                <div class="container" style="padding-bottom: 50px; text-align: center; padding: 0%;">
                    <div class="mat-elevation-z8" style="background: white;">
                        <div class="row w-100 m-auto" id="titulo">
                            <div class="col-6 col-md-4 mb-2 mb-md-0 order-2 order-md-1">
                                <button type="submit" class="btn btn-outline-light btn-sm" style="float: left;"
                                    (click)="AbrirVentanaRegistrarSucursal()" *ngIf="getCrearSucursales()">
                                    Crear {{e.establecimiento}}
                                </button>
                            </div>
                            <div class="col-12 col-md-4 mb-2 mb-md-0 order-1 order-md-2 Tabla_titulo">
                                <h5>
                                    LISTA DE {{nombre_establecimiento.toUpperCase()}}
                                </h5>
                            </div>
                            <div class="col-6 col-md-4 mb-2 mb-md-0 order-2 order-md-3">
                                <button type="submit" class="btn btn-outline-light btn-sm" style="float: right;"
                                    (click)="ConfirmarDeleteMultiple()" *ngIf="getEliminarSucursales()">
                                    Eliminar {{e.establecimiento}}
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive table_horario">
                            <div class="table-wrapper">
                                <table class="table table-hover table-sm">
                                    <thead class="thead-light">
                                        <tr style="text-align: center;">
                                            <th>
                                                <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight"
                                                    matSuffix matTooltipPosition="right"
                                                    matTooltip="Dar clic para activar selección múltiple."
                                                    id="SelectCheck" (click)="HabilitarSeleccion()">
                                                    library_add_check
                                                </mat-icon>
                                                <mat-checkbox *ngIf="plan_multiple"
                                                    (change)="$event ? masterTogglePag() : null"
                                                    [checked]="selectionSucursales.hasValue() && isAllSelectedPag()"
                                                    [indeterminate]="selectionSucursales.hasValue() && !isAllSelectedPag()"
                                                    [aria-label]="checkboxLabelPag()">
                                                </mat-checkbox>
                                            </th>
                                            <th scope="col">{{nombre_establecimiento | titlecase}}</th>
                                            <th scope="col">Ciudad</th>
                                            <th scope="col" class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ds of datosSucursales | paginate:tamanio_pagina:numero_pagina">
                                            <td>
                                                <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                                    (change)="$event ? selectionSucursales.toggle(ds) : null"
                                                    [checked]="selectionSucursales.isSelected(ds)"
                                                    [aria-label]="checkboxLabelPag(ds)">
                                                </mat-checkbox>
                                            </td>
                                            <td>{{ds.nombre}}</td>
                                            <td>{{ds.descripcion}}</td>
                                            <td class="text-center">
                                                <i matSuffix matTooltipPosition="right"
                                                    matTooltip="Registrar departamentos." class="fa fa-building"
                                                    id="ver" (click)="VerDepartamentos(ds.id)"
                                                    *ngIf="getSucursalesDepartamento()">
                                                    <p>Departamento</p>
                                                </i>
                                                <i id="t-editar" (click)="AbrirVentanaEditarSucursal(ds)" matSuffix
                                                    matTooltipPosition="right"
                                                    matTooltip="Modificar datos de este registro." class="fas fa-edit"
                                                    *ngIf="getEditarSucursales()">
                                                    <p>Editar</p>
                                                </i>
                                                <i class="far fa-trash-alt" (click)="ConfirmarDelete(ds)"
                                                    id="t-eliminar" matSuffix matTooltipPosition="right"
                                                    matTooltip="Eliminar registro." *ngIf="getEliminarSucursales()">
                                                    <p>Eliminar</p>
                                                </i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <mat-paginator id="pagina" [length]="datosSucursales.length" [pageSize]="tamanio_pagina"
                            [pageSizeOptions]="pageSizeOptions" (page)="ManejarPagina($event)" showFirstLastButtons>
                        </mat-paginator>
                        <br>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>


<!--  *********************  EDITAR INFORMACION GENERAL DE EMPRESA  *************************  -->
<app-editar-empresa *ngIf="ver_editar" [idEmpresa]="idEmpresa"></app-editar-empresa>

<!--  ********************  VER DEPARTAMETOS DE SUCURSALES  ************************  -->
<app-ver-sucursal *ngIf="ver_departamentos" [idSucursal]="sucursal_id" [idDepartamentosAcceso]="idDepartamentosAcceso"
    [pagina_]="pagina"></app-ver-sucursal>