<div class="d-flex flex-wrap justify-content-around" style="margin: 0px 10px 0px 10px;">
    <mat-label class="tipo" for="tipoUsuario">Acciones:</mat-label>

    <div class="tipo" *ngFor="let a of acciones">
        <mat-checkbox class="rBoton" (click)="$event.stopPropagation()"
            (change)="$event ? selectionAcciones.toggle(a) : null" [checked]="selectionAcciones.isSelected(a)"
            [aria-label]="checkboxLabelPag(a)"><label> <ng-container *ngIf="a.nombre">
                    <ng-container [ngSwitch]="a.nombre">
                        <ng-container *ngSwitchCase="'I'">Insertar</ng-container>
                        <ng-container *ngSwitchCase="'U'">Actualizar</ng-container>
                        <ng-container *ngSwitchCase="'D'">Eliminar</ng-container>
                        <ng-container *ngSwitchDefault>{{ a.nombre }}</ng-container>
                    </ng-container>
                </ng-container>
            </label>
        </mat-checkbox>
    </div>
</div>