.btn {
    background-color: rgb(80, 87, 97);
    color: white;
}

table {
    width: 100%;
    font-size: 14px;
}

th {
    padding-top: 10px;
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
}

mat-form-field {
    padding: 10px 10px 0px 10px;
}

.entrada {
    width: 70px;
    font-size: 12px;
    text-align: center;
    background-color: beige;
}

.contenedor {
    display: grid;
    grid-template-columns: 140px 140px 140px 140px 140px 140px 140px;
    grid-auto-rows: minmax(150px, auto);
    margin-left: 15px;
}

.bordes {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    vertical-align: middle;
    background-color: rgb(233, 236, 239);
    font-size: 14px;
}

.fuente {
    font-size: 13px;
}

.fuente_feriado {
    font-size: 13px;
    color: red;
}

#seleccionar {
    color: rgb(52, 65, 84);
    cursor: pointer;
    margin-right: 2%;
}

#seleccionar_ {
    color: rgb(52, 65, 84);
    font-size: 20px;
}

#table_acciones {
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
}

#table_definiciones {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

#td_horarios {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

p {
    margin-top: 1%;
    font-size: x-small;
    font-weight: bold;
}

#libre {
    color: rgb(141, 64, 16);
    cursor: pointer;
    margin-right: 2%;
    font-size: 18px;
}

#libre_eliminar {
    color: rgb(225, 34, 34);
    cursor: pointer;
    margin-right: 2%;
    font-size: 18px;
}

#libre_ {
    color: rgb(141, 64, 16);
    cursor: pointer;
    font-size: 14px;
}

#libre_eliminar_ {
    color: rgb(225, 34, 34);
    cursor: pointer;
    font-size: 14px;
}