<!--
<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        REGISTRAR HORARIO</span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarVentanaPlanHorario()">highlight_off</mat-icon>
</div> -->
<!-- Formulario Completo -->
<!--
    <form [formGroup]="PlanHorarioForm">
    <mat-card-content>
        <div class="container" style="text-align: center;">
            <div class="nota">
                <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                    Guardar.</span>
            </div>
            <div class="d-flex flex-wrap justify-content-around">
                <mat-form-field>
                    <mat-label id="fec">Fecha inicio de actividades</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" [formControl]="fechaIngresoF"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="picker" matSuffix id="i-cursor" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Ingresar la fecha de inicio de actividades. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                    </mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label id="fec">Fecha fin de actividades</mat-label>
                    <input matInput [matDatepicker]="picker2" placeholder="dd/mm/aaaa" [formControl]="fechaSalidaF"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="picker2" matSuffix id="i-cursor" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Ingresar la fecha de finalización de actividades. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                    </mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</form>
<div class="d-flex flex-wrap justify-content-center" style="padding-top: 2%; margin-bottom: 2%;">
    <button id="btn-raised"  class="btn btn-sm" [disabled]="!PlanHorarioForm.valid"
        (click)="ValidarDatosPlanHorario(PlanHorarioForm.value)" value="Guardar">Guardar</button>
</div>
-->
<div class="container" style="padding-top: 15px; padding-bottom: 25px;">

    <div id="titulo">
        <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
            REGISTRAR HORARIO
        </span>
        <mat-icon class="float-right" id="cerrar">highlight_off</mat-icon>
    </div>

    <mat-card class="mat-elevation-z8">
        <div class="table-responsive" style="padding-top: 15px;">
            <table class="table table-hover table-sm">




                <thead class="thead-light">




                    <tr>




                        <th>Nombre</th>




                        <th>Edad</th>




                        <th>País</th>



                        <th>Acciones</th>






                    </tr>




                </thead>




                <tbody>




                    <tr *ngFor="let persona of personas; let i = index">




                        <td>




                            <input type="text" [(ngModel)]="persona.nombre" [disabled]="!persona.editando" />



                        </td>




                        <td>



                            <input type="number" [(ngModel)]="persona.edad" [disabled]="!persona.editando" />




                        </td>




                        <td>

                            <input type="text" [(ngModel)]="persona.pais" [disabled]="!persona.editando" />


                        </td>


                        <td>


                            <button (click)="editarPersona(i)" [disabled]="persona.editando">Editar</button>




                            <button (click)="guardarCambios(i)" [disabled]="!persona.editando">Guardar</button>




                        </td>



                    </tr>




                </tbody>


            </table>
        </div>
        <button (click)="agregarFila()">Agregar fila</button>

        <br>


    </mat-card>
</div>