<div id="titulo">
    <span>
        HABILITAR NOTIFICACIONES
    </span>
</div>
<mat-card class="example-card mat-elevation-z9">
    <form class="example-form" [formGroup]="formGroup" ngNativeValidate>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 m-auto p-0" style="align-content: center;">
                <div class="d-flex flex-wrap justify-content-center" style="margin-left: 4%;">
                    <div class="caja">
                        <p>COMUNICADOS</p>
                        <div class="row">
                            <div class="col-md">
                                <span id="fuente">CORREO</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="comunicadoMail">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-md">
                                <span id="fuente">NOTIFICACIONES</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="comunicadoNoti">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                    <div class="caja">
                        <p>ATRASOS</p>
                        <div class="row">
                            <div class="col-md">
                                <span id="fuente">CORREO</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="atrasosMail">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-md">
                                <span id="fuente">NOTIFICACIONES</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="atrasosNoti">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                    <div class="caja">
                        <p>FALTAS</p>
                        <div class="row">
                            <div class="col-md">
                                <span id="fuente">CORREO</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="faltasMail">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-md">
                                <span id="fuente">NOTIFICACIONES</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="faltasNoti">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="caja">
                        <p>SALIDAS ANTICIPADAS</p>
                        <div class="row">
                            <div class="col-md">
                                <span id="fuente">CORREO</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="salidasAnticipadasMail">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-md">
                                <span id="fuente">NOTIFICACIONES</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="salidasAnticipadasNoti">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 m-auto mt-4" *ngIf="ver_modulos">
                <div class="d-flex flex-wrap justify-content-center" style="margin-left: 4%;">
                    <div class="caja" *ngIf="habilitarPermisos">
                        <p>PERMISOS</p>
                        <div class="row">
                            <div class="col-md">
                                <span id="fuente">CORREO</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="permisoMail">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-md">
                                <span id="fuente">NOTIFICACIONES</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="permisoNoti">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                    <div class="caja" *ngIf="habilitarVacaciones">
                        <p>VACACIONES</p>
                        <div class="row">
                            <div class="col-md">
                                <span id="fuente">CORREO</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="vacaMail">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-md">
                                <span id="fuente">NOTIFICACIONES</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="vacaNoti">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                    <div class="caja" *ngIf="habilitarHorasExtras">
                        <p>HORAS EXTRAS</p>
                        <div class="row">
                            <div class="col-md">
                                <span id="fuente">CORREO</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="horaExtraMail">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-md">
                                <span id="fuente">NOTIFICACIONES</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="horaExtraNoti">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                    <div class="caja" *ngIf="habilitarAlimentacion">
                        <p>ALIMENTACIÓN</p>
                        <div class="row">
                            <div class="col-md">
                                <span id="fuente">CORREO</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="comidaMail">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-md">
                                <span id="fuente">NOTIFICACIONES</span>
                                <mat-radio-group class="d-flex flex-wrap justify-content-start"
                                    formControlName="comidaNoti">
                                    <mat-radio-button class="example-radio-button" [value]="true">
                                        <label id="textoradiobtn">Si</label>
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="false">
                                        <label id="textoradiobtn">No</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-around">
        <button id="btn-raised" class="btn btn-sm" cdkFocusInitial (click)="ActualizarConfiguracion(formGroup.value)">
            Guardar
        </button>
        <button id="btn-raised" class="btn btn-sm" (click)="CerrarVentana(false)">Cancelar</button>
    </div>
    <br>
</mat-card>