<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 15px;">
    <div class="row">
        <div class="col-md">
            <div id="titulo" class="Tabla_titulo">
                <span>ACCIONES DE GRUPO OCUPACIONAL</span>
            </div>
            <mat-card class="example-card mat-elevation-z8">
                <div class="d-flex justify-content-around" style="margin-top: 1%; margin-bottom: 2%;">
                    <button id="btn-raised" class="btn btn-sm" (click)="AbrirVentanaRegistrarGrupo()">
                        Crear proceso
                    </button>
                    <button id="btn-raised" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                        Mostrar lista
                    </button>
                </div>
            </mat-card>
        </div>
        <div class="col-md">
            <div id="titulo">
                <span>CARGAR PLANTILLA DE GRUPO OCUPACIONAL</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="row">
                    
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resultados">LISTA DE GRUPO OCUPACIONAL</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Grupo</th>
                        <th scope="col">Numero partida</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" (keypress)="IngresarSoloLetras($event)"
                                    [formControl]="buscarNombre">
                            </mat-form-field>
                        </td>
                        <td></td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda del proceso de acuerdo a las columnas de la tabla.">
                                help_outline</mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let grupo of ListGrupoOcupacional | filtrosNombres:buscarNombre.value | paginate:tamanio_pagina:numero_pagina">
                        <td>{{grupo.descripcion}}</td>
                        <td>{{grupo.numero_partida}}</td>
                        <td>
                            <i class="fas fa-edit" (click)="AbrirVentanaEditar(grupo)" id="accion" matSuffix
                                matTooltipPosition="right" matTooltip="Modificar los datos generales del registro.">
                                <p>Editar</p>
                            </i>
                            <i class="far fa-trash-alt" (click)="ConfirmarDelete(grupo)" id="t-eliminar" matSuffix
                                matTooltipPosition="right" matTooltip="Eliminar registro.">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="ListGrupoOcupacional.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 10px">
            <i (click)="GenerarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Procesos de Acciones de Personal en formato PDF.">
                <p>PDF</p>
            </i>
            <i (click)="exportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Procesos de Acciones de Personal en formato EXCEL.">
                <p>XLSL</p>
            </i>
            <i (click)="exportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Procesos de Acciones de Personal en formato CSV.">
                <p>CSV</p>
            </i>
            <i (click)="exportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Procesos de Acciones de Personal en formato XML.">
                <p>XML</p>
            </i>
        </div>
        <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: -1%; color: rgb(158, 154, 154);">
            <p> Reporte de procesos. </p>
        </div>
    </div>
</div>
