<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 15px;">
    <div class="row">
        <div class="col-md">
            <div id="titulo" class="Tabla_titulo">
                <span>ACCIONES DE GRUPO OCUPACIONAL</span>
            </div>
            <mat-card class="example-card mat-elevation-z8">
                <div class="d-flex justify-content-around" style="margin-top: 1%; margin-bottom: 2%;">
                    <button id="btn-raised" class="btn btn-sm" (click)="AbrirVentanaRegistrarGrupo()">
                        Crear proceso
                    </button>
                    <button id="btn-raised" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                        Mostrar lista
                    </button>
                </div>
            </mat-card>
        </div>
        <div class="col-md">
            <div id="titulo">
                <span>CARGAR PLANTILLA DE GRUPO OCUPACIONAL</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="row">
                    
                </div>
            </mat-card>
        </div>
    </div>
</div>
