<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 15px;">
    <div class="row">
        <div class="col-md">
            <div id="titulo" class="Tabla_titulo">
                <span>ACCIONES DE GRUPO OCUPACIONAL</span>
            </div>
            <mat-card class="example-card mat-elevation-z8">
                <div class="d-flex justify-content-around" style="margin-top: 1%; margin-bottom: 2%;">
                    <button id="btn-raised" class="btn btn-sm" (click)="AbrirVentanaRegistrarGrupo()">
                        Crear proceso
                    </button>
                    <button id="btn-raised" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                        Mostrar lista
                    </button>
                </div>
            </mat-card>
        </div>
        <div class="col-md">
            <div id="titulo">
                <span>CARGAR PLANTILLA DE GRUPO OCUPACIONAL</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="row">
                    <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                        <div class="d-flex flex-wrap justify-content-around"
                            style="text-align: center; justify-content: center;">
                            <form method="post" class="btn-2" enctype="multipart/form-data">
                                <input (change)="FileChange($event)" type="file"
                                    [formControl]="archivoForm" id="file1"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                <label for="file1" matSuffix matTooltipPosition="right" *ngIf="!mostrarbtnsubir"
                                    style="height: 65px; padding-top: 25px;"
                                    matTooltip="Presionar para seleccionar Plantilla con nombre plantillaConfiguracionGeneral.">
                                    Subir plantilla
                                </label>
                                <label for="file1" matSuffix matTooltipPosition="right" 
                                    *ngIf="mostrarbtnsubir && messajeExcel != 'error'"
                                    style="height: 65px;  padding-top: 25px;"
                                    matTooltip="Presionar para seleccionar Plantilla con nombre plantillaConfiguracionGeneral.">
                                    Subir nueva plantilla
                                </label>
                            </form>
                        </div>

                    </div>
                    <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                        <div *ngIf="!Datos_gruposOcupacional" class="d-flex flex-wrap justify-content-center m-auto"
                            style="text-align: center; justify-content: center;">
                            <a type="submit" id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                                matTooltip="Dar click para ver o descargar el documento."
                                href="{{hipervinculo}}/plantillaD/documento/plantillaConfiguracionGeneral.xlsx">
                                <br> Descargar plantilla
                            </a>
                        </div>
                        <div  class="d-flex flex-wrap justify-content-center m-auto">
                            <button *ngIf="Datos_gruposOcupacional && messajeExcel != 'error'" id="descargar" 
                                class="btn m-auto" matSuffix matTooltipPosition="right"
                                matTooltip="Guardar registro multiple." (click)="ConfirmarRegistroMultiple()">
                                Registrar
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="!Datos_gruposOcupacional">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resultados">LISTA DE GRUPO OCUPACIONAL</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Grupo</th>
                        <th scope="col">Numero partida</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" (keypress)="IngresarSoloLetras($event)"
                                    [formControl]="buscarNombre">
                            </mat-form-field>
                        </td>
                        <td></td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda del proceso de acuerdo a las columnas de la tabla.">
                                help_outline</mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let grupo of ListGrupoOcupacional | filtrosNombres:buscarNombre.value | paginate:tamanio_pagina:numero_pagina">
                        <td>{{grupo.descripcion}}</td>
                        <td>{{grupo.numero_partida}}</td>
                        <td>
                            <i class="fas fa-edit" (click)="AbrirVentanaEditar(grupo)" id="accion" matSuffix
                                matTooltipPosition="right" matTooltip="Modificar los datos generales del registro.">
                                <p>Editar</p>
                            </i>
                            <i class="far fa-trash-alt" (click)="ConfirmarDelete(grupo)" id="t-eliminar" matSuffix
                                matTooltipPosition="right" matTooltip="Eliminar registro.">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="ListGrupoOcupacional.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 10px">
            <i (click)="GenerarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Procesos de Acciones de Personal en formato PDF.">
                <p>PDF</p>
            </i>
            <i (click)="exportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Procesos de Acciones de Personal en formato EXCEL.">
                <p>XLSL</p>
            </i>
            <i (click)="exportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Procesos de Acciones de Personal en formato CSV.">
                <p>CSV</p>
            </i>
            <i (click)="exportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Procesos de Acciones de Personal en formato XML.">
                <p>XML</p>
            </i>
        </div>
        <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: -1%; color: rgb(158, 154, 154);">
            <p> Reporte de procesos. </p>
        </div>
    </div>
</div>

<!--  **********************************  INFORMACION DE LAS OBSERVACIONES DEL REGISTRO MULTIPLE ***************************************** -->
<div class="container" style="padding-top: 10px; margin-bottom: 25px;"
    *ngIf="Datos_gruposOcupacional && messajeExcel != 'error'">
    <app-definicion-plantilla>
    </app-definicion-plantilla>
</div>

<!------------------ TABLA DE DATOS DE LA CARGA MULTIPLE DE MODALIDAD LABORAL ------------------------------------------------->
<div class="container" style="padding-bottom: 10px; margin-bottom: 35px;"
    *ngIf="Datos_gruposOcupacional && messajeExcel != 'error'">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="titulo">REGISTRO MULTIPLE</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center; font-size: 13px;">
                        <th scope="col">Item</th>
                        <th scope="col">Observación</th>
                        <th scope="col">Grupo Ocupacional</th>
                        <th scope="col">Numero partida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let gra of Datos_gruposOcupacional | paginate:tamanio_paginaMul:numero_paginaMul; let i = index">
                        <td id="letras" style="font-size: 12px; padding-left: 3px; width: 50px;" align="center">
                            {{gra.fila}}</td>
                        <td style="font-size: 12px;" class="td_ob">
                            <div style="width: 270px; margin: auto;">
                                <div id="t-editar" class="circulo"
                                    [style.background-color]="EstiloCelda(gra.observacion)"></div>
                                {{gra.observacion}}
                            </div>
                        </td>
                        <td [style.color]="EstiloTextoCelda(gra.descripcion)" style="font-size: 12px;">
                            {{gra.descripcion}}
                        </td>
                        <td [style.color]="EstiloTextoCelda(gra.numero_partida)" style="font-size: 12px;">
                            {{gra.numero_partida}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-2">
                <div class="contenedorTotal" matTooltip="Número de datos que se van a cargar en el sistema.">
                    <div id="t-editar" class="circulo circuloTotal"></div>
                    <div>{{listaGrupoOcupaciCorrectasCont}}</div>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <mat-paginator [length]="Datos_gruposOcupacional.length" [pageSize]="tamanio_paginaMul"
                    [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPaginaMulti($event)"
                    showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
