# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
javascript/
#database no debe ser modificada
#/src/database.ts

#Archivo licencias
#/licencia.conf.json