<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 15px;">
    <div class="row">
        <div class="col-md">
            <div id="titulo" class="Tabla_titulo">
                <span>ACCIONES DE PERSONAL PROCESOS</span>
            </div>
            <mat-card class="example-card mat-elevation-z8">
                <div class="d-flex justify-content-around" style="margin-top: 1%; margin-bottom: 2%;">
                    <button id="btn-raised" class="btn btn-sm" (click)="AbrirVentanaRegistrarProceso()">
                        Crear proceso
                    </button>
                    <button id="btn-raised" class="btn btn-sm" (click)="LimpiarCampoBuscar()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                        Mostrar lista
                    </button>
                </div>
            </mat-card>
        </div>
        <div class="col-md">
            <div id="titulo">
                <span>CARGAR PLANTILLA DE ACCION DE PERSONAL PROCESOS</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="row">
                    <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                        <div class="d-flex flex-wrap justify-content-around"
                            style="text-align: center; justify-content: center;">
                            <form method="post" class="btn-2" enctype="multipart/form-data">
                                <input (change)="FileChange($event)" type="file"
                                    [formControl]="archivoForm" id="file1"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                <label for="file1" matSuffix matTooltipPosition="right" *ngIf="!mostrarbtnsubir"
                                    style="height: 65px; padding-top: 25px;"
                                    matTooltip="Presionar para seleccionar Plantilla con nombre plantillaConfiguracionGeneral.">
                                    Subir plantilla
                                </label>
                                <label for="file1" matSuffix matTooltipPosition="right" 
                                    *ngIf="mostrarbtnsubir && messajeExcel != 'error'"
                                    style="height: 65px;  padding-top: 25px;"
                                    matTooltip="Presionar para seleccionar Plantilla con nombre plantillaConfiguracionGeneral.">
                                    Subir nueva plantilla
                                </label>
                            </form>
                        </div>

                    </div>
                    <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                        <div *ngIf="!Datos_procesos" class="d-flex flex-wrap justify-content-center m-auto"
                            style="text-align: center; justify-content: center;">
                            <a type="submit" id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                                matTooltip="Dar click para ver o descargar el documento."
                                href="{{hipervinculo}}/plantillaD/documento/plantillaConfiguracionGeneral.xlsx">
                                <br> Descargar plantilla
                            </a>
                        </div>
                        <div  class="d-flex flex-wrap justify-content-center m-auto">
                            <button *ngIf="Datos_procesos && messajeExcel != 'error'" id="descargar" 
                                class="btn m-auto" matSuffix matTooltipPosition="right"
                                matTooltip="Guardar registro multiple." (click)="ConfirmarRegistroMultiple()">
                                Registrar
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="!Datos_procesos">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resultados">LISTA DE PROCESOS</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Nombre</th>
                        
                        <th scope="col">Proceso superior</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" (keypress)="IngresarSoloLetras($event)"
                                    [formControl]="buscarNombre">
                            </mat-form-field>
                        </td>
                        <td></td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" (keypress)="IngresarSoloLetras($event)"
                                    [formControl]="buscarPadre">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda del proceso de acuerdo a las columnas de la tabla.">
                                help_outline</mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let proceso of procesos | filtrosNombres:buscarNombre.value | padre:buscarPadre.value | paginate:tamanio_pagina:numero_pagina">
                        <td>{{proceso.nombre}}</td>
                        
                        <td>{{proceso.proc_padre}}</td>
                        <td>
                            <i class="fas fa-edit" (click)="AbrirVentanaEditar(proceso)" id="accion" matSuffix
                                matTooltipPosition="right" matTooltip="Modificar los datos generales del registro.">
                                <p>Editar</p>
                            </i>
                            <i class="far fa-trash-alt" (click)="ConfirmarDelete(proceso)" id="t-eliminar" matSuffix
                                matTooltipPosition="right" matTooltip="Eliminar registro.">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="procesos.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 10px">
            <i (click)="GenerarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Procesos de Acciones de Personal en formato PDF.">
                <p>PDF</p>
            </i>
            <i (click)="exportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Procesos de Acciones de Personal en formato EXCEL.">
                <p>XLSL</p>
            </i>
            <i (click)="exportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Procesos de Acciones de Personal en formato CSV.">
                <p>CSV</p>
            </i>
            <i (click)="exportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Procesos de Acciones de Personal en formato XML.">
                <p>XML</p>
            </i>
        </div>
        <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: -1%; color: rgb(158, 154, 154);">
            <p> Reporte de procesos. </p>
        </div>
    </div>
</div>

<!--  **********************************  INFORMACION DE LAS OBSERVACIONES DEL REGISTRO MULTIPLE ***************************************** -->
<div class="container" style="padding-top: 10px; margin-bottom: 25px;"
    *ngIf="Datos_procesos && messajeExcel != 'error'">
    <app-definicion-plantilla>
    </app-definicion-plantilla>
</div>

<!------------------ TABLA DE DATOS DE LA CARGA MULTIPLE DE MODALIDAD LABORAL ------------------------------------------------->
<div class="container" style="padding-bottom: 10px; margin-bottom: 35px;"
    *ngIf="Datos_procesos && messajeExcel != 'error'">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="titulo">REGISTRO MULTIPLE</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center; font-size: 13px;">
                        <th scope="col">Item</th>
                        <th scope="col">Observación</th>
                        <th scope="col">Proceso</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Proceso padre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let pro of Datos_procesos | paginate:tamanio_paginaMul:numero_paginaMul; let i = index">
                        <td id="letras" style="font-size: 12px; padding-left: 3px; width: 50px;" align="center">
                            {{pro.fila}}</td>
                        <td style="font-size: 12px;" class="td_ob">
                            <div style="width: 270px; margin: auto;">
                                <div id="t-editar" class="circulo"
                                    [style.background-color]="EstiloCelda(pro.observacion)"></div>
                                {{pro.observacion}}
                            </div>
                        </td>
                        <td [style.color]="EstiloTextoCelda(pro.proceso)" style="font-size: 12px;">
                            {{pro.proceso}}
                        </td>
                        <td [style.color]="EstiloTextoCelda(pro.nivel)" style="font-size: 12px;">
                            {{pro.nivel}}
                        </td>
                        <td [style.color]="EstiloTextoCelda(pro.proceso_padre)" style="font-size: 12px;">
                            {{pro.proceso_padre}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-2">
                <div class="contenedorTotal" matTooltip="Número de datos que se van a cargar en el sistema.">
                    <div id="t-editar" class="circulo circuloTotal"></div>
                    <div>{{listaProcesosCorrectas}}</div>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <mat-paginator [length]="Datos_procesos.length" [pageSize]="tamanio_paginaMul"
                    [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPaginaMulti($event)"
                    showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

