<div id="resultados">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        Editar Timbre</span>
    <mat-icon class="float-right" id="cerrar" (click)="ventana.close()">highlight_off</mat-icon>
</div>
<div class="container">
    <div class="nota" style="text-align: center !important;">
        <span>NOTA: Por favor revisar bien los datos que se van a cambiar.</span>
    </div>
    <form [formGroup]="EditartimbreForm">
        <div class="row">
            <div class="col-md-4" style="text-align: center !important;">
                <i class="fas fa-solid fa-user-clock"
                    matSuffix matTooltipPosition="left"
                    matTooltip="Ver timbre."
                    style="font-size: 120px; color: rgb(10, 62, 110);">
                </i>
                <br><b>
                ID RELOJ: {{datosTimbre.id_reloj}}
                </b>
            </div>
            <div class="col-md-8" style="text-align: center !important;">
                <div class="row">
                    <div class="col" style="text-align: left !important;">
                        <label><i id="ver" class="fas fa-solid fa-user"></i>  {{datosTimbre.empleado}}</label>
                    </div>
                    <div class="col" style="text-align: left !important;">
                        <label style="float: right;"><i id="ver" class="fas fa-solid fa-clock"></i> {{datosTimbre.fec_hora_timbre | date:'yyyy-MM-dd hh-mm-ss' }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: left !important;">
                        <mat-form-field class="tecla_accion">
                            <mat-label>Acción timbre</mat-label>
                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right" matTooltip="Acciónes de la marcación.">
                                help_outline</mat-icon>
                            <mat-select formControlName="accionTimbre"
                                [(value)]="seleccion" 
                                (selectionChange)="SelectedAccion($event)">
                                <mat-option *ngFor="let accion of acciones" [value]="accion.item">
                                    {{accion.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col" style="text-align: left !important;">
                        <mat-form-field class="tecla_funcion">
                            <mat-label>Tecla funcion</mat-label>
                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right" matTooltip="Acciónes de la marcación.">
                                help_outline</mat-icon>
                            <mat-select formControlName="teclaFunTimbre"
                                [(value)]="SeleccionTecla"
                                (selectionChange)="SelectedTecla($event)"                   
                                >
                                <mat-option *ngFor="let teclaFun of tecl_funcio" [value]="teclaFun.value">
                                    {{teclaFun.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: left !important;">
                        <textarea style="width: 100%;" formControlName="ObservacionForm" name="textareaValue" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </form>
</div>
<div class="d-flex flex-wrap justify-content-center" style="padding-top: 1%; margin-bottom: 2%;">
    <button mat-raised-button id="btn-raised" type="submit" (click)="EnviarDatosTimbre(EditartimbreForm.value)">Guardar</button>
</div>
