<br>
<mat-tab-group>

    <!-- PANTALLA DE CONFIGURACION DE MENSAJES DE CUMPLEAÑOS -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" id="icono_pestaña">cake</mat-icon>
            <h6 id="items">&nbsp; Mensaje de Cumpleaños</h6>
        </ng-template>

        <app-ver-birthday>
        </app-ver-birthday>

    </mat-tab>

    <!-- PANTALLA DE CONFIGURACION DE MENSAJES DE ANIVERSARIO -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" id="icono_pestaña">card_giftcard</mat-icon>
            <h6 id="items">&nbsp; Mensaje de Aniversario</h6>
        </ng-template>

        <app-ver-aniversario>
        </app-ver-aniversario>

    </mat-tab>

</mat-tab-group>