<div class="footer">
    <div class="d-flex justify-content-between ">
        <span class="foo align-self-center">
            Desarollado por:
            <a href="https://casapazmino.com.ec/" target="_blank" rel="noopener" style="color: white;">
                Casa Pazmiño S.A
            </a>
        </span>
        <img class="foo1 align-self-center" alt="Logo Casa Pazmiño"
            src="../../../../assets/imagenes/logo/logo_footer-145x60.png" srcset="../../../../assets/imagenes/logo/logo_footer-290x120.png 2x, 
            ../../../../assets/imagenes/logo/logo_footer-435x180.png 3x" />
    </div>
</div>