<!--  ********************  VER LISTA DE SUCURSALES  ************************  -->
<div *ngIf="ver_lista">
    <div class="container" style="padding-bottom: 10px; padding-top: 20px;">
        <div class="row">
            <div class="col-12 col-md-6">
                <div id="titulo">
                    <span>ESTABLECIMIENTOS</span>
                </div>
                <mat-card class="example-card mat-elevation-z9">
                    <div class="d-flex flex-wrap justify-content-center" style="margin-top: 1%; margin-bottom: 2%;">
                        <button *ngIf="!Datasucursales && getCrearEstablecimiento()" id="btn-raised" class="btn btn-sm"
                            (click)="AbrirVentanaRegistrar()">
                            Crear establecimiento
                        </button>
                        <button id="btn-raised" class="btn btn-sm" (click)="LimpiarCampoBuscar()" matSuffix
                            matTooltipPosition="right"
                            matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                            Mostrar lista
                        </button>
                    </div>
                </mat-card>
            </div>
            <!--  *********************************  REGISTRO MULTIPLE DE ESTABLECIMIENTOS  *****************************  -->
            <div class="col-12 col-md-6">
                <div id="titulo">
                    <span>REGISTRO MULTIPLE</span>
                </div>
                <mat-card class="example-card mat-elevation-z9">
                    <div class="row m-auto" *ngIf="getPlantillaEstablecimiento()">
                        <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                            <form method="post" class="btn-2" enctype="multipart/form-data">
                                <input type="file" (change)="FileChange($event)" [formControl]="archivoForm" id="file"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                <label for="file" matSuffix matTooltipPosition="right" *ngIf="!mostrarbtnsubir"
                                    style="height: 65px; padding-top: 25px;"
                                    matTooltip="Presionar para seleccionar Plantilla con nombre plantillaConfiguracionGeneral.">
                                    Subir plantilla
                                </label>
                                <label for="file" matSuffix matTooltipPosition="right"
                                    *ngIf="mostrarbtnsubir && messajeExcel != 'error'"
                                    style="height: 65px; padding-top: 25px;"
                                    matTooltip="Presionar para seleccionar Plantilla con nombre plantillaConfiguracionGeneral.">
                                    Subir nueva plantilla
                                </label>
                            </form>
                        </div>
                        <div class="col-12 col-md-auto m-auto w-auto" style="padding-top: 5px; padding-bottom: 5px;">
                            <div *ngIf="!Datasucursales" class="d-flex flex-wrap justify-content-around"
                                style="text-align: center; justify-content: center;">
                                <a id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                                    matTooltip="Dar click para ver o descargar el documento."
                                    href="{{hipervinculo}}/plantillaD/documento/plantillaConfiguracionGeneral.xlsx">
                                    <br>
                                    Descargar plantilla
                                </a>
                            </div>
                            <div class="d-flex flex-wrap justify-content-center m-auto w-auto">
                                <button *ngIf="Datasucursales && messajeExcel != 'error'" id="descargar"
                                    class="btn btn-sm" (click)="ConfirmarRegistroMultiple()" matSuffix
                                    matTooltipPosition="right" matTooltip="Guardar registro múltiple.">
                                    Registrar
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <!-- *******************************  LISTA DE ESTABLECIMIENTOS  ***************************************** -->
    <div class="container" style="padding-top: 15px; padding-bottom: 50px; text-align: center;" *ngIf="!Datasucursales">
        <div class="mat-elevation-z8" style="background: white;">
            <div id="titulo" class="row w-100 m-auto">
                <div class="col-12 col-md-2 mb-2 mb-md-0 order-2 order-md-2">  
                </div>
                <div class="col-12 col-md-8 mb-2 mb-md-0 order-1 order-md-2 Tabla_titulo">
                    <span>
                        RESULTADO DE BÚSQUEDA
                    </span>
                </div>
                <div class="col-12 col-md-2 mb-2 mb-md-0 order-3 order-md-2">
                    <button type="submit" class="btn btn-outline-light btn-sm btn_eliminar" style="margin-top: -3px;"
                        (click)="ConfirmarDeleteMultiple()" *ngIf="getEliminarEstablecimiento()">
                        Eliminar
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-sm ">
                    <thead class="thead-light">
                        <tr style="text-align: center;">
                            <th>
                                <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                    matTooltipPosition="right" matTooltip="Dar clic para activar selección múltiple."
                                    id="SelectCheck" (click)="HabilitarSeleccion()">
                                    library_add_check
                                </mat-icon>
                                <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterTogglePag() : null"
                                    [checked]="selectionSucursales.hasValue() && isAllSelectedPag()"
                                    [indeterminate]="selectionSucursales.hasValue() && !isAllSelectedPag()"
                                    [aria-label]="checkboxLabelPag()">
                                </mat-checkbox>
                            </th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Sucursal</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <mat-form-field id="t-inputs">
                                    <input matInput placeholder="Buscar" (keypress)="IngresarSoloLetras($event)"
                                        [formControl]="buscarCiudad">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field id="t-inputs">
                                    <input matInput placeholder="Buscar" [formControl]="buscarNombre">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de establecimientos de acuerdo a la columna de la tabla.">
                                    help_outline
                                </mat-icon>
                            </td>
                        </tr>
                        <tr
                            *ngFor="let s of sucursales | sucCiudad: buscarCiudad.value | sucNombre: buscarNombre.value | paginate: tamanio_pagina: numero_pagina">
                            <td>
                                <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                    (change)="$event ? selectionSucursales.toggle(s) : null"
                                    [checked]="selectionSucursales.isSelected(s)" [aria-label]="checkboxLabelPag(s)">
                                </mat-checkbox>
                            </td>
                            <td>{{s.descripcion}}</td>
                            <td>{{s.nombre}}</td>
                            <td class="justify-content-center">
                                <i matSuffix matTooltipPosition="right"
                                    matTooltip="Ver lista de departamentos del establecimiento." class="fa fa-building"
                                    id="ver" (click)="VerDepartamentos(s.id)" *ngIf="getVerDepartamento()">
                                    <p>Departamento</p>
                                </i>
                                <i id="t-editar" class="fas fa-edit" (click)="AbrirVentanaEditar(s)" matSuffix
                                    matTooltipPosition="right"
                                    matTooltip="Modificar los datos generales de este registro." *ngIf="getEditarEstablecimiento()">
                                    <p>Editar</p>
                                </i>
                                <i (click)="ConfirmarDelete(s)" id="t-eliminar" class="far fa-trash-alt" matSuffix
                                    matTooltipPosition="right" matTooltip="Eliminar este registro." *ngIf="getEliminarEstablecimiento()">
                                    <p>Eliminar</p>
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
                id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
            </mat-paginator>
            <!--  *************************  DESCARGAR REPORTES  *****************************  -->
            <div>
                <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 10px;">
                    <i (click)="generarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix
                        matTooltipPosition="right" matTooltip="Descargar Lista de Sucursales en formato PDF.">
                        <p>PDF</p>
                    </i>
                    <i (click)="exportToExcel()" id="excel" class="fas fa-file-excel" matSuffix
                        matTooltipPosition="right" matTooltip="Descargar Lista de Sucursales en formato EXCEL.">
                        <p>XLSL</p>
                    </i>
                    <i (click)="exportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                        matTooltip="Descargar Lista de Sucursales en formato CSV.">
                        <p>CSV</p>
                    </i>
                    <i (click)="exportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                        matTooltip="Descargar Lista de Sucursales en formato XML.">
                        <p>XML</p>
                    </i>
                </div>
                <div class="d-flex justify-content-end"
                    style="margin-right: 2%; margin-top: -1%; color: rgb(158, 154, 154);">
                    <p> Reporte de establecimientos. </p>
                </div>
            </div>
        </div>
    </div>

    <!-- ******************************* INFORMACION DE LAS OBSERVACIONES DEL REGISTRO MULTIPLE  ***************************************** -->
    <div class="container" style="padding-top: 10px; margin-bottom: 25px;"
        *ngIf="Datasucursales && messajeExcel != 'error'">
        <app-definicion-plantilla>
        </app-definicion-plantilla>
    </div>

    <!-- ******************************* TABLA DE DATOS DE LA CARGA MULTIPLE  ***************************************** -->
    <div class="container" style="padding-bottom: 50px; text-align: center;"
        *ngIf="Datasucursales && messajeExcel != 'error'">
        <div class="mat-elevation-z8" style="background: white;">
            <div id="resultados">
                REGISTRO MULTIPLE
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-sm ">
                    <thead class="thead-light">
                        <tr style="text-align: center;">
                            <th scope="col">Item</th>
                            <th scope="col">Observación</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Sucursal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of Datasucursales | paginate:tamanio_paginaMul:numero_paginaMul; let i = index">
                            <td style="width: 50px;" align="center">{{data.fila}}</td>
                            <td>
                                <div style="width: 250px; margin: auto;">
                                    <div id="t-editar" class="circulo"
                                        [style.background-color]="EstiloCelda(data.observacion)">
                                    </div>
                                    {{ data.observacion}}
                                </div>
                            </td>
                            <td [style.color]="EstiloTextoCelda(data.ciudad)">{{ data.ciudad}}</td>
                            <td [style.color]="EstiloTextoCelda(data.nom_sucursal)">{{ data.nom_sucursal}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="display: flex; align-items: center;">
              <div class="contenedorTotal" matTooltip="Número de datos que se van a cargar en el sistema.">
                <div id="t-editar" class="circulo circuloTotal"></div>
                <div>{{establecimientosCorrectos}}</div>
              </div>
              <mat-paginator id="pagina" [length]="Datasucursales.length" [pageSize]="tamanio_paginaMul"
                    [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPaginaMulti($event)"
                    showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<!--  ********************  VER DEPARTAMETOS DE SUCURSALES  ************************  -->
<app-ver-sucursal *ngIf="ver_departamentos" [idSucursal]="sucursal_id" [idDepartamentosAcceso]="idDepartamentosAcceso" [pagina_]="pagina"></app-ver-sucursal>
