.btn {
    background-color: rgb(80, 87, 97);
    color: white;
}

p {
    font-size: x-small;
    text-align: center;
}



/* Estilo para las celdas de la tabla */
th, td {
    padding: 8px;
    text-align: center;
    white-space: nowrap; /* Evita el ajuste de texto en las celdas */
    border-bottom: 1px solid #dee2e6;
}

td {
    padding-top: 10px;
    vertical-align: middle;
}

th {
    font-size: small;
}

button {
    margin: 5px 10px 5px 10px;
}

table {
    width: 100%;
    font-size: 12px;
}

.scrollme {
    overflow-x: scroll;
}

/* Contenedor para manejar el scroll horizontal */
.table-wrapper {
    overflow-x: auto; /* Permite el scroll horizontal si la tabla excede el ancho del contenedor */
    display: block;
}
