<br>

<div class="mat-elevation-z8" style="background: white;">
    <div class="d-flex bd-highlight" id="resultados">

        <button class="btn btn-outline-light btn-sm" [routerLink]="['/roles/']"
            style="float: right; margin-right: 10px;">Atras</button>
        <span class="w-100 bd-highlight">
            FUNCIONES QUE TIENE EL ROL {{nombreRol}} </span>
        <button (click)="ConfirmarDelete()" class="btn btn-outline-light btn-sm"
            style="float: right; margin-right: 10px;">Eliminar</button>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr style="text-align: left;">
                    <th>
                        <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                            matTooltipPosition="right" matTooltip="Dar clic para activar selección múltiple."
                            id="SelectCheck" (click)="HabilitarSeleccion()">
                            library_add_check
                        </mat-icon>
                        <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterTogglePag() : null"
                            [checked]="selectionPaginas.hasValue() && isAllSelectedPag()"
                            [indeterminate]="selectionPaginas.hasValue() && !isAllSelectedPag()"
                            [aria-label]="checkboxLabelPag()">
                        </mat-checkbox>



                    </th>
                    <th scope="col">Funciones</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td></td>

                    <td>
                        <mat-form-field class="input-tables funcion" style="float: left;">
                            <input matInput placeholder="Buscar" [(ngModel)]="filtrofuncion" [formControl]="funcion"
                                type="text" (keypress)="IngresarSoloLetras($event)">
                        </mat-form-field>
                    </td>
                    <td></td>

                </tr>

                <tr *ngFor="let p of paginas | roles: filtrofuncion | paginate:tamanio_pagina:numero_pagina "
                    style="text-align: left;">
                    <td>
                        <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                            (change)="$event ? selectionPaginas.toggle(p) : null"
                            [checked]="selectionPaginas.isSelected(p)" [aria-label]="checkboxLabelPag(p)">
                        </mat-checkbox>
                    </td>
                    <td style="text-align: left;">{{p.funcion}}</td>
                    <td style="text-align: left;">{{MetodoParaMostrarAccion(p.id_accion)}}</td>

                </tr>
            </tbody>
        </table>
    </div>
    <mat-paginator id="pagina" [length]="paginas.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
        (page)="ManejarPagina($event)" showFirstLastButtons>
    </mat-paginator>
    <br>
</div>

<br>


<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div id="titulo">
        <span>FUNCIONES DEL SISTEMA</span>
    </div>
    <mat-card class="example-card mat-elevation-z8">
        <!-- Formulario Completo -->
        <mat-card-content>
            <div class="nota">
                <span>
                    Seleccionar las funciones o acciones que puede realizar el rol {{nombreRol}} dentro del sistema.
                </span>
            </div>
            <form [formGroup]="nuevoRolPermisoForm">
                <div class="container">
                    <div class="row">

                        <div class="col-sm">
                            <!-- Tabla de menu -->

                            <div class="d-flex flex-wrap justify-content-start">
                                <div class="modal-body" style="margin-left: 60px; padding-top: 15px;">
                                    <div class="container-fluid">
                                        <input class="form-check-input" type="checkbox" id="seleccionar"
                                            [(ngModel)]="isChecked" (change)="SeleccionarTodas(isChecked)"
                                            [ngModelOptions]="{standalone: true}">
                                        <label class="form-check-label" for="inlineCheckbox1"
                                            style="margin-left: 10px; font-size: 14px; color: blue; font-weight: bold;">
                                            Todos los links
                                        </label>
                                        <div class="row" style="text-align: center; padding-top: 10px;">
                                            <div class="col-md-6 col-lg-6 col-6"
                                                style="text-align:left; padding-bottom: 10px;"
                                                *ngFor="let n of nombresMenu; index as i" id="verticalLine">
                                                <input class="form-check-input" type="checkbox"
                                                    name="paginasSeleccionadas" id="paginasSeleccionadas{{i}}"
                                                    (change)="SeleccionarIndividual($event, n)"
                                                    style="text-align: center; margin-left: 10px;">
                                                <label style="margin-left: 30px; font-size: 14px;"
                                                    class="form-check-label" for="inlineCheckbox1">
                                                    {{n.nombre}}
                                                    <!--Acciones de las paginas-->


                                                </label>

                                                <div class="d-flex flex-wrap justify-content-start">
                                                    <div class="modal-body"
                                                        style="margin-left: 60px; padding-top: 15px;">
                                                        <div class="container-fluid">

                                                            <div class="row"
                                                                style="text-align: left; padding-top: 10px;"
                                                                *ngFor="let pagina of nombresAccionesPorPagina[n.id]; index as j">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="seleccionarAccion{{n.id}}"
                                                                    (change)="SeleccionarTodasAcciones($event, n.id)">

                                                                <label class="form-check-label" for="inlineCheckbox1"
                                                                    style="margin-left: 1px; font-size: 14px; color: green; font-weight: bold; padding-bottom: 10px;">
                                                                    Todos las acciones
                                                                </label>


                                                                <div class="col-md-6 col-lg-6 col-6"
                                                                    style="text-align:left; padding-bottom: 10px; "
                                                                    *ngFor="let accion of pagina; index as i">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        name="accionesSeleccionadasPorPagina"
                                                                        id="{{n.id}}accionesSeleccionadasPorPagina{{i}}"
                                                                        (change)="SeleccionarIndividualAccion($event, n.id, accion)">
                                                                    <label style="margin-left: 10px; font-size: 14px;"
                                                                        class="form-check-label" for="inlineCheckbox1">
                                                                        {{accion.accion}}
                                                                    </label>
                                                                </div>



                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>


                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="container" style="text-align: center;">
                <button id="btn-raised" class="btn btn-sm" (click)="InsertarPaginaRol()"
                    value="Guardar">Guardar</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>


<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div id="titulo">
        <span>MODULOS DEL SISTEMA</span>
    </div>
    <mat-card class="example-card mat-elevation-z8">
        <!-- Formulario Completo -->
        <mat-card-content>
            <div class="nota">
                <span>
                    Seleccionar las funciones o acciones que puede realizar el rol {{nombreRol}} dentro del sistema.
                </span>
            </div>
            <form [formGroup]="nuevoRolPermisoForm">
                <div class="container">
                    <div class="row">

                        <div class="col-sm">
                            <!-- Tabla de menu -->

                            <div class="d-flex flex-wrap justify-content-start">
                                <div class="modal-body" style="margin-left: 60px; padding-top: 15px;">
                                    <div class="container-fluid">
                                        <input class="form-check-input" type="checkbox" id="seleccionar"
                                            [(ngModel)]="isCheckedModulos" (change)="SeleccionarTodasModulos(isCheckedModulos)"
                                            [ngModelOptions]="{standalone: true}">
                                        <label class="form-check-label" for="inlineCheckbox1"
                                            style="margin-left: 10px; font-size: 14px; color: blue; font-weight: bold;">
                                            Todos los links
                                        </label>

                                        <div class="row" *ngIf="permisos">
                                            <div class="col-md-6 col-lg-6 col-6"
                                                style="text-align:left; padding-bottom: 10px;"
                                                *ngFor="let n of paginasModulos['permisos']; index as i"
                                                id="verticalLine">
                                                <input class="form-check-input" type="checkbox"
                                                    name="paginasSeleccionadas" id="paginasSeleccionadas{{i}}"
                                                    (change)="SeleccionarIndividualModulos($event, n, 'permisos')"
                                                    style="text-align: center; margin-left: 10px;">
                                                <label style="margin-left: 30px; font-size: 14px;"
                                                    class="form-check-label" for="inlineCheckbox1">
                                                    {{n.nombre}}
                                                    <!--Acciones de las paginas-->


                                                </label>

                                                <div class="d-flex flex-wrap justify-content-start">
                                                    <div class="modal-body"
                                                        style="margin-left: 60px; padding-top: 15px;">
                                                        <div class="container-fluid">

                                                            <div class="row"
                                                                style="text-align: left; padding-top: 10px;"
                                                                *ngFor="let pagina of nombresAccionesPorPagina[n.id]; index as j">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="seleccionarAccion{{n.id}}"
                                                                    (change)="SeleccionarTodasAcciones($event, n.id)">

                                                                <label class="form-check-label" for="inlineCheckbox1"
                                                                    style="margin-left: 1px; font-size: 14px; color: green; font-weight: bold; padding-bottom: 10px;">
                                                                    Todos las acciones
                                                                </label>


                                                                <div class="col-md-6 col-lg-6 col-6"
                                                                    style="text-align:left; padding-bottom: 10px; "
                                                                    *ngFor="let accion of pagina; index as i">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        name="accionesSeleccionadasPorPagina"
                                                                        id="{{n.id}}accionesSeleccionadasPorPagina{{i}}"
                                                                        (change)="SeleccionarIndividualAccion($event, n.id, accion)">
                                                                    <label style="margin-left: 10px; font-size: 14px;"
                                                                        class="form-check-label" for="inlineCheckbox1">
                                                                        {{accion.accion}}
                                                                    </label>
                                                                </div>



                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>

                                        <div class="row" *ngIf="vacaciones">
                                            <div class="col-md-6 col-lg-6 col-6"
                                                style="text-align:left; padding-bottom: 10px;"
                                                *ngFor="let n of paginasModulos['vacaciones']; index as i"
                                                id="verticalLine">
                                                <input class="form-check-input" type="checkbox"
                                                    name="paginasSeleccionadas" id="paginasSeleccionadas{{i}}"
                                                    (change)="SeleccionarIndividualModulos($event, n, 'vacaciones')"
                                                    style="text-align: center; margin-left: 10px;">
                                                <label style="margin-left: 30px; font-size: 14px;"
                                                    class="form-check-label" for="inlineCheckbox1">
                                                    {{n.nombre}}
                                                    <!--Acciones de las paginas-->


                                                </label>

                                                <div class="d-flex flex-wrap justify-content-start">
                                                    <div class="modal-body"
                                                        style="margin-left: 60px; padding-top: 15px;">
                                                        <div class="container-fluid">

                                                            <div class="row"
                                                                style="text-align: left; padding-top: 10px;"
                                                                *ngFor="let pagina of nombresAccionesPorPagina[n.id]; index as j">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="seleccionarAccion{{n.id}}"
                                                                    (change)="SeleccionarTodasAcciones($event, n.id)">

                                                                <label class="form-check-label" for="inlineCheckbox1"
                                                                    style="margin-left: 1px; font-size: 14px; color: green; font-weight: bold; padding-bottom: 10px;">
                                                                    Todos las acciones
                                                                </label>


                                                                <div class="col-md-6 col-lg-6 col-6"
                                                                    style="text-align:left; padding-bottom: 10px; "
                                                                    *ngFor="let accion of pagina; index as i">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        name="accionesSeleccionadasPorPagina"
                                                                        id="{{n.id}}accionesSeleccionadasPorPagina{{i}}"
                                                                        (change)="SeleccionarIndividualAccion($event, n.id, accion)">
                                                                    <label style="margin-left: 10px; font-size: 14px;"
                                                                        class="form-check-label" for="inlineCheckbox1">
                                                                        {{accion.accion}}
                                                                    </label>
                                                                </div>



                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>


                                        <div class="row" *ngIf="horas_extras">
                                            <div class="col-md-6 col-lg-6 col-6"
                                                style="text-align:left; padding-bottom: 10px;"
                                                *ngFor="let n of paginasModulos['horas_extras']; index as i"
                                                id="verticalLine">
                                                <input class="form-check-input" type="checkbox"
                                                    name="paginasSeleccionadas" id="paginasSeleccionadas{{i}}"
                                                    (change)="SeleccionarIndividualModulos($event, n,'horas_extras')"
                                                    style="text-align: center; margin-left: 10px;">
                                                <label style="margin-left: 30px; font-size: 14px;"
                                                    class="form-check-label" for="inlineCheckbox1">
                                                    {{n.nombre}}
                                                    <!--Acciones de las paginas-->


                                                </label>

                                                <div class="d-flex flex-wrap justify-content-start">
                                                    <div class="modal-body"
                                                        style="margin-left: 60px; padding-top: 15px;">
                                                        <div class="container-fluid">

                                                            <div class="row"
                                                                style="text-align: left; padding-top: 10px;"
                                                                *ngFor="let pagina of nombresAccionesPorPagina[n.id]; index as j">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="seleccionarAccion{{n.id}}"
                                                                    (change)="SeleccionarTodasAcciones($event, n.id)">

                                                                <label class="form-check-label" for="inlineCheckbox1"
                                                                    style="margin-left: 1px; font-size: 14px; color: green; font-weight: bold; padding-bottom: 10px;">
                                                                    Todos las acciones
                                                                </label>


                                                                <div class="col-md-6 col-lg-6 col-6"
                                                                    style="text-align:left; padding-bottom: 10px; "
                                                                    *ngFor="let accion of pagina; index as i">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        name="accionesSeleccionadasPorPagina"
                                                                        id="{{n.id}}accionesSeleccionadasPorPagina{{i}}"
                                                                        (change)="SeleccionarIndividualAccion($event, n.id, accion)">
                                                                    <label style="margin-left: 10px; font-size: 14px;"
                                                                        class="form-check-label" for="inlineCheckbox1">
                                                                        {{accion.accion}}
                                                                    </label>
                                                                </div>



                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>
                                        <div class="row" *ngIf="alimentacion">
                                            <div class="col-md-6 col-lg-6 col-6"
                                                style="text-align:left; padding-bottom: 10px;"
                                                *ngFor="let n of paginasModulos['alimentacion']; index as i"
                                                id="verticalLine">
                                                <input class="form-check-input" type="checkbox"
                                                    name="paginasSeleccionadas" id="paginasSeleccionadas{{i}}"
                                                    (change)="SeleccionarIndividualModulos($event, n, 'alimentacion')"
                                                    style="text-align: center; margin-left: 10px;">
                                                <label style="margin-left: 30px; font-size: 14px;"
                                                    class="form-check-label" for="inlineCheckbox1">
                                                    {{n.nombre}}
                                                    <!--Acciones de las paginas-->


                                                </label>

                                                <div class="d-flex flex-wrap justify-content-start">
                                                    <div class="modal-body"
                                                        style="margin-left: 60px; padding-top: 15px;">
                                                        <div class="container-fluid">

                                                            <div class="row"
                                                                style="text-align: left; padding-top: 10px;"
                                                                *ngFor="let pagina of nombresAccionesPorPagina[n.id]; index as j">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="seleccionarAccion{{n.id}}"
                                                                    (change)="SeleccionarTodasAcciones($event, n.id)">

                                                                <label class="form-check-label" for="inlineCheckbox1"
                                                                    style="margin-left: 1px; font-size: 14px; color: green; font-weight: bold; padding-bottom: 10px;">
                                                                    Todos las acciones
                                                                </label>


                                                                <div class="col-md-6 col-lg-6 col-6"
                                                                    style="text-align:left; padding-bottom: 10px; "
                                                                    *ngFor="let accion of pagina; index as i">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        name="accionesSeleccionadasPorPagina"
                                                                        id="{{n.id}}accionesSeleccionadasPorPagina{{i}}"
                                                                        (change)="SeleccionarIndividualAccion($event, n.id, accion)">
                                                                    <label style="margin-left: 10px; font-size: 14px;"
                                                                        class="form-check-label" for="inlineCheckbox1">
                                                                        {{accion.accion}}
                                                                    </label>
                                                                </div>



                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>

                                        <div class="row" *ngIf="acciones_personal">
                                            <div class="col-md-6 col-lg-6 col-6"
                                                style="text-align:left; padding-bottom: 10px;"
                                                *ngFor="let n of paginasModulos['acciones_personal']; index as i"
                                                id="verticalLine">
                                                <input class="form-check-input" type="checkbox"
                                                    name="paginasSeleccionadas" id="paginasSeleccionadas{{i}}"
                                                    (change)="SeleccionarIndividualModulos($event, n,'acciones_personal')"
                                                    style="text-align: center; margin-left: 10px;">
                                                <label style="margin-left: 30px; font-size: 14px;"
                                                    class="form-check-label" for="inlineCheckbox1">
                                                    {{n.nombre}}
                                                    <!--Acciones de las paginas-->


                                                </label>

                                                <div class="d-flex flex-wrap justify-content-start">
                                                    <div class="modal-body"
                                                        style="margin-left: 60px; padding-top: 15px;">
                                                        <div class="container-fluid">

                                                            <div class="row"
                                                                style="text-align: left; padding-top: 10px;"
                                                                *ngFor="let pagina of nombresAccionesPorPagina[n.id]; index as j">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="seleccionarAccion{{n.id}}"
                                                                    (change)="SeleccionarTodasAcciones($event, n.id)">

                                                                <label class="form-check-label" for="inlineCheckbox1"
                                                                    style="margin-left: 1px; font-size: 14px; color: green; font-weight: bold; padding-bottom: 10px;">
                                                                    Todos las acciones
                                                                </label>


                                                                <div class="col-md-6 col-lg-6 col-6"
                                                                    style="text-align:left; padding-bottom: 10px; "
                                                                    *ngFor="let accion of pagina; index as i">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        name="accionesSeleccionadasPorPagina"
                                                                        id="{{n.id}}accionesSeleccionadasPorPagina{{i}}"
                                                                        (change)="SeleccionarIndividualAccion($event, n.id, accion)">
                                                                    <label style="margin-left: 10px; font-size: 14px;"
                                                                        class="form-check-label" for="inlineCheckbox1">
                                                                        {{accion.accion}}
                                                                    </label>
                                                                </div>



                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>

                                        <div class="row" *ngIf="geolocalizacion">
                                            <div class="col-md-6 col-lg-6 col-6"
                                                style="text-align:left; padding-bottom: 10px;"
                                                *ngFor="let n of paginasModulos['geolocalizacion']; index as i"
                                                id="verticalLine">
                                                <input class="form-check-input" type="checkbox"
                                                    name="paginasSeleccionadas" id="paginasSeleccionadas{{i}}"
                                                    (change)="SeleccionarIndividualModulos($event, n, 'geolocalizacion')"
                                                    style="text-align: center; margin-left: 10px;">
                                                <label style="margin-left: 30px; font-size: 14px;"
                                                    class="form-check-label" for="inlineCheckbox1">
                                                    {{n.nombre}}
                                                    <!--Acciones de las paginas-->


                                                </label>

                                                <div class="d-flex flex-wrap justify-content-start">
                                                    <div class="modal-body"
                                                        style="margin-left: 60px; padding-top: 15px;">
                                                        <div class="container-fluid">

                                                            <div class="row"
                                                                style="text-align: left; padding-top: 10px;"
                                                                *ngFor="let pagina of nombresAccionesPorPagina[n.id]; index as j">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="seleccionarAccion{{n.id}}"
                                                                    (change)="SeleccionarTodasAcciones($event, n.id)">

                                                                <label class="form-check-label" for="inlineCheckbox1"
                                                                    style="margin-left: 1px; font-size: 14px; color: green; font-weight: bold; padding-bottom: 10px;">
                                                                    Todos las acciones
                                                                </label>


                                                                <div class="col-md-6 col-lg-6 col-6"
                                                                    style="text-align:left; padding-bottom: 10px; "
                                                                    *ngFor="let accion of pagina; index as i">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        name="accionesSeleccionadasPorPagina"
                                                                        id="{{n.id}}accionesSeleccionadasPorPagina{{i}}"
                                                                        (change)="SeleccionarIndividualAccion($event, n.id, accion)">
                                                                    <label style="margin-left: 10px; font-size: 14px;"
                                                                        class="form-check-label" for="inlineCheckbox1">
                                                                        {{accion.accion}}
                                                                    </label>
                                                                </div>



                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>

                                        <div class="row" *ngIf="timbre_virtual">
                                            <div class="col-md-6 col-lg-6 col-6"
                                                style="text-align:left; padding-bottom: 10px;"
                                                *ngFor="let n of paginasModulos['timbre_virtual']; index as i"
                                                id="verticalLine">
                                                <input class="form-check-input" type="checkbox"
                                                    name="paginasSeleccionadas" id="paginasSeleccionadas{{i}}"
                                                    (change)="SeleccionarIndividualModulos($event, n,'timbre_virtual')"
                                                    style="text-align: center; margin-left: 10px;">
                                                <label style="margin-left: 30px; font-size: 14px;"
                                                    class="form-check-label" for="inlineCheckbox1">
                                                    {{n.nombre}}
                                                    <!--Acciones de las paginas-->


                                                </label>

                                                <div class="d-flex flex-wrap justify-content-start">
                                                    <div class="modal-body"
                                                        style="margin-left: 60px; padding-top: 15px;">
                                                        <div class="container-fluid">

                                                            <div class="row"
                                                                style="text-align: left; padding-top: 10px;"
                                                                *ngFor="let pagina of nombresAccionesPorPagina[n.id]; index as j">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="seleccionarAccion{{n.id}}"
                                                                    (change)="SeleccionarTodasAcciones($event, n.id)">

                                                                <label class="form-check-label" for="inlineCheckbox1"
                                                                    style="margin-left: 1px; font-size: 14px; color: green; font-weight: bold; padding-bottom: 10px;">
                                                                    Todos las acciones
                                                                </label>


                                                                <div class="col-md-6 col-lg-6 col-6"
                                                                    style="text-align:left; padding-bottom: 10px; "
                                                                    *ngFor="let accion of pagina; index as i">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        name="accionesSeleccionadasPorPagina"
                                                                        id="{{n.id}}accionesSeleccionadasPorPagina{{i}}"
                                                                        (change)="SeleccionarIndividualAccion($event, n.id, accion)">
                                                                    <label style="margin-left: 10px; font-size: 14px;"
                                                                        class="form-check-label" for="inlineCheckbox1">
                                                                        {{accion.accion}}
                                                                    </label>
                                                                </div>



                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>

                                        <div class="row" *ngIf="reloj_virtual">
                                            <div class="col-md-6 col-lg-6 col-6"
                                                style="text-align:left; padding-bottom: 10px;"
                                                *ngFor="let n of paginasModulos['reloj_virtual']; index as i"
                                                id="verticalLine">
                                                <input class="form-check-input" type="checkbox"
                                                    name="paginasSeleccionadas" id="paginasSeleccionadas{{i}}"
                                                    (change)="SeleccionarIndividualModulos($event, n,'reloj_virtual')"
                                                    style="text-align: center; margin-left: 10px;">
                                                <label style="margin-left: 30px; font-size: 14px;"
                                                    class="form-check-label" for="inlineCheckbox1">
                                                    {{n.nombre}}
                                                    <!--Acciones de las paginas-->


                                                </label>

                                                <div class="d-flex flex-wrap justify-content-start">
                                                    <div class="modal-body"
                                                        style="margin-left: 60px; padding-top: 15px;">
                                                        <div class="container-fluid">

                                                            <div class="row"
                                                                style="text-align: left; padding-top: 10px;"
                                                                *ngFor="let pagina of nombresAccionesPorPagina[n.id]; index as j">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="seleccionarAccion{{n.id}}"
                                                                    (change)="SeleccionarTodasAcciones($event, n.id)">

                                                                <label class="form-check-label" for="inlineCheckbox1"
                                                                    style="margin-left: 1px; font-size: 14px; color: green; font-weight: bold; padding-bottom: 10px;">
                                                                    Todos las acciones
                                                                </label>


                                                                <div class="col-md-6 col-lg-6 col-6"
                                                                    style="text-align:left; padding-bottom: 10px; "
                                                                    *ngFor="let accion of pagina; index as i">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        name="accionesSeleccionadasPorPagina"
                                                                        id="{{n.id}}accionesSeleccionadasPorPagina{{i}}"
                                                                        (change)="SeleccionarIndividualAccion($event, n.id, accion)">
                                                                    <label style="margin-left: 10px; font-size: 14px;"
                                                                        class="form-check-label" for="inlineCheckbox1">
                                                                        {{accion.accion}}
                                                                    </label>
                                                                </div>



                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>










                                    </div>
                                </div>
                            </div>



                        </div>


                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="container" style="text-align: center;">
                <button id="btn-raised" class="btn btn-sm" (click)="InsertarPaginaModulosRol()"
                    value="Guardar">Guardar</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>