td {
    padding-top: 10px;
    text-align: center;
}

table {
    width: 100%;
    font-size: 12px;
}

mat-form-field {
   margin: 0px 10px 0px 10px;
   width: 200px;

   input{
    font-size: large;
   }
}

mat-label {
    font-size: 15px;
}

.fas { color:green; margin-right: 15px; cursor: pointer; }

.far { color:red; margin-right: 15px; cursor: pointer; }