<div class="container" style="padding-top: 20px; padding-bottom: 25px;">
  <div class="d-flex bd-highlight" id="titulo">
    <div class="w-100 bd-highlight">
      <h5>MÓDULOS DEL SISTEMA</h5>
    </div>
  </div>
  <br>
  <div class="row" style="text-align: center;">
    <div class="col-md">
      <div class="d-flex justify-content-center flex-wrap">
        <button class="btn btn-lg d-flex justify-content-center boton-uno" (click)="MenuRapido(1)" *ngIf="permisos">
          <mat-icon class="icon-menu align-self-center">insert_emoticon</mat-icon>
          <span class="align-self-center">Permisos</span>
        </button>
        <button class="btn btn-lg d-flex justify-content-center boton-inactivo" (click)="MenuRapido(1)"
          *ngIf="!permisos">
          <mat-icon class="icon-menu align-self-center">insert_emoticon</mat-icon>
          <span class="align-self-center">Permisos</span>
        </button>

        <button class="btn btn-lg d-flex justify-content-center boton-dos" (click)="MenuRapido(2)" *ngIf="vacaciones">
          <mat-icon class="icon-menu align-self-center">flight</mat-icon>
          <span class="align-self-center">Vacaciones</span>
        </button>
        <button class="btn btn-lg d-flex justify-content-center boton-inactivo" (click)="MenuRapido(2)"
          *ngIf="!vacaciones">
          <mat-icon class="icon-menu align-self-center">flight</mat-icon>
          <span class="align-self-center">Vacaciones</span>
        </button>

        <button class="btn btn-lg d-flex justify-content-center boton-tre" (click)="MenuRapido(3)" *ngIf="horasExtras">
          <mat-icon class="icon-menu align-self-center">schedule</mat-icon>
          <span class="align-self-center">Horas Extras</span>
        </button>
        <button class="btn btn-lg d-flex justify-content-center boton-inactivo" (click)="MenuRapido(3)"
          *ngIf="!horasExtras">
          <mat-icon class="icon-menu align-self-center">schedule</mat-icon>
          <span class="align-self-center">Horas Extras</span>
        </button>

      </div>
    </div>

    <div class="col-md">
      <div class="d-flex justify-content-center flex-wrap">
        <button class="btn btn-lg d-flex justify-content-center boton-cua" (click)="MenuRapido(4)" *ngIf="alimentacion">
          <mat-icon class="icon-menu align-self-center">local_dining</mat-icon>
          <span class="align-self-center">Alimentación</span>
        </button>
        <button class="btn btn-lg d-flex justify-content-center boton-inactivo" (click)="MenuRapido(4)"
          *ngIf="!alimentacion">
          <mat-icon class="icon-menu align-self-center">local_dining</mat-icon>
          <span class="align-self-center">Alimentación</span>
        </button>

        <button class="btn btn-lg d-flex justify-content-center boton-ocho" (click)="MenuRapido(8)" *ngIf="teletrabajo">
          <mat-icon class="icon-menu align-self-center">computer</mat-icon>
          <span class="align-self-center">Timbre Teletrabajo</span>
        </button>
        <button class="btn btn-lg d-flex justify-content-center boton-inactivo" (click)="MenuRapido(8)"
          *ngIf="!teletrabajo">
          <mat-icon class="icon-menu align-self-center">computer</mat-icon>
          <span class="align-self-center">Timbre Teletrabajo</span>
        </button>

        <button class="btn btn-lg d-flex justify-content-center boton-cin" (click)="MenuRapido(5)" *ngIf="accion">
          <mat-icon class="icon-menu align-self-center">how_to_reg</mat-icon>
          <span class="align-self-center">Acciones Personal</span>
        </button>
        <button class="btn btn-lg d-flex justify-content-center boton-inactivo" (click)="MenuRapido(5)" *ngIf="!accion">
          <mat-icon class="icon-menu align-self-center">how_to_reg</mat-icon>
          <span class="align-self-center">Acciones Personal</span>
        </button>

      </div>
    </div>
  </div>
